<!doctype html>
<html class="no-js">
<head>
  <include file="./Apps/WebApp/View/default/common_meta.html" />
  <title>收货地址管理 - {$CONF['mallTitle']}</title>
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/common.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/wst_page_common.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/address.css?v={$WST_V}">
</head>
<body>

  <div class="wst-page" id="wst-page1">
    <div class="wst-nav">
      <div class="am-g">
        <div class="am-u-sm-1 wst-nav-left">
          <a href="{:U('WebApp/Users/index')}" class="wst-back"><i class="am-icon-angle-left am-icon-sm"></i></a>
        </div>
        <div class="am-u-sm-11 wst-nav-center">
          <h2 class="am-header-title" style="margin:0;">我的地址</h2>
          <a href="#addNewAddress" class="add-new-address">新增</a>
        </div>
      </div>
    </div> 
    <input type="hidden" value="{$provinceId}" id="provinceId" autocomplete="off">
    <div class="address-container">
      <empty name="addressList">
        <div style="text-align:center;font-size:20px;line-height:80px;">
        没有收货地址
        </div>
      </empty>
      <volist name="addressList" key="k" id="vo">

        <a href="#editAddress&{$vo['addressId']}" class="address-link">
          <div class="address-row <?php if($k!=1){ echo 'not-first';}?>">
            {$vo['userName']} &nbsp; {$vo['userPhone']}<br>
            {$vo['areaName']} &nbsp; {$vo['address']}
          </div>
        </a>

      </volist>
    </div>
  </div>
  <div class="wst-page wst-page2" id="wst-page2" style="display:none;padding-top:32px;"></div>

  <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="wst-default-loading">
    <div class="am-modal-dialog">
      <div class="am-modal-hd">Loading...</div>
      <div class="am-modal-bd">
        <span class="am-icon-spinner am-icon-spin"></span>
      </div>
    </div>
  </div>
  <div class="am-modal am-modal-confirm" tabindex="-1" id="wst-confirm">
    <div class="am-modal-dialog">
      <div class="am-modal-hd" id="confirmMsg"></div>
      <div class="am-modal-footer">
        <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        <span class="am-modal-btn" data-am-modal-confirm>确定</span>
      </div>
    </div>
  </div>

  <include file="./Apps/WebApp/View/default/common_footer.html" />  
  <include file="./Apps/WebApp/View/default/address_edit.html" /><!-- 新增收货地址模板 -->  
  
  <include file="./Apps/WebApp/View/default/common_js.html" /> 
  <script src="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/js/handlebars.min.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/js/amazeui.widgets.helper.min.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/wst_page_common.js?v={$WST_V}"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/address.js?v={$WST_V}"></script>
</body>
</html>