<script type="text/x-handlebars-template" id="addressForOrder">
 
  <header data-am-widget="header" class="am-header am-header-default am-header-fixed wst-inner-page-nav">
    <div class="am-header-left am-header-nav">
      <a href="#"><i class="am-icon-angle-left am-icon-sm"></i></a>
    </div>
    <h1 class="am-header-title" style="margin:0 10%;">我的地址</h1>
  </header> 
  
  <div class="address-container">
    {{#each addressList}}
      <div class="am-g am-g-collapse address-row" onclick="javascript:changeAddress(this,{{addressId}},'{{userName}}','{{userPhone}}','{{areaName}}','{{address}}');">
        <div class="am-u-sm-11">
          {{userName}} &nbsp; {{userPhone}}<br>
          {{areaName}} &nbsp; {{address}}
        </div>
        <div class="am-u-sm-1 select-icon" style="padding-top:13px;">
          {{#compare ../addressIdSelected addressId}}<i class="am-icon-check usersex-check address-selected"></i>{{/compare}}
        </div>
      </div>
    {{/each}}
  </div>

</script>