<div class="am-g wst-msg-modal" id="wst-msg-modal">
  <div class="am-u-sm-12 am-u-sm-centered" style="text-align:center;">
    <span class="wst-modal-content" id="wst-modal-content"></span>
  </div>
</div>
<div class="wst-to-top" id="toTop">
  <i class="am-icon-arrow-up wst-to-top-icon"></i>
</div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default" id="wst-footer" style="border-top:1px solid #D1D1D3;">
  <ul class="am-navbar-nav am-cf am-avg-sm-4" style="background-color:white;">
      <li>
        <a href="{:U('WebApp/Index/index/')}" class="footer-link" id="home"></a>
      </li>
      <li>
        <a href="javascript:void(0);" onclick="javascript:toGoodsCat();" class="footer-link" id="category"></a>
      </li>
      <li>
        <a href="{:U('WebApp/Cart/index/')}" class="footer-link" id="cart">
            <span class="am-badge am-badge-danger am-round" style="position:relative;top:-45px;left:10px;" id="cartGoodsNum"><?php $cartNum = WSTCartNum();if($cartNum>0){ echo $cartNum;}?></span>
        </a>
      </li>
      <li>
        <a href="{:U('WebApp/Users/index/')}" class="footer-link" id="users"></a>
      </li>
  </ul>
</div>