<div class="wst-nav">
  <div class="am-g">
    <div class="am-u-sm-3 wst-nav-left" style="padding-right:0;">
      <a href="#changeCity">
        <img src="__ROOT__/Apps/WebApp/View/default/images/location.png" class="city-icon">
        <span class="am-header-nav-title" id="cityName"><?php echo session('areaName2');?></span>
      </a>
    </div>
    <div class="am-u-sm-7 wst-nav-center">
      <div class="am-form-group am-form-icon wst-home-search">
        <i class="am-icon-search" style="color:#A1A09E;"></i>
        <input type="text" id="wst-nav-search" class="am-form-field am-round am-input-sm" placeholder="搜索<?php if(CONTROLLER_NAME=='Shops'){ echo '商家';}else{ echo '商品';}?>" value="{$searchKey}">
      </div>
    </div>
    <div class="am-u-sm-2 wst-nav-right"><span onclick="javascript:WSTSearch(<?php if(CONTROLLER_NAME=='Shops'){ echo 1;}?>);">搜索</span></div>
  </div>
</div> 
