<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript">
	var WST = ThinkPHP = window.Think = {
        "ROOT"   : "__ROOT__",
        "APP"    : "__APP__",
        "PUBLIC" : "__PUBLIC__",
        "DEEP"   : "{:C('URL_PATHINFO_DEPR')}",
        "MODEL"  : ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
        "VAR"    : ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"],
        "DEFAULT_IMG": "{:WSTDomain()}/{$CONF['goodsImg']}",
        "VERSION": "1.7.0_160628",
		'defaultAreaName': "<?php echo session('defaultAreaName');?>",//默认城市
		'defaultAreaId': "<?php echo session('defaultAreaId');?>",	//默认城市的id
		'areaId2': "<?php echo session('areaId2');?>",	//当前城市的id
		'areaName2': "<?php echo session('areaName2');?>",	//当前城市的名称
		'locationFrom': "<?php echo $locationFrom;?>",
		'gaodeurl': "http://webapi.amap.com/maps?v=1.3&key=b08c0e3bf90e1122a0fa628c33d72201&callback=mapCallback"	//高德地图URL和密钥
	}
</script>
<script src="__PUBLIC__/js/think.js?v={$WST_V}"></script>
<script src="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/js/amazeui.min.js"></script>
<script src="__ROOT__/Apps/WebApp/View/default/js/fastclick.min.js"></script>
<script src="__ROOT__/Apps/WebApp/View/default/js/echo.min.js"></script>
<script src="__ROOT__/Apps/WebApp/View/default/js/common.js?v={$WST_V}"></script>