<script type="text/x-handlebars-template" id="byEmail">
    
  <header data-am-widget="header" class="am-header am-header-default am-header-fixed wst-inner-page-nav">
      <div class="am-header-left am-header-nav">
        <a href="#"><i class="am-icon-angle-left am-icon-sm"></i></a>
      </div>
      <h1 class="am-header-title" style="margin:0 10%;">通过邮箱找回密码</h1>
    </header>

    <div class="am-g findpwd-area">
      <div class="am-u-md-12">
        <span style="display:block;">用户名： <span id="username"></span></span>
        <span style="display:block;">邮箱： <span id="email"></span></span>
        <fieldset class="am-form-set">
          <div class="am-form">
            <div class="am-g">
              <div class="am-u-sm-6">
                <input type="text" class="am-form-field wst-verifyCode" id="eVerifyCode" name="eVerifyCode" placeholder="验证码" style="border-radius: 5px;height: 40px;">
              </div>
              <div class="am-u-sm-6 verifyImg-area">
                <img class='email-verifyImg verifyImg' id="email-verifyImg" src='__ROOT__/Apps/WebApp/View/default/images/clickForVerify.png' title='刷新验证码' onclick="javascript:getVerify('email-verifyImg');"/> 
              </div>
            </div>
          </div>
        </fieldset>
        <button type="button" class="am-btn am-btn-block wst-login-button" id="eButton" onclick="javascript:sendEmailCode();">发送验证邮件</button>
      </div>
    </div>
</script>