<!doctype html>
<html class="no-js">
<head>
  <include file="./Apps/WebApp/View/default/common_meta.html" />
  <title>找回密码 - {$CONF['mallTitle']}</title>
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/common.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/wst_page_common.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/login.css?v={$WST_V}">
</head>
<body>
  <div class="wst-page wst-page1" id="wst-page1">

    <div class="wst-nav">
      <div class="am-g">
        <div class="am-u-sm-12 wst-nav-center">
          <h2 class="am-header-title" style="margin:0 10%;">找回方式</h2>
        </div>
      </div>
    </div> 
    
    <input type="hidden" value="{$userInfo['loginName']}" id="loginName" autocomplete="off">
    <input type="hidden" value="{$userInfo['userPhone']}" id="userPhone" autocomplete="off">
    <input type="hidden" value="{$userInfo['userEmail']}" id="userEmail" autocomplete="off">
    <div class="forgetpwd-container">
    <?php if($userInfo['userPhone']!=''){ ?>
      <a href="#byPhone">
        <div class="am-g forgetpwd-row">
          <div class="am-u-sm-6">通过手机找回</div>
          <div class="am-u-sm-6 options-right"><i class="am-icon-angle-right am-icon-sm"></i>
          </div>
        </div>
      </a>
    <?php }else{ ?>
      <div class="am-g forgetpwd-row">
        <div class="am-u-sm-12">没有预留手机号码，请尝试用邮箱找回！</div>
      </div>
    <?php } ?>
    <?php if($userInfo['userEmail']!=''){ ?>
      <a href="#byEmail">
        <div class="am-g forgetpwd-row">
          <div class="am-u-sm-6">通过邮箱找回</div>
          <div class="am-u-sm-6 options-right"><i class="am-icon-angle-right am-icon-sm"></i>
          </div>
        </div>
      </a>
    <?php }else{ ?>
      <div class="am-g forgetpwd-row">
        <div class="am-u-sm-12">没有预留邮箱，请尝试用手机号码找回！</div>
      </div>
    <?php } ?>
    </div>

  </div>
  <div class="wst-page wst-page2" id="wst-page2" style="display:none;"></div>

  <include file="./Apps/WebApp/View/default/find_password_by_phone.html" />
  <include file="./Apps/WebApp/View/default/find_password_by_email.html" />
  <include file="./Apps/WebApp/View/default/common_footer.html" />   
  <include file="./Apps/WebApp/View/default/common_js.html" /> 
  
  <script src="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/js/handlebars.min.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/js/amazeui.widgets.helper.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/wst_page_common.js?v={$WST_V}"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/login.js?v={$WST_V}"></script>
</body>
</html>