<script type="text/x-handlebars-template" id="byPhone">
    
  <header data-am-widget="header" class="am-header am-header-default am-header-fixed wst-inner-page-nav">
      <div class="am-header-left am-header-nav">
        <a href="#"><i class="am-icon-angle-left am-icon-sm"></i></a>
      </div>
      <h1 class="am-header-title" style="margin:0 10%;">通过手机找回密码</h1>
    </header>

    <div class="am-g findpwd-area">
      <div class="am-u-md-12">
        <span style="display:block;">用户名： <span id="username"></span></span>
        <span style="display:block;">手机号码： <span id="phone"></span></span>
        <fieldset class="am-form-set">
          <div class="am-form">
            <div class="am-g">
              <div class="am-u-sm-6">
                <input type="text" class="am-form-field wst-verifyCode" id="pVerifyCode" name="pVerifyCode" placeholder="验证码" style="border-radius: 5px;height: 40px;">
              </div>
              <div class="am-u-sm-6 verifyImg-area">
                <img class='phone-verifyImg verifyImg' id="phone-verifyImg" src='__ROOT__/Apps/WebApp/View/default/images/clickForVerify.png' title='刷新验证码' onclick="javascript:getVerify('phone-verifyImg');"/> 
              </div>
              <div style="clear:both;"></div>
              <div class="am-u-sm-6">
                <input type="text" class="am-form-field wst-verifyCode" id="phoneVerify" name="phoneVerify" placeholder="请输入短信验证码" style="border-radius: 5px;height: 40px;margin-top:18px;">
              </div>
              <div class="am-u-sm-6">
                <button type="button" class="am-btn am-btn-block wst-login-button" id="pButton" onclick="javascript:sendSmsCode();">发送验证短信</button>
            </div>
          </div>
        </fieldset>
        <button type="button" class="am-btn am-btn-block wst-login-button" id="pToNext" onclick="javascript:toNextByPhone();" style="display:none;">下一步</button>
      </div>
    </div>

</script>