<script type="text/x-handlebars-template" id="goods-appraises">
    
  <div class="am-form-group appraises-firstrow">
    <div class="am-u-sm-3">商品：</div>
    <div class="am-u-sm-9" id="goodsName"></div>
  </div>
  <div class="am-form-group">
    <div class="am-u-sm-3">商品得分：</div>
    <div class="am-u-sm-6 goods-appraises">
      {{#if goodsId}}
        {{#list info.goodsScore}}{{/list}}
      {{else}}
        {{#list 0}}{{/list}}
      {{/if}}
    </div>
    <div class="am-u-sm-3 goods-tips">
      <span class="appraises-tips goods-tips0" {{#if goodsId}}{{#compare info.goodsScore 1}}style="display:block;"{{/compare}}{{/if}}>很不满意</span>
      <span class="appraises-tips goods-tips1" {{#if goodsId}}{{#compare info.goodsScore 2}}style="display:block;"{{/compare}}{{/if}}>不满意</span>
      <span class="appraises-tips goods-tips2" {{#if goodsId}}{{#compare info.goodsScore 3}}style="display:block;"{{/compare}}{{/if}}>一般</span>
      <span class="appraises-tips goods-tips3" {{#if goodsId}}{{#compare info.goodsScore 4}}style="display:block;"{{/compare}}{{/if}}>满意</span>
      <span class="appraises-tips goods-tips4" {{#if goodsId}}{{#compare info.goodsScore 5}}style="display:block;"{{/compare}}{{/if}}>非常满意</span>
    </div>
  </div>
  <div class="am-form-group">
    <div class="am-u-sm-3">时效得分：</div>
    <div class="am-u-sm-6 time-appraises">
      {{#if goodsId}}
        {{#list info.timeScore}}{{/list}}
      {{else}}
        {{#list 1}}{{/list}}
      {{/if}}
    </div>
    <div class="am-u-sm-3 time-tips">
      <span class="appraises-tips time-tips0" {{#if goodsId}}{{#compare info.timeScore 1}}style="display:block;"{{/compare}}{{/if}}>很不满意</span>
      <span class="appraises-tips time-tips1" {{#if goodsId}}{{#compare info.timeScore 2}}style="display:block;"{{/compare}}{{/if}}>不满意</span>
      <span class="appraises-tips time-tips2" {{#if goodsId}}{{#compare info.timeScore 3}}style="display:block;"{{/compare}}{{/if}}>一般</span>
      <span class="appraises-tips time-tips3" {{#if goodsId}}{{#compare info.timeScore 4}}style="display:block;"{{/compare}}{{/if}}>满意</span>
      <span class="appraises-tips time-tips4" {{#if goodsId}}{{#compare info.timeScore 5}}style="display:block;"{{/compare}}{{/if}}>非常满意</span>
    </div>
  </div>
  <div class="am-form-group">
    <div class="am-u-sm-3">服务得分：</div>
    <div class="am-u-sm-6 service-appraises">
      {{#if goodsId}}
        {{#list info.serviceScore}}{{/list}}
      {{else}}
        {{#list 2}}{{/list}}
      {{/if}}
    </div>
    <div class="am-u-sm-3 service-tips">
      <span class="appraises-tips service-tips0" {{#if goodsId}}{{#compare info.serviceScore 1}}style="display:block;"{{/compare}}{{/if}}>很不满意</span>
      <span class="appraises-tips service-tips1" {{#if goodsId}}{{#compare info.serviceScore 2}}style="display:block;"{{/compare}}{{/if}}>不满意</span>
      <span class="appraises-tips service-tips2" {{#if goodsId}}{{#compare info.serviceScore 3}}style="display:block;"{{/compare}}{{/if}}>一般</span>
      <span class="appraises-tips service-tips3" {{#if goodsId}}{{#compare info.serviceScore 4}}style="display:block;"{{/compare}}{{/if}}>满意</span>
      <span class="appraises-tips service-tips4" {{#if goodsId}}{{#compare info.serviceScore 5}}style="display:block;"{{/compare}}{{/if}}>非常满意</span>
    </div>
  </div>
  <div class="am-form-group">
    <div class="am-u-sm-3">点评内容：</div>
    <div class="am-u-sm-9"></div>
  </div>
  <div class="am-form-group">
    <div class="am-u-sm-12">
      {{#if goodsId}}
        <p class="appraises-content">{{info.content}}</p>
      {{else}}
        <textarea rows="5" id="appraises" autocomplete="off" name=""></textarea>
      {{/if}}
    </div>
  </div>
  {{#if goodsId}}{{else}}
    <span class="am-btn am-btn-default" onclick="javascript:submitAppraises();">提交</span>
  {{/if}}
</script>