<!doctype html>
<html class="no-js">
<head>
  <include file="./Apps/WebApp/View/default/common_meta.html" />
  <title>商品分类 - {$CONF['mallTitle']}</title>
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/swiper.min.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/common.css?v={$WST_V}">
</head>
<body>
    <div class="wst-nav">
        <div class="am-g">
            <div class="am-u-sm-12 wst-nav-center">
                <h2 class="am-header-title" style="margin:0 10%;">商品分类</h2>
            </div>
        </div>
    </div>  
    <div class="cat-container">
        <div class="left-container">
            <div class="swiper-wrapper">
                <volist name="goodsCatList" key="k" id="vo">
                    <div cat="category-{$k}" class="swiper-slide wst-cat1 <?php if($k==1){ echo 'cat-active';}?>"><?php echo str_replace('、', '<br>',$vo['name']);?></div>
                </volist>
            </div>
        </div>
        <div class="right-container">
            <div class="catcontent">
                <volist name="goodsCatList" key="k" id="vo">
                  <div class="am-u-sm-12 cat1-div" id="category-{$k}" <?php if($k!=1){ echo 'style="display:none;"';}?>>
                    <volist name="vo['childList']" key="k2" id="vo2">
                        <span class="cat2-title" onclick="javascript:toGoodsList({$vo2['id']}, 'goodsCatId2');">{$vo2['name']}</span>
                        <ul class="am-avg-sm-2">
                            <volist name="vo2['childList']" key="k3" id="vo3">
                                <li class="cat-li"><a class="cat-a cat3-a" href="javascript:void(0);" onclick="javascript:toGoodsList({$vo3['id']}, 'goodsCatId3');">{$vo3['name']}</a></li>
                            </volist>
                            <?php if( count($vo2['childList'])%2 != 0 ){ ?>
                              <li class="cat-li"><a class="cat-a cat3-a" href="javascript:void(0);">&nbsp;</a></li>
                            <?php } ?>
                        </ul>
                    </volist>
                  </div>
                </volist>
            </div>
        </div>
    </div>
  <include file="./Apps/WebApp/View/default/common_footer.html" />
  <include file="./Apps/WebApp/View/default/common_js.html" /> 
  <script src="__ROOT__/Apps/WebApp/View/default/js/swiper.jquery.min.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/goods_category.js?v={$WST_V}"></script>
</body>
</html>