<!doctype html>
<html class="no-js">
<head>
  <include file="./Apps/WebApp/View/default/common_meta.html" />
  <title>我的 - {$CONF['mallTitle']}</title>
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/common.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/login.css?v={$WST_V}">
</head>
<body>

    <div class="wst-nav">
      <div class="am-g">
        <div class="am-u-sm-12 wst-nav-center">
          <h2 class="am-header-title" style="margin:0 10%;">重置密码</h2>
        </div>
      </div>
    </div> 

    <div class="am-g login-area">
      <div class="am-u-md-12">
          <fieldset class="am-form-set">
            <div class="am-form-group am-form-icon">
              <i class="am-icon-lock wst-login-icon"></i>
              <input type="text" class="am-form-field" id="loginPwd" placeholder="请输入新密码" autocomplete="off" style="border-radius: 5px;height: 40px;">
            </div>

            <div class="am-form-group am-form-icon">
              <i class="am-icon-lock wst-login-icon"></i>
              <input type="password" class="am-form-field" id="loginPwd2" placeholder="确认新密码" autocomplete="off" style="border-radius: 5px;height: 40px;">
            </div>
            
          </fieldset>
          <button type="button" class="am-btn am-btn-block wst-login-button" onclick="javascript:saveNewPassword();">确定</button>
      </div>
    </div>

  <include file="./Apps/WebApp/View/default/common_footer.html" />  
  <include file="./Apps/WebApp/View/default/common_js.html" /> 
  <script src="__ROOT__/Apps/WebApp/View/default/js/login.js?v={$WST_V}"></script>
</body>
</html>