<div class="wst-goods-hotsale-box" style="margin-top: 10px;">		
	<div class="hotsale-title">最近浏览商品</div>
	<volist name="goodslist" key="k" id="vo">
		<div class="hotsale-goods-box">
			<div class="hotsale-goods-img">
				<img class='lazyImg2' data-original="__ROOT__/{$vo['goodsThums']}" width="65" height="65" />
			</div>
			<div class="hotsale-goods-title">
				<a href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$vo['goodsId']))}">{$vo['goodsName']}</a>
				<div><span class="span1">￥{$vo['shopPrice']}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="span2">￥{$vo['marketPrice']}</span></div>
			</div>
			<div class="wst-clear"></div>
		</div>
	</volist>
</div>
<script>
$(function() {
	$('.lazyImg2').lazyload({ effect: "fadeIn",failurelimit : 10,threshold: 200,placeholder:WST.DEFAULT_IMG});
});
</script>