.wst-checkout li{
	background-image: url(../../../View/default/images/save_consignor.jpg);
	background-repeat: no-repeat;
	height:30px;
	width:145px;
}

.wst-checkout li:hover{
	background-image: url(../../../View/default/images/save_consignor.jpg);
	background-repeat: no-repeat;
	height:30px;
	width:145px;
	background-position: 0px -30px;
}

#succeed{text-align: center; margin-top: 30px;}
.success2{margin: 0 auto;}
.wst-chkod-blank{float: left; width: 400px; text-align: left;}
.wst-chkod-step{float: right; width: 590px; height: 40px; text-align: right; position: relative;}

.wst-chkod-step1{position: absolute; top: 30px; left: 150px;}
.wst-chkod-step2{position: absolute; top: 30px; left: 290px; color: #7ABD54;}
.wst-chkod-step3{position: absolute; top: 30px; left: 465px;}

#checkorderInfo{margin: 0 auto; margin-top: 40px; margin-bottom: 10px;}

.wst-chkod-subox{border: 1px solid #E9E9E9; border-top: 2px solid  #999999;}
.wst-chkod-title{line-height: 35px; background-color: #E9E9E9; font-weight: bold; font-size: 18px; padding-left: 10px;}

#consignee1{padding: 10px;line-height: 30px;}
#consignee2{padding: 10px; line-height: 30px; border: 2px solid #FF6600;}
#showaddinfo{padding-left:40px;}

.wst-chkod-s1-title{font-size: 15px;font-weight: bold;}

.wst-chkod-s1-upd{padding-left:50px;color: #999999;cursor:pointer;}
.wst-chkod-cg-title{font-size: 15px; font-weight: bold;}
.wst-opt-upd{padding-left:50px;color: #999999;cursor:pointer;}
.wst-opt-del{padding-left:10px;color: #999999;cursor:pointer;}

#address_form{padding-left: 40px;}

.wst-chkod-cg-pp{float: left; width: 100px; text-align: right;}
.wst-chkod-line35{line-height: 35px;}

.wst-chkod-cg-ads{float: left; width: 100px; text-align: right;}
.wst-chkod-area-box{float: left; width: 700px;}
.wst-chkod-cg-pno{float: left; width: 100px; text-align: right;}
.wst-chkod-cg-pno-box{float: left; width: 700px;}

.wst-chkod-cg-yb{float: left; width: 100px; text-align: right;}
.wst-chkod-sbx{padding-left:100px;margin:15px;cursor:pointer;}

.wst-chkod-pay{padding: 10px; border-bottom: 1px solid #E9E9E9;border-top: 1px solid #E9E9E9; line-height: 30px;}
.wst-chkod-pay-tt{font-size: 15px; font-weight: bold;}
#newaddress{padding-left: 40px;}

.wst-chkod-sh-tips{color: #999999}
.wst-chkod-dp-box{padding: 10px; border-bottom: 1px solid #E9E9E9; line-height: 30px;}
.wst-chkod-dp-hds{font-size: 15px; font-weight: bold;}

.wst-chkod-dp-pb1{width: 500px; float: left;}
.wst-chkod-dp-pb2{background-color: #FFE8E8;margin-top: 6px;margin-bottom: 6px;padding:6px;text-align: center;color:#CC0000;border: 1px solid #DB9A9A;}

.wst-chkod-dp-pb3{padding-top:6px;padding-bottom:6px;border-bottom: 1px solid #E9E9E9;}
.wst-chkod-dp-pb4{float: left; width: 566px; padding-left: 4px;}
.wst-chkod-dp-pb5{padding-left: 40px; background-color: #F7F7F7; border-bottom: 2px solid #C0C0C4;}

.wst-chkod-od-crt1{float: left; width: 150px; text-align: center;}
.wst-chkod-od-crt2{float: left; width: 120px; text-align: center;}
.wst-chkod-od-crt3{float: left; width: 140px; text-align: center;}
.wst-chkod-od-crt4{float: left; width: 200px; text-align: center;}

.wst-chkod-glist-tb{line-height: 35px; background-color: #E9E9E9; text-align: center;}

.wst-chkod-dp-box .selgoods{border-bottom: 1px dotted #E9E9E9;padding-bottom: 4px;}

.wst-chkod-glist-tt1{float: left; width: 570px; text-align: left;}
.wst-chkod-glist-tt2{float: left; width: 150px; text-align: center;}
.wst-chkod-glist-tt3{float: left; width: 120px; text-align: center;}
.wst-chkod-glist-tt4{float: left; width: 140px; text-align: center;}
.wst-chkod-glist-tt5{float: left; width: 200px; text-align: center;}

.wst-chkod-my1{width: 200px; float: left; text-align: right;}
.wst-chkod-my2{width: 100px; float: right; text-align: right;color:red;}

.wst-chkod-yy1{width: 200px; float: left; text-align: right;}
.wst-chkod-yy2{width: 100px; float: right; text-align: right;}

.wst-chkod-yf1{padding-right:10px;border:1px solid #eeeeee;padding:15px;text-align:right;}

.wst-chkod-shop-span{color: #E43E41; font-weight: bold;}
.wst-odetal-box{padding:0px;padding-top:10px;text-align:center;background-color:#ffffff;}
.wst-tab{border-collapse: collapse; }
.wst-tab-cpt{text-align:left;height:30px;font-weight:bold;}
.wst-tab tr{height:30px;}
.wst-tab tr td{border:1px solid #eeeeee;border:1px solid #eeeeee;margin:0 auto;}
.wst-td-title{width:100px;text-align:right;}
.wst-td-content{padding-left:6px;text-align:left;}
.wst-align-center{text-align:center;}
.wst-cart-total-money{border-left:0px;border-right:0px;border-bottom:0px;text-align:right;padding-right:5px;}
.wst-cart-order-txt{font-weight:bold;font-size:20px;}
.wst-cart-order-money{font-weight:bold;font-size:20px;color:red;}


















