@charset "utf-8";

/** 设置文本颜色 **/
.red {
	color: #D5182A;
}

.blue {
	color: #053EA6;
}

.white {
	color: #FFFFFF;
}

.orange {
	color: #FF6600;
}

.green {
	color: #008800;
}

.red_weight {
	color: #CF0404;
	font-weight: bold;
}

/** 设置背景颜色 **/
.bgcg {
	background-color: #F0F0F0;
}

.bgf7 {
	background-color: #F7F7F7;
}

.bgcw {
	background-color: #FFFFFF;
}

.bgbb {
	background-color: #BBBBBB;
}

.bge4 {
	background-color: #E42234;
}

.bg9c {
	background-color: #9C2626;
}

.bgef {
	background-color: #EFEFEF;
}

.bge6 {
	background-color: #E60012;
}

.bg9 {
	background-color: #999;
}

.bgf2 {
	background-color: #F2EAE3;
}

.bg00 {
	background-color: #0072D2;
}

.bgb8 {
	background-color: #B80002;
}

.bgbf {
	background-color: #BF001E;
}

.bgd5 {
	background-color: #D5182A;
}

.bgf5 {
	background-color: #f5f5f5;
}

.bg0 {
	background-color: #000000;
}

.bgf1 {
	background-color: #F1E1CF;
}

.bgwh {
	background-color: #fff;
}

.bgff {
	background-color: #FFF0F0;
}

.bgfa {
	background-color: #FAFAFA;
}

.bgffe {
	background-color: #FFE3E3;
}

.bgc5 {
	background-color: #C50009;
}

.bggray {
	background-color: #F1F1F1;
}

.bg80 {
	background-color: #808080;
}

.bgyellow {
	background-color: #FFD66A;
}

.bgyellow1 {
	background-color: #FFFFE1;
}

.bg {
	background-color: #FEEFEF;
}

/** 设置距离 **/
.m5 {
	margin: 5px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}

.mr20 {
	margin-right: 20px;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.ml5 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.ml15 {
	margin-left: 15px;
}

.ml20 {
	margin-left: 20px;
}

.p1 {
	padding: 1px;
}

.p5 {
	padding: 5px;
}

.p8 {
	padding: 8px;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.pt5 {
	padding-top: 5px;
}

.pt10 {
	padding-top: 10px;
}

.pt20 {
	padding-top: 20px;
}

.pr5 {
	padding-right: 5px;
}

.pr10 {
	padding-right: 10px;
}

.pr20 {
	padding-right: 20px;
}

.pb5 {
	padding-bottom: 5px;
}

.pb10 {
	padding-bottom: 10px;
}

.pb20 {
	padding-bottom: 20px;
}

.pl5 {
	padding-left: 5px;
}

.pl10 {
	padding-left: 10px;
}

.pl20 {
	padding-left: 20px;
}

.pl50 {
	padding-left: 50px;
}

.marZero {
	margin: 0;
}

.padZero {
	padding: 0;
}

/** 填充 **/
.blank5 {
	height: 5px;
}

.blank10 {
	height: 10px;
}

.blank20 {
	height: 20px;
}

.blank30 {
	height: 30px;
}

/** 设置行高 **/
.lineHeight20 {
	line-height: 20px;
}

.lineHeight30 {
	line-height: 30px;
}

.lineHeight40 {
	line-height: 40px;
}

.lineHeightNo {
	line-height: normal;
}

/** 设置宽度 **/
.w960 {
	width: 960px;
}

.w1000 {
	width: 960px;
}

.w1230 {
	width: 1230px;
}

/** 输入框尺寸 **/
.input50 {
	width: 50px;
	height: 22px;
}

.input100 {
	width: 100px;
	height: 22px;
}

.input150 {
	width: 150px;
	height: 22px;
}

.input200 {
	width: 200px;
	height: 22px;
}

.input300 {
	width: 300px;
	height: 22px;
}

.sta-txtArea {
	width: 500px;
	height: 80px;
}

/** 图标位置 **/
.b00 {
	background-position: 0 0;
}

.b01 {
	background-position: -30px 0;
}

.b02 {
	background-position: -60px 0;
}

.b03 {
	background-position: -90px 0;
}

.b04 {
	background-position: -120px 0;
}

.b05 {
	background-position: -150px 0;
}

.b06 {
	background-position: -180px 0;
}

.b07 {
	background-position: -210px 0;
}

.b08 {
	background-position: -240px 0;
}

.b09 {
	background-position: -270px 0;
}

.b010 {
	background-position: -300px 0;
}

.b011 {
	background-position: -330px 0;
}

.b012 {
	background-position: -360px 0;
}

.b013 {
	background-position: -390px 0;
}

.b014 {
	background-position: -420px 0;
}

.b015 {
	background-position: -450px 0;
}

.b016 {
	background-position: -480px 0;
}

.b10 {
	background-position: 0 -30px;
}

.b11 {
	background-position: -30px -30px;
}

.b12 {
	background-position: -60px -30px;
}

.b13 {
	background-position: -90px -30px;
}

.b14 {
	background-position: -120px -30px;
}

.b15 {
	background-position: -150px -30px;
}

.b16 {
	background-position: -180px -30px;
}

.b17 {
	background-position: -210px -30px;
}

.b18 {
	background-position: -240px -30px;
}

.b19 {
	background-position: -270px -30px;
}

.b110 {
	background-position: -300px -30px;
}

.b111 {
	background-position: -330px -30px;
}

.b112 {
	background-position: -360px -30px;
}

.b113 {
	background-position: -390px -30px;
}

.b114 {
	background-position: -420px -30px;
}

.b115 {
	background-position: -450px -30px;
}

.b116 {
	background-position: -480px -30px;
}

.b20 {
	background-position: 0 -60px;
}

.b21 {
	background-position: -30px -60px;
}

.b22 {
	background-position: -60px -60px;
}

.b23 {
	background-position: -90px -60px;
}

.b24 {
	background-position: -120px -60px;
}

.b25 {
	background-position: -150px -60px;
}

.b26 {
	background-position: -180px -60px;
}

.b27 {
	background-position: -210px -60px;
}

.b28 {
	background-position: -240px -60px;
}

.b29 {
	background-position: -270px -60px;
}

.b210 {
	background-position: -300px -60px;
}

.b211 {
	background-position: -330px -60px;
}

.b212 {
	background-position: -360px -60px;
}

.b213 {
	background-position: -390px -60px;
}

.b214 {
	background-position: -420px -60px;
}

.b215 {
	background-position: -450px -60px;
}

.b30 {
	background-position: 0 -90px;
}

.b31 {
	background-position: -30px -90px;
}

.b36 {
	background-position: -180px -90px;
}

.b315 {
	background-position: -450px -90px;
}

.b40 {
	background-position: 0 -120px;
}

.b45 {
	background-position: -150px -120px;
}

.b46 {
	background-position: -180px -120px;
}

.b410 {
	background-position: -300px -120px;
}

.b50 {
	background-position: 0 -150px;
}

.b51 {
	background-position: -30px -150px;
}

.b52 {
	background-position: -60px -150px;
}

.b53 {
	background-position: -90px -150px;
}

.b60 {
	background-position: 0 -180px;
}

.b65 {
	background-position: -150px -180px;
}

.b610 {
	background-position: -300px -180px;
}

.b71 {
	background-position: -30px -210px;
}

.b74 {
	background-position: -120px -210px;
}

.b75 {
	background-position: -150px -240px;
}

.b80 {
	background-position: 0 -240px;
}

.b82 {
	background-position: -60px -270px;
}

.b84 {
	background-position: -120px -270px;
}

.b85 {
	background-position: -150px -270px;
}

.b810 {
	background-position: -300px -240px;
}

.b90 {
	background-position: 0px -300px;
}

.b86 {
	background-position: -180px -270px;
}

.b100 {
	background-position: 0 -300px;
}

.b105 {
	background-position: -150px -300px;
}

.b106 {
	background-position: -180px -300px;
}

.b1010 {
	background-position: -300px -120px;
}

.b1011 {
	background-position: -330px -300px;
}

.b1015 {
	background-position: -300px -300px;
}

.b110 {
	background-position: 0 -360px;
}

.b120 {
	background-position: 0 -360px;
}

.b125 {
	background-position: -150px -360px;
}

.b128 {
	background-position: -240px -360px;
}

.b1215 {
	background-position: -300px -360px;
}

/** 项目点 **/
.dotRed,.dotGray {
	padding-left: 10px;
	background: url(../image/sprite.png) no-repeat;
}

.dotRed {
	background-position: -490px -30px;
}

.dotGray {
	background-position: -490px -55px;
}

/** 渐变 **/
.grad-red01 {
	background-image: -moz-linear-gradient(rgb(252, 0, 0), rgb(180, 80, 80)
		);
	background-image: -o-linear-gradient(rgb(252, 0, 0), rgb(180, 80, 80) );
	background-image: -webkit-linear-gradient(rgb(252, 0, 0),
		rgb(180, 80, 80) );
	background-image: linear-gradient(rgb(252, 0, 0), rgb(180, 80, 80) );
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		#FC0000, endColorstr = #B45050, GradientType = 0 );
	*zoom: 1;
}

.grad-gray01 {
	background-image: -moz-linear-gradient(rgb(199, 199, 199),
		rgb(230, 230, 230) );
	background-image: -o-linear-gradient(rgb(199, 199, 199),
		rgb(230, 230, 230) );
	background-image: -webkit-linear-gradient(rgb(199, 199, 199),
		rgb(230, 230, 230) );
	background-image: linear-gradient(rgb(199, 199, 199), rgb(230, 230, 230)
		);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		#C7C7C7, endColorstr = #E6E6E6, GradientType = 0 );
	*zoom: 1;
}

.grad-gray02 {
	background-image: -moz-linear-gradient(rgb(254, 254, 254),
		rgb(235, 235, 235) );
	background-image: -o-linear-gradient(rgb(254, 254, 254),
		rgb(235, 235, 235) );
	background-image: -webkit-linear-gradient(rgb(254, 254, 254),
		rgb(235, 235, 235) );
	background-image: linear-gradient(rgb(254, 254, 254), rgb(235, 235, 235)
		);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		#FEFEFE, endColorstr = #EBEBEB, GradientType = 0 );
	*zoom: 1;
}

/** 按钮 **/
.btn {
	display: inline-block;
}

.btn:hover {
	text-decoration: none;
}

.line {
	display: block;
	margin: 0 1px;
	padding-top: 1px;
}

.btn-red01 {
	display: block;
	*display: inline-block;
	padding: 0px 5px;
	background-color: #BF001E;
	color: #fff;
}

.btn-gray01 {
	display: block;
	*display: inline-block;
	padding: 0px 5px;
	color: #666;
	border-color: #bbb;
	border-style: solid;
	border-width: 0 1px;
	background-image: -webkit-linear-gradient(top, #fcfcfc, #e9e9e9);
	background-image: -moz-linear-gradient(top, #fcfcfc, #e9e9e9);
	background-image: -ms-linear-gradient(top, #fcfcfc, #e9e9e9);
	background-image: -o-linear-gradient(top, #fcfcfc, #e9e9e9);
	background-image: linear-gradient(top, #fcfcfc, #e9e9e9);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		#fcfcfc, endColorstr = #e9e9e9, GradientType = 0 );
}

.btn-yellow01 {
	display: block;
	*display: inline-block;
	color: #BB6A00;
	border-color: #FFD66A;
	border-style: solid;
	border-width: 0 1px;
	background-image: -webkit-linear-gradient(top, #FFFAE0, #FFF5C0);
	background-image: -moz-linear-gradient(top, #FFFAE0, #FFF5C0);
	background-image: -ms-linear-gradient(top, #FFFAE0, #FFF5C0);
	background-image: -o-linear-gradient(top, #FFFAE0, #FFF5C0);
	background-image: linear-gradient(top, #FFFAE0, #FFF5C0);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		#FFFAE0, endColorstr = #FFF5C0, GradientType = 0 );
}

.long_red_btn {
	display: block;
	*display: inline-block;
	border-top: 1px solid #DA3D34;
	border-bottom: 1px solid #8F0A01;
	color: #fff;
	_display: inline;
	*zoom: 1;
	background-image: -moz-linear-gradient(rgb(200, 2, 3), rgb(148, 9, 2) );
	background-image: -o-linear-gradient(rgb(200, 2, 3), rgb(148, 9, 2) );
	background-image: -webkit-linear-gradient(rgb(200, 2, 3), rgb(148, 9, 2)
		);
	background-image: linear-gradient(rgb(200, 2, 3), rgb(148, 9, 2) );
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		#C80203, endColorstr = #940902, GradientType = 0 );
}

/**三角**/
.angle {
	display: inline-block;
	width: 0;
	height: 0;
	*overflow: hidden;
}

.angle_width5 {
	border-width: 5px;
}

.angle_width3 {
	border-width: 3px;
}

.angle_l {
	border-style: dashed dashed dashed solid;
}

.angle_r {
	border-style: dashed solid dashed dashed;
}

.angle_t {
	border-style: solid dashed dashed dashed;
}

.angle_b {
	border-style: dashed dashed solid dashed;
}

.angle_l_gray {
	border-color: transparent transparent transparent #5B666B;
}

.angle_r_gray {
	border-color: transparent #5B666B transparent transparent;
}

.angle_t_gray {
	border-color: #5B666B transparent transparent transparent;
}

.angle_b_gray {
	border-color: transparent transparent #5B666B transparent;
}

.angle_t_white {
	border-color: #fff transparent transparent transparent;
}

.angle_l_red {
	border-color: transparent transparent transparent #D5182A;
}

.angle_t_red {
	border-color: #D5182A transparent transparent transparent;
}

/*虚线*/
.btd_s1 {
	border-top: 1px dashed #666;
}

.tc {
	text-align: center;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.di {
	display: inline;
}

.db {
	display: block;
}

.di {
	display: inline;
}

.ofh {
	overflow: hidden;
}

#contain {
	margin: 0 auto;
	width: 960px;
}

#pic_f1 {
	margin-top: 15px;
}

.Pref li.pro_note {
	background: none repeat scroll 0 0 transparent;
	color: #CB192E;
}

.c_red {
	color: #CB192E;
	font-family: Arial, "宋体", sans-serif;
}

.c_gray {
	color: #999999;
}

.mr10 {
	margin-right: 10px;
}

.mt10 {
	margin-top: 10px;
}

.ml10 {
	margin-left: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mr17 {
	margin-right: 17px;
}

.mr29 {
	margin-right: 29px;
}

.mt20 {
	margin-top: 20px;
}

.pl10 {
	padding-left: 10px;
}

.pb10 {
	padding-bottom: 10px;
}

.pt10 {
	padding-top: 10px;
}

.pt15 {
	padding-top: 15px;
}

.ptb15 {
	padding: 15px 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.w265 {
	width: 265px;
}

.w450 {
	width: 450px;
}

.w700 {
	width: 720px;
}

.h10 {
	height: 10px;
}

.h35 {
	height: 35px;
}

.w728 {
	width: 728px;
}

.w193 {
	width: 193px;
}

.w70 {
	width: 70px;
}

.w65 {
	width: 65px;
}

.w725 {
	width: 725px;
}