.wst-goods-search {
	border: 1px solid #D5D5D5;
}

.wst-goods-search .search-title {
	height: 36px;
	background-color: #f5f5f5;
	font-weight: bolder;
	line-height: 36px;
	padding-left: 15px;
}

.wst-goods-search .search-box {
	border-bottom: 2px dotted #D5D5D5;
	padding-bottom: 10px;
	line-height: 25px;
	padding-right: 30px;
	padding-top: 10px;
	margin-bottom: 6px;
}

.wst-goods-search .search-panel {
	padding-left: 30px;
	padding-right: 30px;
}

.search-items{position:relative;}

.wst-goods-search .search-box .search-items .items-title {
	width: 80px;
	float: left;
	font-weight: bolder;
}

.wst-goods-search .search-box .search-items .items {
	float: left;
	width: 1030px;
}

.search-items .items li {
	float: left;
	text-align: center;
	margin-top: 2px;
	margin-left: 5px;
	padding-left: 8px;
	padding-right: 8px;
}

.search-items .items li:hover {
	background-color: #e23e3d;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer
}

.search-items .items .searched {
	background-color: #e23e3d;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer
}

.wst-goods-search .search-box {
	
}

.search-box .wst-area-country .items {
	padding-left: 80px;
	margin-top: 6px;
}

.wst-goods-search .search-box .wst-area-country .items-title {
	width: 80px;
	float: left;
	font-weight: bolder;
}

.wst-goods-search .search-box .wst-area-country .items {
	float: left;
	width: 870px;
}

.wst-area-country .items li {
	float: left;
	text-align: center;
	margin-left: 5px;
	padding-left: 8px;
	padding-right: 8px;
}

.wst-area-country .items li:hover {
	background-color: #e23e3d;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer
}

.wst-area-country .items .searched {
	background-color: #e23e3d;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer
}

.wst-goods-search .search-box2 {
	padding-bottom: 10px;
	line-height: 25px;
	padding-right: 30px;
	padding-top: 10px;
	margin-bottom: 6px;
}

.wst-goods-search .search-box2 .search-items .items-title {
	width: 80px;
	float: left;
	font-weight: bolder;
}

.wst-goods-search .search-box2 .search-items .items {
	float: left;
	width: 840px;
}

.wst-goods-list {
	border: 1px solid #D5D5D5;
	margin-top: 10px;
}

.wst-goods-list .wst-goods-header {
	height: 30px;
	background-color: #f5f5f5;
	padding-top: 5px;
}

.wst-goods-list .wst-goods-header li {
	line-height: 25px;
	float: left;
	text-align: center;
	margin-left: 5px;
	padding-left: 8px;
	padding-right: 8px;
}

.wst-goods-list .wst-goods-header .licurr {
	background-color: #e23e3d;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer
}

.wst-goods-list .wst-goods-header li:hover {
	background-color: #e23e3d;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer
}

.wst-goods-list .wst-goods-header .searched{
	background-color: #e23e3d;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer
}
.wst-goods-page {
	padding-bottom: 10px;
}

.wst-goods-page .wst-goods-item {
	text-align: center;
	float: left;
	width: 190px;
	height: 274px;
	border: 2px solid #ffffff;
	margin-left: 7px;
	margin-top: 10px;
}

.wst-goods-page .wst-goods-item .wst-goods-img {
	height: 180px;
	line-height: 180px;
}

.wst-goods-page .wst-goods-item .goods-des {
	margin-top: 5px;
}

.wst-goods-page .wst-goods-item .goods-title {
	text-align: left;margin-left:2px;
	 height: 36px;
    overflow: hidden;
    padding-left: 2px;
}

.wst-goods-page .wst-goods-item .goods-price {
	text-align: left;
}

.wst-goods-item .goods-price .span1 {
	color: #e23e3d;
	font-weight: bolder;
}

.wst-goods-item .goods-price .span2 {
	color: #D5D5D5;
	text-decoration: line-through
}

.wst-goods-page .wst-goods-item .goods-buy {
	text-align: left;
}

.wst-goods-item .goods-buy .goods-left {
	float: left;
	width: 100px;
}

.wst-goods-item .goods-buy .goods-right {
	float: right;
	width: 85px;
	margin-right: 2px;
}


.wst-goods-header li s{
    background-image: url("../../../View/default/images/sprite.png");
    background-position: 0 0;
    display: inline-block;
    height: 11px;
    width: 12px;
}
.wst-goods-header li b{
    background-image: url("../../../View/default/images/sprite.png");
    background-position: 0 0;
    display: inline-block;
    height: 11px;
    width: 12px;
}

.wst-goods-header li:hover s{
    background-image: url("../../../View/default/images/sprite.png");
    background-position: -60 0;
    display: inline-block;
    height: 11px;
    width: 12px;
}

.wst-goods-header li:hover b{
    background-image: url("../../../View/default/images/sprite.png");
    background-position: -60 0;
    display: inline-block;
    height: 11px;
    width: 12px;
}

.wst-goods-list .wst-goods-header .bscurr{
	background-image: url("../../../View/default/images/sprite.png");
    background-position: -60 0;
    display: inline-block;
    height: 11px;
    width: 12px;
}

.wst-goods-list .wst-goods-header .bscurr_up{
	background-image: url("../../../View/default/images/sprite.png");
    background-position: -90 0;
    display: inline-block;
    height: 11px;
    width: 12px;
}
.rmb1{
	position:absolute;
	left:25px;top:11px;
	background: url("../../../View/default/images/icon_rmb.png") no-repeat;
    display: inline-block;
    height: 11px;
    width: 12px;
}
.rmb2{
	position:absolute;
	left:118px;top:11px;
	background: url("../../../View/default/images/icon_rmb.png") no-repeat;
    display: inline-block;
    height: 11px;
    width: 12px;
}


.goods-img {
    height: 180px;
    line-height: 172px;
    padding: 4px;
    width: 180px;
}

.goods-img img {
    max-height: 180px;
    max-width: 180px;
    vertical-align: middle;
}

.wst-goods-page li {
    border: 2px solid #e23e3d;
    border-radius: 5px;
    transition: all 0.1s ease 0s;
	-moz-transition: all 0.1s ease 0s; /* Firefox 4 */
	-webkit-transition: all 0.1s ease 0s; /* Safari å’Œ Chrome */
	-o-transition: all 0.1s ease 0s; /* Opera */
}

.wst-goods-page li:hover{
	border: 2px solid #e23e3d;
	background-color:#ffffff;
	transform:scale3d(1.2,1.2,1);
}

#wst-brand{height:28px;overflow:hidden;}
#wst-brand-tp{position:absolute;top:0px;right:-20px;border:1px solid green;cursor: pointer}

.wst-glist-price{width:85px;height:25px;padding-left:20px;}
.wst-glist-cofm{width:50px;height:25px;}



