.layer-photos-appraise img{
	margin-right:5px;
	width:50px;
	height:50px;
	cursor:pointer;
}

.wst-goods-details .details-left {
	float: left;
	width: 980px;
	min-height: 478px;
}

.wst-goods-details .details-right {
	float: right;
	width: 222px;
	height: 478px;
	background-image: url(../../../View/default/images/bg_storeinfo.png);
	background-repeat: no-repeat;
}

.goods-des-tab .des-title {
	font-weight: bolder;
	line-height:35px;
	font-size:17px;
}

.des-chux {
	font-weight: bolder;
	background-color: #fef4e8;
	height: 52px;
	line-height: 52px;
	padding-left: 20px;
	margin-bottom: 10px;
}

.des-chux span {
	font-weight: bolder;
	color: #fb4f1c;
}

.goods-des-tab .des-title-span {
	display: inline-block;
	width: 70px;
	text-align:right;
}

.details-left .goods-img-box {
	float: left;
	width: 350px;
	height: 350px;
}

.details-left .goods-des-box {
	float: right;
	width: 610px;
}

.goods-des-box .goods-des-tab {
	width: 600px;
	font-size: 13px;
}

.goods-des-box .goods-des-tab tr {
	height: 35px;
}
.goods-des-box .goods-des-tab tr.goods-attr{
	height: auto;
}
.goods-des-box .goods-des-tab tr td {
	vertical-align: top;
}

.details-right .details-tab {
	width: 222px;
	margin-top: 70px;
	font-size: 13px;
}

.details-right .details-tab tr {
	height: 35px;
}

.details-right .details-tab tr td {
	vertical-align: top;
}

.details-right .details-tab tr .title {
	width: 70px;
	color: #e23e3d;
	padding-left: 10px;
}

.wst-shop-eval {
	text-align: center;
}

.wst-shop-eval li {
	float: left;
	width: 70px;
}

.wst-shop-eval .li-center {
	border-left: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;
}

.wst-shop-eval {
	width: 214px;
	margin: 0 auto;
}

.goods-des-tab .goods-buy-cnt {
	position: relative;
	width: 118px;
	height: 36px;
	
	background-image: url(../../../View/default/images/btn_count.png);
	background-repeat: no-repeat;
}

.wst-container .wst-goods-pdetails {
	min-height: 300px;
	margin-top: 10px;
}

.wst-goods-pdetails .wst-goods-pdetails-left {
	float: left;
	width: 240px;
	min-height: 420px;
}

.wst-goods-pdetails-left .hotsale-title {
	background-color: #f5f5f5;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-weight: bolder;
}

.wst-goods-pdetails-left .hotsale-goods-box {
	margin-top: 8px;
	padding: 4px;
}

.hotsale-goods-box .hotsale-goods-img {
	float: left;
	width: 65px;
	height: 65px;
}

.hotsale-goods-box .hotsale-goods-title {
	float: right;
	width: 160px;
	height: 65px;
	overflow: hidden;
	line-height: 17px;
}

.hotsale-goods-title .span1 {
	color: #e23e3d;
	font-weight: bolder;
}

.hotsale-goods-title .span2 {
	color: #D5D5D5;
	text-decoration: line-through
}

.wst-goods-pdetails-right {
	float: right;
	width: 960px;
	min-height: 500px;
}

.wst-goods-hotsale-box {
	padding-bottom: 10px;
	border: 1px solid #D5D5D5;
}

.wst-goods-pdetails .wst-goods-hotsale {
	float: left;
	width: 240px;
	min-height: 420px;
}

.wst-goods-hotsale .hotsale-title {
	background-color: #f5f5f5;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-weight: bolder;
}

.wst-goods-hotsale .hotsale-goods-box {
	margin-top: 8px;
}

.hotsale-goods-box .hotsale-goods-img {
	float: left;
	width: 65px;
	height: 65px;
}

.hotsale-goods-box .hotsale-goods-title {
	float: right;
	width: 160px;
	height: 65px;
}

.hotsale-goods-title .span1 {
	color: #e23e3d;
	font-weight: bolder;
}

.hotsale-goods-title .span2 {
	color: #D5D5D5;
	text-decoration: line-through
}

.wst-goods-view-box {
	padding-bottom: 10px;
	border: 1px solid #D5D5D5;
	margin-top: 15px;
}

.wst-goods-view-box .wst-goods-view {
	float: left;
	width: 240px;
	min-height: 220px;
	border: 1px solid #D5D5D5;;
}

.wst-goods-view .view-title {
	background-color: #f5f5f5;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-weight: bolder;
}

.wst-goods-view .view-goods-box {
	margin-top: 8px;
}

.view-goods-box .view-goods-img {
	float: left;
	width: 65px;
	height: 65px;
}

.view-goods-box .view-goods-title {
	float: right;
	width: 170px;
	height: 65px;
}

.view-goods-title .span1 {
	color: #e23e3d;
	font-weight: bolder;
}

.view-goods-title .span2 {
	color: #D5D5D5;
	text-decoration: line-through
}

.goods-gg-tab {
	font-size: 13px;
	width: 770px;
	background-color: #f7f7f7;
	margin-top: 10px;
}

.goods-gg-tab tr {
	height: 30px;
}

.goods-gg-tab tr .gitem {
	height: 30px; 33%;
	padding-left: 4px;
}

.wst-goods-pdetails-right .goods-nvg {
	height: 40px;
	background-color: #f7f7f7;
	padding: 0px;
}

.wst-goods-pdetails-right .goods-nvg ul li {
	float: left;
	padding-left: 35px;
	padding-right: 35px;
	text-align: center;
}

.goods-nvg .tab .curr {
	font-weight: bolder;
	color: #ffffff;
	cursor: pointer;
	background-color: #e23e3d;
}

.tab {
	overflow: hidden;
}

.tab li,.tab a,.tab-item {
	cursor: pointer;
	float: left;
	text-align: center;
}

.m,.mt,.mc,.mb {
	overflow: hidden;
}

.mt .extra {
	float: right;
}

.wst-goods-pdetails-right .mt {
	height: 28px;
	line-height: 28px;
	padding: 0 10px 8px;
	border-top: 1px solid #EED97C;
	background: url(../images/bg_hotsale.gif) repeat-x 0 -552px;
	color: #c00;
}

.wst-goods-pdetails-right .tab {
	border-bottom: 2px solid #BE0000;
	margin-bottom: 10px;
}

.wst-goods-pdetails-right .tab li {
	position: relative;
	height: 40px;
	overflow: hidden;
	margin-right: 3px;
	line-height: 40px;
}

.wst-goods-pdetails-right .tab span {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 10px;
	height: 27px;
	background: url(../images/icon_clubs.gif) no-repeat 0 -150px;
}

.wst-goods-pdetails-right .tab a {
	float: none;
	color: #c30;
}

.wst-goods-pdetails-right .tab .curr {
	background-position: right -178px;
	color: #fff;
}

.wst-goods-pdetails-right .tab .curr span {
	background-position: 0 -178px;
}

.wst-goods-pdetails-right .tab .curr a {
	color: #fff;
}

.wst-goods-pdetails-right .mc .extra {
	padding: 5px 10px;
	border-top: 1px solid #F3E6C6;
}

.wst-goods-pdetails-right .total {
	float: right;
}

.wst-goods-pdetails-right .total strong {
	color: #FF7403;
}

.wst-goods-pdetails-right .total a:link,.wst-goods-pdetails-right .total a:visited
	{
	color: #005aa0;
}

.wst-goods-pdetails-right .join a:link,.wst-goods-pdetails-right .join a:visited
	{
	color: #FF7604;
}

.wst-goods-pdetails-right .norecode {
	padding: 0 10px 10px;
}

.wst-goods-pdetails-right .iloading {
	margin-bottom: 10px;
}

/*评论列表*/
#comment .item {
	border: 1px solid #FFFFFF;
	padding: 8px 15px;
}

#comment .odd {
	background: none repeat scroll 0 0 #F4F9FF;
	border: 1px solid #EDF0F1;
	border-radius: 10px 10px 10px 10px;
}

#comment .user {
	color: #999999;
	text-align: right;
}

#comment .user span {
	margin-left: 20px;
}

#comment .user .u-level {
	color: #088100;
}

#comment dl {
	margin-bottom: 5px;
	overflow: hidden;
}

#comment dt {
	float: left;
	text-align: right;
	width: 80px;
}

#comment dd {
	float: right;
	overflow: hidden;
	width: 649px;
}

#comment .content {
	float: left;
	width: 510px;
}

#comment .date-answer {
	color: #999999;
	float: right;
	text-align: right;
	width: 130px;
}

#comment .useful {
	color: #999999;
	text-align: right;
}

#comment .useful a {
	color: #005AA0;
}

#comment dt b {
	background-image: url("../images/icon_clubs.gif");
	background-repeat: no-repeat;
	float: left;
	height: 13px;
	margin: 2px 3px 0 0;
	width: 14px;
}

#comment .ask b {
	background-position: -72px -14px;
}

#comment .answer {
	color: #D75509;
}

#comment .answer b {
	background-position: -57px -14px;
}

.goods-buy-cnt{text-align:center;padding-top:2px;}

.buy-cnt-plus{cursor:pointer;position:absolute;width:28px;height:36px;top:0px;left:0px;}
.buy-cnt-txt{border:0px;height:15px;width:56px;text-align:center;padding-top:8px;padding-bottom:6px;}
.buy-cnt-add{cursor:pointer;position:absolute;width:28px;height:36px;top:0px;right:0px;}
.wst-gdetail-wait{font-weight: bold;color:red;}

.wst-goods-notext{text-align: center;line-height: 80px;font-size:26px;}
.wst-attrs-list{width:100%;}
.wst-attrs-list th{text-align:right;width:100px;background:#f5f5f5;border:1px solid #ddd;padding:5px;}
.wst-attrs-list td{text-align:left;border:1px solid #ddd;padding:5px;}
.wst-goods-attrs{padding:5px 10px;margin-right:5px;border:1px solid #ddd;cursor:pointer;display: inline-block;margin-bottom: 4px;}
.wst-goods-attrs-on{border:2px solid #fb4f1c;color:#fb4f1c;display: inline-block;margin-bottom: 4px;}
.wst-goods-stock{position:relative;top:-37px;left:140px;}
.wst-goods-dist{color:red;margin-top:4px;}
.wst-short-tool{padding-top:5px;clear:both;position: relative;}	
.wst-short-tool b {margin-right:3px;cursor: pointer;height: 16px;width: 16px;display:inline-block;background-image: url("../images/icon_top_01.png");background-repeat: no-repeat;}
.wst-short-tool a:hover b{transform: rotate(720deg);}


.wst-goods-packages{height:280px;border:1px solid #898989;margin-top:15px;border-top:2px solid #898989;}
.wst-goods-packages .title{height:30px;background:#eee;line-height:30px;}
.wst-goods-packages .title .tab li{float:left;cursor: pointer;}

.wst-goods-packages .tab li a {padding: 0 12px;height: 30px;font-weight:bold;}
.wst-goods-packages .tab .curr{height: 34px;border-top: 2px solid #e4393c;margin-top: -6px;position: relative;color: #e4393c;background-color: #fff;}
.wst-goods-packages .tab .curr a {height: 34px;line-height: 34px;border-left: 1px solid #ddd;border-right: 1px solid #ddd;color: #e4393c;}
.wst-goods-packages .subtab{padding-top: 10px;}
.wst-goods-packages .subtab li {padding: 0 15px;height: 16px;cursor: pointer;border-left: 1px solid #898989;line-height: 16px;text-align: center;color: #005aa0;margin-bottom: 10px;float: left;  margin-left: -1px;white-space: nowrap;}
.wst-goods-packages .subtab li.current{color:red;}

.wst-relate-goods{padding:10px;position:relative;overflow:hidden;height:200px;}
.wst-relate-goods .goods-img{width:120px;height:120px;}
.wst-relate-goods .goods-name{height: 36px;overflow: hidden;padding-top:4px;}
.wst-relate-goods .main-goods{height:190px;width:120px;float: left;margin-right: 40px;position:relative;}
.wst-relate-goods .main-goods .add-icon{position:absolute;top:65px;right:-35px;font-size:40px;color:#ddd;}
.wst-relate-goods .container-goods{width:765px;float:left;height:190px; overflow-x: auto;overflow-y: hidden;}
.wst-relate-goods .container-goods .all-goods{overflow:hidden ;}
.wst-relate-goods .container-goods .all-goods .frist-goods{height:190px;width:120px;position:relative;float: left;}
.wst-relate-goods .container-goods .all-goods .normal-goods{height:190px;width:120px;margin-left:40px;position:relative;float: left;}
.wst-relate-goods .container-goods .all-goods .normal-goods .add-icon{position:absolute;top:65px;left:-35px;font-size:40px;color:#ddd;}

.wst-relate-goods .wst-settlement{width:205px;float:right;margin-left: 20px;position:relative;line-height:30px;padding-top:30px;}
.wst-relate-goods .wst-settlement .wst-eq{position:absolute;top:65px;left:-49px;font-size:35px;color:#ddd;}
.wst-relate-goods .wst-subbox{position:absolute;/*必要元素*/left:0;top:0;float:left;}
.wst-relate-goods .wst-subbox .wst-sublist{float:left;width:1190px;padding:10px;}

.wst-goods-packages .wst-org-price{text-decoration: line-through;}
.wst-goods-packages .wst-pattr-box{border: 1px solid #ddd;width:460px;min-height:80px;margin-bottom:20px;float:left;position:relative;}
.wst-goods-packages .wst-package-gtips{line-height: 40px;background-color: #eee;padding:0 20px;}
.wst-goods-packages .wst-package-goods{padding: 20px;}
.wst-goods-packages .wst-pattr-box-on{  border: 2px solid #fb4f1c;color: #fb4f1c;width:460px;min-height:80px;margin-bottom:20px;float:left;position:relative;}
.wst-goods-packages .wst-package-notice{background-color: #fee;color: #c40000;border: 1px solid #f9b3ac;position: absolute;right: 10px;top: -30px;line-height: 20px;padding:0 6px;display:none;}
.wst-goods-packages .wst-goods-notice{background-color: #b5daff;color: #003a75;border: 1px solid #6cb6ff;position: absolute;right: 0;top:0;line-height: 20px;padding:0 6px;display:none;}
.wst-goods-packages .wst-add-cartButt{background-color: red;padding:4px 8px;border:0;color:#fff;cursor: pointer;}
.wst-goods-packages .wst-money-icon{font-size:18px;color:red;}
.wst-goods-packages .wst-footer-bar{position: absolute;background-color:#333;color:#fff;bottom: 0;line-height:50px;width:100%;text-align: right;}
.wst-goods-packages .wst-footer-bar .wst-bar-box{padding:0 20px;position:relative;}
.wst-goods-packages .wst-pay-tips{float:left;max-width:200px;padding-left:20px;}
.wst-goods-packages .wst-goods-img-box{width:80px;float:left;}
.wst-goods-packages .wst-goods-attr-box{float:right;width:370px;padding-top:10px;}
.wst-goods-packages .wst-save-tips{font-size:14px;background-color: #333;color:#fff;padding:2px 4px;}
.wst-goods-packages .wst-pay-price{font-size:18px;color:red;}

.wst-qrBox{position:absolute ;top:-22px;left:450px;padding:2px;}
.wst-qrcode{width:130px;height:130px;border:1px solid #ddd;margin-bottom:2px;background-color: #FFF;}

.wst-coupon-box{float:left;width:180px;color:#FF0000;position:relative;padding: 0 15px;font-weight: bold;background:#000; }
.wst-coupon-box .split{border-left:1px solid #ddd;position:absolute;height:45px;top:20px;left:0px;}
.wst-coupon-box .money{float:left;width:100px;font-size: 50px;line-height:80px;}
.wst-coupon-box .link{position:absolute;top:12px;right:10px;}
.wst-coupon-box .des{position:absolute;right:10px;bottom:10px;font-size:15px;}
.wst-coupon-box a{color:red;}
.wst-coupon-box .tip{  background: #FF0000;color: #fff;border-radius: 100px; width: 25px;height: 25px;display: inline-block;position: absolute;top: 0; right: -25px;font-size: 16px;line-height: 25px; text-align: center;}


/*立即抢购商品详情*/

.tabcon{padding-top: 20px;}