.wst-goods-details {
	
}

.wst-goods-details .details-left {
	float: left;
	width: 980px;
	min-height: 478px;
}

.wst-goods-details .details-right {
	float: right;
	width: 222px;
	height: 478px;
	background-image: url(../../../View/default/images/bg_storeinfo.png);
	background-repeat: no-repeat;
}

.goods-des-tab .des-title {
	font-weight: bolder;
	line-height:35px;
	font-size:17px;
}

.des-chux {
	font-weight: bolder;
	background-color: #fef4e8;
	height: 52px;
	line-height: 52px;
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.des-chux span {
	font-weight: bolder;
	color: #fb4f1c;
}

.goods-des-tab .des-title-span {
	display: inline-block;
	width: 70px;
	text-align:right;
}

.details-left .goods-img-box {
	float: left;
	width: 350px;
	height: 350px;
}

.details-left .goods-des-box {
	float: right;
	width: 610px;
}

.goods-des-box .goods-des-tab {
	width: 600px;
	font-size: 13px;
}

.goods-des-box .goods-des-tab tr {
	height: 35px;
}

.goods-des-box .goods-des-tab tr td {
	vertical-align: top;
}

.details-right .details-tab {
	width: 222px;
	margin-top: 70px;
	font-size: 13px;
}

.details-right .details-tab tr {
	height: 35px;
}

.details-right .details-tab tr td {
	vertical-align: top;
}

.details-right .details-tab tr .title {
	width: 70px;
	color: #e23e3d;
	padding-left: 10px;
}

.wst-shop-eval {
	text-align: center;
}

.wst-shop-eval li {
	float: left;
	width: 70px;
}

.wst-shop-eval .li-center {
	border-left: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;
}

.wst-shop-eval {
	width: 214px;
	margin: 0 auto;
}

.goods-des-tab .goods-buy-cnt {
	position: relative;
	width: 118px;
	height: 36px;
	
	background-image: url(../../../View/default/images/btn_count.png);
	background-repeat: no-repeat;
}

.wst-container .wst-goods-pdetails {
	min-height: 300px;
	margin-top: 10px;
}

.wst-goods-pdetails .wst-goods-pdetails-left {
	float: left;
	width: 240px;
	min-height: 420px;
}

.wst-goods-pdetails-left .hotsale-title {
	background-color: #f5f5f5;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-weight: bolder;
}

.wst-goods-pdetails-left .hotsale-goods-box {
	margin-top: 8px;
	padding: 4px;
}

.hotsale-goods-box .hotsale-goods-img {
	float: left;
	width: 65px;
	height: 65px;
}

.hotsale-goods-box .hotsale-goods-title {
	float: right;
	width: 160px;
	height: 65px;
	overflow: hidden;
}

.hotsale-goods-title .span1 {
	color: #e23e3d;
	font-weight: bolder;
}

.hotsale-goods-title .span2 {
	color: #D5D5D5;
	text-decoration: line-through
}

.wst-goods-pdetails-right {
	float: right;
	width: 960px;
	min-height: 500px;
}

.wst-goods-hotsale-box {
	padding-bottom: 10px;
	border: 1px solid #D5D5D5;
}

.wst-goods-pdetails .wst-goods-hotsale {
	float: left;
	width: 240px;
	min-height: 420px;
}

.wst-goods-hotsale .hotsale-title {
	background-color: #f5f5f5;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-weight: bolder;
}

.wst-goods-hotsale .hotsale-goods-box {
	margin-top: 8px;
}

.hotsale-goods-box .hotsale-goods-img {
	float: left;
	width: 65px;
	height: 65px;
}

.hotsale-goods-box .hotsale-goods-title {
	float: right;
	width: 160px;
	height: 65px;
}

.hotsale-goods-title .span1 {
	color: #e23e3d;
	font-weight: bolder;
}

.hotsale-goods-title .span2 {
	color: #D5D5D5;
	text-decoration: line-through
}

.wst-goods-view-box {
	padding-bottom: 10px;
	border: 1px solid #D5D5D5;
	margin-top: 15px;
}

.wst-goods-view-box .wst-goods-view {
	float: left;
	width: 240px;
	min-height: 220px;
	border: 1px solid #D5D5D5;;
}

.wst-goods-view .view-title {
	background-color: #f5f5f5;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-weight: bolder;
}

.wst-goods-view .view-goods-box {
	margin-top: 8px;
}

.view-goods-box .view-goods-img {
	float: left;
	width: 65px;
	height: 65px;
}

.view-goods-box .view-goods-title {
	float: right;
	width: 170px;
	height: 65px;
}

.view-goods-title .span1 {
	color: #e23e3d;
	font-weight: bolder;
}

.view-goods-title .span2 {
	color: #D5D5D5;
	text-decoration: line-through
}

.goods-gg-tab {
	font-size: 13px;
	width: 770px;
	background-color: #f7f7f7;
	margin-top: 10px;
}

.goods-gg-tab tr {
	height: 30px;
}

.goods-gg-tab tr .gitem {
	height: 30px; 33%;
	padding-left: 4px;
}

.wst-goods-pdetails-right .goods-nvg {
	height: 36px;
	background-color: #f7f7f7;
	padding: 0px;
}

.wst-goods-pdetails-right .goods-nvg ul li {
	float: left;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}

.goods-nvg .tab .curr {
	font-weight: bolder;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	background-color: #e23e3d;
}

.tab {
	overflow: hidden;
}

.tab li,.tab a,.tab-item {
	cursor: pointer;
	float: left;
	text-align: center;
}

.m,.mt,.mc,.mb {
	overflow: hidden;
}

.mt .extra {
	float: right;
}

.wst-goods-pdetails-right .mt {
	height: 28px;
	line-height: 28px;
	padding: 0 10px 8px;
	border-top: 1px solid #EED97C;
	background: url(../images/bg_hotsale.gif) repeat-x 0 -552px;
	color: #c00;
}

.wst-goods-pdetails-right .tab {
	border-bottom: 2px solid #BE0000;
	margin-bottom: 10px;
}

.wst-goods-pdetails-right .tab li {
	position: relative;
	height: 24px;
	padding: 3px 12px 0;
	overflow: hidden;
	margin-right: 3px;
	line-height: 24px;
}

.wst-goods-pdetails-right .tab span {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 10px;
	height: 27px;
	background: url(../images/icon_clubs.gif) no-repeat 0 -150px;
}

.wst-goods-pdetails-right .tab a {
	float: none;
	color: #c30;
}

.wst-goods-pdetails-right .tab .curr {
	background-position: right -178px;
	color: #fff;
}

.wst-goods-pdetails-right .tab .curr span {
	background-position: 0 -178px;
}

.wst-goods-pdetails-right .tab .curr a {
	color: #fff;
}

.wst-goods-pdetails-right .mc .extra {
	padding: 5px 10px;
	border-top: 1px solid #F3E6C6;
}

.wst-goods-pdetails-right .total {
	float: right;
}

.wst-goods-pdetails-right .total strong {
	color: #FF7403;
}

.wst-goods-pdetails-right .total a:link,.wst-goods-pdetails-right .total a:visited
	{
	color: #005aa0;
}

.wst-goods-pdetails-right .join a:link,.wst-goods-pdetails-right .join a:visited
	{
	color: #FF7604;
}

.wst-goods-pdetails-right .norecode {
	padding: 0 10px 10px;
}

.wst-goods-pdetails-right .iloading {
	margin-bottom: 10px;
}

/*评论列表*/
#comment .item {
	border: 1px solid #FFFFFF;
	padding: 8px 15px;
}

#comment .odd {
	background: none repeat scroll 0 0 #F4F9FF;
	border: 1px solid #EDF0F1;
	border-radius: 10px 10px 10px 10px;
}

#comment .user {
	color: #999999;
	text-align: right;
}

#comment .user span {
	margin-left: 20px;
}

#comment .user .u-level {
	color: #088100;
}

#comment dl {
	margin-bottom: 5px;
	overflow: hidden;
}

#comment dt {
	float: left;
	text-align: right;
	width: 80px;
}

#comment dd {
	float: right;
	overflow: hidden;
	width: 649px;
}

#comment .content {
	float: left;
	width: 510px;
}

#comment .date-answer {
	color: #999999;
	float: right;
	text-align: right;
	width: 130px;
}

#comment .useful {
	color: #999999;
	text-align: right;
}

#comment .useful a {
	color: #005AA0;
}

#comment dt b {
	background-image: url("../images/icon_clubs.gif");
	background-repeat: no-repeat;
	float: left;
	height: 13px;
	margin: 2px 3px 0 0;
	width: 14px;
}

#comment .ask b {
	background-position: -72px -14px;
}

#comment .answer {
	color: #D75509;
}

#comment .answer b {
	background-position: -57px -14px;
}

.goods-buy-cnt{text-align:center;padding-top:2px;}

.buy-cnt-plus{cursor:pointer;position:absolute;width:28px;height:36px;top:0px;left:0px;}
.buy-cnt-txt{border:0px;height:15px;width:56px;text-align:center;padding-top:8px;padding-bottom:6px;}
.buy-cnt-add{cursor:pointer;position:absolute;width:28px;height:36px;top:0px;right:0px;}
.wst-gdetail-wait{font-weight: bold;color:red;}

.wst-goods-notext{text-align: center;line-height: 80px;font-size:26px;}
.wst-attrs-list{width:100%;}
.wst-attrs-list th{text-align:right;width:100px;background:#f5f5f5;border:1px solid #ddd;padding:5px;}
.wst-attrs-list td{text-align:left;border:1px solid #ddd;padding:5px;}
.wst-goods-attrs{padding:5px 10px;margin-right:5px;border:1px solid #ddd;cursor:pointer;}
.wst-goods-attrs-on{border:2px solid #fb4f1c;color:#fb4f1c;}
.wst-goods-stock{position:relative;top:-37px;left:140px;}
.wst-goods-spec{color:red;}
.wst-short-tool{padding-top:5px;clear:both;}	
.wst-short-tool b {margin-right:3px;cursor: pointer;height: 13px;left: 6px;top: 8px;width: 13px;display:inline-block;background-image: url("../images/20130330A.png");background-repeat: no-repeat;background-position: -90px -23px;transition: transform 0.2s ease-in 0s;}
.wst-short-tool a:hover b{transform: rotate(720deg);}












