
.wst-btn-continue {
	background: url(../../../View/default/images/20130425D.png) no-repeat scroll 0 0 #CCCCCC;
  background-position: -90px -37px;
  float: right;
  height: 36px;
  width: 94px;
}

.wst-checkout{padding-left:100px;margin:15px;float: right;}
.wst-ods-step{float: right; width: 590px; height: 40px; text-align: right; position: relative;}

.wst-ods-step1{position: absolute; top: 30px; left: 150px;}
.wst-ods-step2{position: absolute; top: 30px; left: 290px;color: #7ABD54;}
.wst-ods-step3{position: absolute; top: 30px; left: 465px;}


.wst-ods-cntbox{margin: 0 auto; margin-top:10px;margin-bottom :10px;}
.wst-ods-sub-box{border: 1px solid #E9E9E9;border-top:2px solid  #7ABD54;background-color:#F3FDED;padding:15px;}
.wst-ods-tp-box{width: 30px;float: left;text-align: right;padding-top: 5px;}
.wst-ods-ep-box{width: 1200px;float: left;padding-left: 10px;}
.wst-ods-sub-msg{font-weight:bold;font-size: 16px;color:red;text-align:center;}

.wst-sys-msg-pb{margin: 0 auto; margin-top:10px;margin-bottom :10px;}
.wst-sys-msg-cb{border: 1px solid #E9E9E9;border-top:2px solid  #7ABD54;background-color:#F3FDED;padding:15px;}
.wst-sys-msg-vb{width: 30px;float: left;text-align: right;padding-top: 5px;}
.wst-sys-msg-cb{width: 1200px;float: left;padding-left: 10px;}
.wst-sys-msg-ub{font-weight:bold;font-size: 16px;color:red;text-align:center;}
.wst-sys-msg-l25{line-height: 25px;}

.wst-ods-success{text-align: center; margin-top: 30px;}
.wst-ods-success-blank{float: left; width: 400px; text-align: left;}
.wst-ods-success-step{float: right; width: 590px; height: 40px; text-align: right; position: relative;}
.wst-ods-success-step1{position: absolute; top: 30px; left: 150px;}
.wst-ods-success-step2{position: absolute; top: 30px; left: 290px;}
.wst-ods-success-step3{position: absolute; top: 30px; left: 465px; color: #7ABD54;}

.wst-pay-success-step{float: right; width: 590px; height: 40px; text-align: right; position: relative;}
.wst-pay-success-step1{position: absolute; top: 30px; left: 155px;}
.wst-pay-success-step2{position: absolute; top: 30px; left: 325px;}
.wst-pay-success-step3{position: absolute; top: 30px; left: 480px;}
.wst-pay-curr-step{color: #7ABD54;}

.wst-ods-success-tb{margin: 0 auto; margin-top:10px;margin-bottom :10px;}
.wst-ods-success-tc{border: 1px solid #E9E9E9;border-top:2px solid  #7ABD54;background-color:#fdfdfd;padding:15px;}
.wst-ods-success-td{width: 30px;float: left;text-align: right;padding-top: 5px;}
.wst-ods-success-tf{width: 1100px;float: left;padding-left: 10px;}
.wst-ods-success-l25{line-height: 25px;}
.wst-ods-success-tg{font-weight:bold;font-size: 16px;color:#7ABD54;}
.wst-ods-success-th{color:blue;font-weight: bold;}
.wst-ods-success-ti{color: red;font-size:18px; font-weight: bold;}
.wst-ods-success-tj{font-weight:bold;font-size: 16px;color:red;text-align:center;}
.wst-ods-success-tk{margin-top:15px;}


.wst-payCode{float:left;cursor:pointer;margin-right: 10px;border:2px solid #d2d2d2;}
.wst-payCode-curr{float:left;cursor:pointer;border:2px solid red;margin-right: 10px;}

.pay-sbox .balance-box .pbox input {border: 1px solid #ccc;height: 30px;line-height: 30px;padding: 2px; }
.pay-sbox{padding:5px 0px;position:relative;}
.pay-sbox .tips-box{line-height:35px;text-align: left;font-weight: bold;padding:5px 10px;}
.pay-sbox .balance-box .pbox {text-align: center;padding-top: 40px;font-weight: bold;}
.pay-sbox .balance-box{min-height: 300px;height: auto;}
.pay-sbox .balance-box .pbox{text-align: center;padding-top: 40px;font-weight: bold;}
.pay-sbox .balance-box .pbox2{text-align: center;padding-top: 10px;font-weight: bold;}
.pay-sbox .balance-box .pbox3{position: absolute;right: 417px;bottom: 82px;}
.pbox-tip{color:#0ae;margin-left:10px;}
.pay-btn{background: #E23C3E none repeat scroll 0 0;border: 1px solid #E23C3E;border-radius: 3px;color: #ffffff;cursor: pointer;outline: medium none;}
.pay-sbox .wst-pay-bnt {height:40px;width:132px;text-align: center;margin:10px auto;background: url(../img/btn_pay.png) no-repeat 0px 0px;cursor:pointer;}
.pay-sbox .wst-pay-bnt:hover {height:40px;width:132px;text-align: center;margin:10px auto;background: url(../img/btn_pay.png) no-repeat 0px -57px;cursor:pointer;}
.wst-wallet-box{border:1px solid #ddd;margin:10px;padding:5px;line-height: 35px;height:40px;}
.wst-wallet-box .wst-wallte-item{background:url("../img/icon_qianbaoyue.png") no-repeat;padding-left:30px;height:30px;margin-top:5px;float:left;}
