.wst-shop-container {
	
}

.wst-shop-container .shop-left {
	float: left;
	width: 222px;
	min-height: 478px;
}

.shop-left .shop-left-box {
	padding-top: 70px;
	min-height: 418px;
	background-image: url(../../../View/default/images/bg_storeinfo.png);
	background-repeat: no-repeat;
}

.wst-shop-container .shop-right {
	float: right;
	width: 978px;
	min-height: 478px;
}

.shop-left-box .details-tab {
	width: 222px;
	font-size: 13px;
}

.shop-left-box .details-tab tr {
	height: 35px;
}

.shop-left-box .details-tab tr td {
	vertical-align: top;
}

.shop-left-box .details-tab tr .title {
	width: 70px;
	color: #e23e3d;
	padding-left: 10px;
}
.wst-price-ipt{width:85px;height:25px;padding-left:20px;}
.wst-goods-ipt{width:300px;height:28px;padding-left:6px;}
.wst-shop-eval {
	text-align: center;
}

.wst-shop-eval li {
	float: left;
	width: 70px;
}

.wst-goods-hotsale-box {
	padding-bottom: 10px;
	border: 1px solid #D5D5D5;
	margin-bottom: 10px;
}

.wst-goods-pdetails .wst-goods-hotsale {
	float: left;
	width: 220px;
	min-height: 420px;
}

.wst-goods-hotsale-box .hotsale-title {
	background-color: #f5f5f5;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-weight: bolder;
}

.wst-goods-hotsale-box .hotsale-goods-box {
	margin-top: 8px;
	padding: 4px;
}

.hotsale-goods-box .hotsale-goods-img {
	float: left;
	width: 65px;
	height: 65px;
}

.hotsale-goods-box .hotsale-goods-title {
	float: right;
	width: 140px;
	height: 65px;
}

.hotsale-goods-title .span1 {
	color: #e23e3d;
	font-weight: bolder;
}

.hotsale-goods-title .span2 {
	color: #D5D5D5;
	text-decoration: line-through
}

.wst-shop-eval .li-center {
	border-left: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;
}

.wst-shop-eval {
	width: 214px;
	margin: 0 auto;
}

.wst-shophome-nav {
	height: 45px;
	background-image: url(../../../View/default/images/store_menubg.png);
	background-repeat: repeat-x;
}

.wst-shophome-nav-box {
	width: 1020px;
	margin: 0 auto;
	height: 45px;
	line-height: 45px;
}

.wst-shophome-nav-box li {
	float: left;
	width: 110px;
	color: #ffffff;
	font-weight: bolder;
	text-align: center;
	cursor: pointer;
}

.wst-shophome-nav-box li:hover {
	background-color: #ffffff;
	color: #000000;
}

.wst-shophome-nav-box .liselected {
	background-color: #ffffff;
	color: #000000;
}

.wst-goods-list {
	border: 0px;
}

.wst-goods-list .wst-goods-header {
	height: 36px;
	background-color: #f5f5f5;
	padding-top: 5px;
	padding-left: 5px;
	border:1px solid #EEEEEE;
}

.wst-goods-search{
	height: 36px;
	background-color: #333333;
	padding-top: 5px;
	padding-left: 20px;
	border:1px solid #333333;
	margin-bottom:4px;
	text-align:right;
	padding-right:6px;
}

.wst-goods-search .searchwst{ height:30px;width:66px;border:0px;background:url(../../../View/default/images/btn_search_01.png);cursor:pointer; }
.wst-goods-search .searchshop{ height:30px;width:66px;border:0px;background:url(../../../View/default/images/btn_search_02.png);cursor:pointer;}

.wst-goods-list .wst-goods-header li {
	line-height: 30px;
	float: left;
	text-align: center;
	margin-left: 5px;
	padding-left: 8px;
	padding-right: 8px;
}

.wst-goods-list .wst-goods-header .licurr{
	background-color: #e23e3d;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer
}

.goods-img img {
    max-height: 180px;
    max-width: 180px;
    vertical-align: middle;
}

.wst-goods-item .goods-img {
    height: 180px;
    line-height: 172px;
    padding: 4px;
    width: 180px;
}
.wst-goods-item .goods-img img{
	max-height: 180px;
    max-width: 180px;
}
.wst-goods-list .wst-goods-header li:hover {
	background-color: #e23e3d;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer
}

.wst-goods-page {
	padding-bottom: 10px;
}

.wst-goods-page .wst-goods-item {
	text-align: center;
	float: left;
	height: 272px;
	border: 2px solid #ffffff;
	margin-left: 2px;
    margin-top: 4px;
}

.wst-goods-page .wst-goods-item .wst-goods-img {
	height: 180px;
	line-height: 180px;
}

.wst-goods-page .wst-goods-item .goods-des {
	margin-top: 5px;
}

.wst-goods-page .wst-goods-item .total-buy{color:green;font-weight:bolder;margin-left:2px;}

.wst-goods-page .wst-goods-item .goods-title {
	text-align: left;padding-left:2px;
	height: 36px;
    overflow: hidden;
    width:180px;
}

.wst-goods-page li {
    border: 2px solid #e23e3d;
    border-radius: 5px;
    transition: all 0.1s ease 0s;
	-moz-transition: all 0.1s ease 0s; /* Firefox 4 */
	-webkit-transition: all 0.1s ease 0s; /* Safari å’Œ Chrome */
	-o-transition: all 0.1s ease 0s; /* Opera */
    
}
.wst-goods-page li:hover {
    background-color: #ffffff;
    border: 2px solid #e23e3d;
    transform: scale3d(1.2, 1.2, 1);
}

.wst-goods-page .wst-goods-item .goods-price {
	text-align: left;
}

.wst-goods-item .goods-price .span1 {
	color: #e23e3d;
	font-weight: bolder;
}

.wst-goods-item .goods-price .span2 {
	color: #D5D5D5;
	text-decoration: line-through
}

.wst-goods-page .wst-goods-item .goods-buy {
	text-align: left;
}

.wst-goods-item .goods-buy .goods-left {
	float: left;
	width: 90px;
	font-size: 12px;
}

.wst-goods-item .goods-buy .goods-right {
	float: right;
	width: 85px;
	margin-right: 2px;
}



.wst-goods-cate-box {
	padding-bottom: 10px;
	border: 1px solid #D5D5D5;
	margin-bottom: 10px;
}

.wst-goods-cate-box .cate-title {
	background-color: #f5f5f5;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-weight: bolder;
}

.wst-goods-cate-box .ccate {
	cursor: pointer;
	border: 1px solid #f5f5f5;
	heihgt: 28px;
	line-height: 28px;
	width: 185px;
	margin: 5 auto 0 auto;
	padding-left: 10px;
}

.wst-goods-cate-box .pcate {
	padding-left: 10px;
	position: relative;
	cursor: pointer;
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #f5f5f5;
	width: 185px;
	margin: 0 auto;
	font-weight: bolder;
}

.wst-goods-cate-box .pcate .span1 {
	position: absolute;
	left: 0px;
	top: 4px;
	display: inline-block;
	width: 20px;
	height: 21px;
	background-image: url(../../../View/default/images/sprite.png);
	background-repeat: no-repeat;
	background-position: -60px -270px;
}

.wst-goods-cate-box .pcate .span2 {
	position: absolute;
	left: 0px;
	top: 4px;
	display: inline-block;
	width: 20px;
	height: 21px;
	background-image: url(../../../View/default/images/sprite.png);
	background-repeat: no-repeat;
	background-position: -150px -270px;
}

.wst-goods-cate-box .pcate-o {
	padding-left: 18px;
	cursor: pointer;
	heihgt: 28px;
	line-height: 28px;
	border-bottom: 1px solid #f5f5f5;
	heihgt: 25px;
	line-height: 25px;
	width: 185px;
	margin: 0 auto;
	font-weight: bolder;
	background-image: url(../../../View/default/images/sprite.png);
	background-repeat: no-repeat;
}

.wst-goods-header li s{
    background-image: url("../../../View/default/images/sprite.png");
    background-position: 0 0;
    display: inline-block;
    height: 11px;
    width: 12px;
}
.wst-goods-header li b{
    background-image: url("../../../View/default/images/sprite.png");
    background-position: 0 0;
    display: inline-block;
    height: 11px;
    width: 12px;
}

.wst-goods-header li:hover s{
    background-image: url("../../../View/default/images/sprite.png");
    background-position: -60 0;
    display: inline-block;
    height: 11px;
    width: 12px;
}

.rmb1{
	position:absolute;
	left:25px;top:11px;
	background: url("../../../View/default/images/icon_rmb.png") no-repeat;
    display: inline-block;
    height: 11px;
    width: 12px;
}
.rmb2{
	position:absolute;
	left:118px;top:11px;
	background: url("../../../View/default/images/icon_rmb.png") no-repeat;
    display: inline-block;
    height: 11px;
    width: 12px;
}

.wst-goods-header li:hover b{
    background-image: url("../../../View/default/images/sprite.png");
    background-position: -60 0;
    display: inline-block;
    height: 11px;
    width: 12px;
}

.wst-goods-list .wst-goods-header .bscurr{
	background-image: url("../../../View/default/images/sprite.png");
    background-position: -60 0;
    display: inline-block;
    height: 11px;
    width: 12px;
}

.wst-goods-list .wst-goods-header .bscurr_up{
	background-image: url("../../../View/default/images/sprite.png");
    background-position: -90 0;
    display: inline-block;
    height: 11px;
    width: 12px;
}