.wst-order-tab {
	width: 972px;
	font-size: 13px;
	line-height: 30px;
}

.wst-order-tab td {
	border-bottom: 1px solid #cccccc;
	padding: 4px;
	height: 120px;
}

.wst-order-userinfo-box {
	height: 120px;
	background-color: #f0a869;
}

.wst-userimg-box {
	float: left;
	width: 150px;
	text-align: center;
	margin-top: 12px;
}

.wst-userlogin-box {
	position: relative;
	float: left;
	width: 650px;
	color: #ffffff;
	line-height: 36px;
}

.wst-userlogin-box {
	position: relative;
	float: left;
	width: 650px;
	color: #ffffff;
	line-height: 36px;
}

.wst-user-adr {
	position: absolute;
	right: 10px;
	top: 50px;
	width: 180px;
}

.wst-order-tg {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.wst-mywl {
	height: 45px;
	line-height: 45px;
	background-color: #f0a869;
	padding-left: 30px;
}

.wst-oinfo-box {
	width: 600px;
	margin: 0 auto;
}

.wst-oinfo-box span {
	font-weight: bolder;
	color: #f0a869;
	font-size: 15px;
	padding: 5px;
}