@CHARSET "UTF-8";

body {
	margin: 0px auto;
	background: #F5F5F5
}

a:link,a:visited,a:active,a:hover,a:hover {
	text-decoration: none;
	color: #000000;
}

.wst-wrap {
	margin: 0px auto
}

.wst-header {
	
}

.wst-main {
	margin: auto;
	width: 1210px;
	min-height: 600px;
	height: auto;
	padding-top: 15px;
}

.wst-menu {
	background: #FFFFFF;
	width: 198px;
	float: left;
	border: 1px solid #ccc;
	margin-right: 15px;
	filter: progid : DXImageTransform.Microsoft.Shadow ( color = #909090,
		direction = 120, strength = 4 );
	-moz-box-shadow: 2px 2px 10px #909090;
	-webkit-box-shadow: 2px 2px 10px #909090;
	box-shadow: 2px 2px 10px #909090;
}

.wst-content {
	background: #FFFFFF;
	min-height: 948px;
	height: auto;
	width: 990px;
	float: right;
	filter: progid : DXImageTransform.Microsoft.Shadow ( color = #909090,
		direction = 120, strength = 4 );
	-moz-box-shadow: 2px 2px 10px #909090;
	-webkit-box-shadow: 2px 2px 10px #909090;
	box-shadow: 2px 2px 10px #909090;
}

.wst-footer {
	height: 100px;
	border-top: 1px solid #ddd;
	margin-top: 5px;
}

.wst-menu-title {
	position: relative;
	width: 143px;
	display: block;
	padding: 5px 5px 5px 50px;
	border-top: 1px solid #ccc;
	color: #949494;
}

.wst-menu {
	width: 198px;
	margin: 0px;
	padding: 0px;
	min-height: 948px;
}

.wst-menu li {
	list-style-type: none;
	padding: 0px 0px 0px 50px;
	height: 40px;
	line-height: 40px;
	cursor: pointer
}

.wst-menu li:hover {
	background-color: #e23e3d;
	font-weight: bolder;
	color: #ffffff;
}

.wst-menu .selected {
	background-color: #e23e3d;
	font-weight: bolder;
	color: #ffffff;
}

.wst-menu .liselect {
	background-color: #e23e3d;
	font-weight: bolder;
	color: #ffffff;
}

.wst-page-header {
	height: 36px;
	background: #f0a869;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 36px;
	padding-left: 15px;
}

.wst-page-content {
	width: 972px;
	padding: 5px 10px 10px;
}

.wst-tbar-query {
	width: 775px;
	height: 76px;
	height: 36px;
	margin-bottom: 4px;
}

.wst-tbar-group {
	width: 972px;
	height: 76px;
	height: 36px;
	background: #F5F5F5
}

.wst-list {
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.wst-list thead tr th {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #eeeeee;
	text-align: left;
	padding-left:5px;
}

.wst-list tbody tr td {
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding-left:5px;
}

.wst-list tbody tr:nth-child(even) {
	background: #FCFAE1;
}

.wst-page-content .btn {
	padding-left: 23px;
	height: 40px;
	line-height: 40px;
	margin-left: 5px;
	cursor: pointer;
}

a:active,a:hover {
	text-decoration: none;
	color: red;
}

.wst-form {
	border-collapse: collapse;
}

.wst-form tr {
	height: 30px;
	line-height: 30px;
}

.wst-form tr th {
	color: #707070;
	text-align: right
}

.wst-form tr td {
	text-align: left
}

.wst-form input,textarea{
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #f0f0f0 inset;
	font-family: inherit;
	font-size: 100%;
	margin: 3px;
	padding: 5px;
	vertical-align: middle;
}
.wst-form select{
	box-shadow: 2px 2px 2px #f0f0f0 inset;
	font-family: inherit;
	font-size: 100%;
	vertical-align: middle;
	margin:3px;
}
.wst-form select option{
	padding: 2px;

}
.wst-shop-nav {
	background-color: #333333;
	height: 36px;
	text-align: center;
}

.wst-nav-box {
	width: 1210px;
	margin: 0 auto;
	height: 36px;
	line-height: 36px;
	color: #ffffff;
}

.wst-nav-box li {
	text-align:left;
	width: 198px;
}
.wst-nav-box li a{
	padding-left:50px;
	color: #ffffff;
}

.wst-nav-box li:hover {
	background-color: #e23e3d;
	font-weight: bolder;
}

.wst-nav-box .liselect {
	background-color: #e23e3d;
	font-weight: bolder;
}

.wst-appsaler {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 30px;
	line-height: 30px;
}

.wst-menu-title span {
	position: absolute;
	left: 20px;
	top: 8px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../../../View/default/images/icon_leftmenu.png);
	background-repeat: no-repeat;
}

select {
    box-shadow: 2px 2px 2px #f0f0f0 inset;
    font-family: inherit;
    font-size: 100%;
    padding: 2px;
    vertical-align: middle;
}
input, textarea {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    font-size: 100%;
    margin: 3px;
    padding: 5px;
    vertical-align: middle;
}
.wst-tab-box {
	width: 100%;
	height: auto;
	margin: 0px auto;
}

.wst-tab-nav {
	margin: 0;
	padding: 0;
	height: 31px;
	
}

.wst-tab-nav li {
	cursor: pointer;
	float: left;
	margin: 0 0px;
	list-style: none;
	border: 1px solid #ddd;
	border-bottom: none;
	line-height: 30px;
	text-align: center;
	background: #eeeeee;
	color: #000000;
	padding-left: 10px;
    padding-right: 10px;
}

.wst-tab-nav .on {
	background: none repeat scroll 0 0 #e23e3d;
    border-bottom: 0 none;
    color: #ffffff;
    font-weight:bold;
}

.wst-tab-content {
	padding: 5px;
	width: 99%;
	height: auto;
	border: 1px solid #ddd;
	background: #FFF;
}
.wst-appraise-box{margin: 0 auto; margin-top:20px;margin-bottom :10px;}
.wst-appraise-box .appraise-title{margin-top: 10px;font-weight: bold;text-align:left;padding-left:30px;padding-bottom:10px;}
.wst-appraise-box .appraise-title .tips{font-weight:normal;color:#999999;}
.wst-appraise-box .main{border: 1px solid #E9E9E9;border-top:2px solid  #999999;}
.wst-appraise-box .head{line-height: 35px;background-color: #E9E9E9;font-weight:bold;}
.wst-appraise-box .goods-no{float: left;width:50px;text-align: center;}
.wst-appraise-box .goods-name{float: left;width:600px;}
.wst-appraise-box .goods-name2{float: left;width: 530px;line-height: 30px;}
.wst-appraise-box .goods-status{float: left;width:120px;text-align: center;}
.wst-appraise-box .goods-buy-time{float: left;width:220px;text-align: center;}
.wst-appraise-box .appraise-box{text-align: center;background-color: #DBEAF9;padding-top: 5px;}
.wst-appraise-box .goods-txt{line-height:70px;}
.wst-appraise-box .goods-img{border:0px;margin-top:5px;margin-bottom:5px;}
.wst-appraise-box .appraise-box .main-box{width: 800px;margin: 0 auto;}
.wst-appraise-box .appraise-box .item{line-height: 40px;margin-top: 5px;}
.wst-appraise-box .appraise-box .item .title{float:left;width:80px;text-align: right;}
.wst-appraise-box .appraise-box .item .content{float:left;width:700px;text-align: left;}
.wst-appraise-box .appraise-box .btn-box{padding-right:80px;margin:15px;float: right;}
.wst-goods-tb{margin-top:3px;margin-bottom:2px;border:0px;}
.wst-complain-detail{width:100%;border-collapse: collapse;}
.wst-complain-detail tr{height: 25px;line-height: 25px;}
.wst-complain-detail tr th{color: #707070;text-align: right;font-size:12px;}
.wst-complain-detail tr td {text-align: left;color: #707070;}
.wst-complain-detail .head{font-weight:bold;border-bottom:1px dotted #ddd;}
.wst-complain-left{width:250px;height:100%;border:1px solid #ddd;text-align:left;background:#ffffff;float:left;}
.wst-complain-order-head{width:240px;height:25px;line-height:25px;border-bottom:1px solid #ddd;font-weight:bold;padding:5px;background:#f5f5f5;}
.wst-complain-order-goods{width:240px;height:200px;line-height:30px;padding:5px;border-bottom:1px solid #ddd;overflow-y:auto}
.wst-complain-main{float:right;width:735px;overflow:hidden;border:1px solid #ddd;}
.wst-complain-order-info{padding:5px;display: block;height:100%;}
.wst-complain-order-info dt {float: left;width: 70px;color: #999;padding: 1px 0;display: block;height:20px;}
.wst-complain-order-info dd{overflow: hidden;color: #666;padding: 1px 0;width:170px;display: block;height:20px;}
.wst-complain-box{border-bottom:1px solid #ddd;width:735px;padding:5px;}
.wst-complain-footer{clear:both;width:100%;text-align:center;padding:5px 0;}