<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['mallTitle']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="__ROOT__/Apps/Admin/View/css/AdminLTE.css">
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script>
      function enterLicense(){
    	  location.href="{:U('Admin/Index/enterLicense')}";
      }
      $(function () {
	      WST.getWSTMAllVersion("{:U('Admin/Index/getWSTMallVersion')}");
      });
      </script>
   </head>
   <body>
      <div class='panel wst-panel-full'>
         <div class="col-xs-12 wstmall-login-tips">
             <p style='font-size:16px;'>您好，{:session('WST_STAFF.staffName')}，欢迎使用 WSTMall。 您上次登录的时间是 {:session('WST_STAFF.lastTime')} ，IP 是 {:session('WST_STAFF.lastIP')}</p>
         </div>
         <div class='col-xs-12 wstmall-version-tips'>您有新的版本(<span id='wstmall_version'>0.0.0</span>)可以下载啦~，<a id='wstmall_down' href='' target='_blank'>点击</a>下载</div>     
         <div class='row' style='padding-left:10px;margin-right:10px;'>
	         <div class="col-md-6">
	           <div class="box-header">
	             <h3 class="text-blue">一周动态</h3>
	             <table class="table table-hover table-striped table-bordered wst-form">
	                <tr>
	                   <td width="200">新增会员数：</td>
	                   <td width="300">{$weekInfo.userNew}</td>
	                   <td width="200">新增店铺数/申请数：</td>
	                   <td width="300">{$weekInfo.shopNew}/{$weekInfo.shopApply}</td>
	                </tr>
	                <tr>
	                   <td width="200">新增商品数：</td>
	                   <td width="300">{$weekInfo.goodsNew}</td>
	                   <td width="200">新增订单数：</td>
	                   <td width="300">{$weekInfo.ordersNew}</td>
	                </tr>
	             </table>
	           </div>
	           <div class="box-header">
	             <h3 class="text-blue">统计信息</h3>
	             <table class="table table-hover table-striped table-bordered wst-form">
	                <tr>
	                   <td width="200">会员总数：</td>
	                   <td width="300">{$sumInfo.userSum}</td>
	                   <td width="200">店铺总数/申请总数：</td>
	                   <td width="300">{$sumInfo.shopSum}/{$sumInfo.shopApplySum}</td>
	                </tr>
	                <tr>
	                   <td width="200">商品总数：</td>
	                   <td width="300">{$sumInfo.goodsSum}</td>
	                   <td width="200">订单总数：</td>
	                   <td width="300">{$sumInfo.ordersSum}</td>
	                </tr>
	                <tr>
	                   <td width="200">订单总金额</td>
	                   <td width="300" colspan='3'>{$sumInfo.moneySum}</td>
	                </tr>
	             </table>
	           </div>
	        </div>
	        <div class="col-md-6">
	           <div class="box-header">
	             <h3 class="text-blue">系统信息</h3>
	             <table class="table table-hover table-striped table-bordered wst-form">
	                <tr>
	                   <td width="130">软件版本号：</td>
	                   <td>{:C('WST_VERSION')}</td>
	                </tr>
	                <tr>
	                   <td width="130">授权码：</td>
	                   <td>{$CONF['mallLicense']}</td>
	                </tr>
	                <tr>
	                   <td width="130">授权类型：</td>
	                   <td><div id='licenseStatus'></div></td>
	                </tr>
	                <tr>
	                   <td width="130">官网地址：</td>
	                   <td id='webUrl'><a href="{:C('WST_WEB')}" target='_blank'>{:C('WST_WEB')}</a></td>
	                </tr>
	                <tr>
	                   <td width="130">问题反馈：</td>
	                   <td id='webUrl'><a href="{:C('WST_FEEDBACK')}"" target='_blank'>点击反馈</a></td>
	                </tr>
	                <tr>
	                   <td>服务器操作系统：</td>
	                   <td>{$Think.PHP_OS}</td>
	                </tr>
	                <tr>
	                   <td >WEB服务器：</td>
	                   <td >{$Think.server.SERVER_SOFTWARE}</td>
	                </tr>
	                <tr>
	                   <td >PHP版本：</td>
	                   <td >{$Think.PHP_VERSION}</td>
	                </tr>
	                <tr>
	                   <td >MYSQL版本：</td>
	                   <td >{:mysql_get_server_info()}</td>
	                </tr>
	             </table>
	           </div><!-- /.box-header -->
	        </div><!-- /.box-body --> 
	      </div>  
      </div>
   </body>
</html> 