<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['mallTitle']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <link href="__ROOT__/Apps/Admin/View/css/upload.css" rel="stylesheet" type="text/css" />
      
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
      <script type="text/javascript" src="__ROOT__/Apps/Admin/View/js/upload.js"></script>

   <script>
   var ThinkPHP = window.Think = {
	        "ROOT"   : "__ROOT__"
	}
   function getAreaList(parentId){
	   var params = {};
	   params.parentId = parentId;
	   var id = $('#defaultCity_hidden').val();
	   $('#defaultCity').empty();
	   var html = [];
	   $.post("{:U('Admin/Areas/queryByList')}",params,function(data,textStatus){
		    html.push('<option value="">请选择</option>');
			var json = WST.toJson(data);
			if(json.status=='1' && json.list.length>0){
				var opts = null;
				for(var i=0;i<json.list.length;i++){
					opts = json.list[i];
					html.push('<option value="'+opts.areaId+'" '+((id==opts.areaId)?'selected':'')+'>'+opts.areaName+'</option>');
				}
			}
			$('#defaultCity').html(html.join(''));
	   });
   }
   var filetypes = ["gif","jpg","png","jpeg"];
      $(function(){
    	  $('#myTab a').click(function (e) {
    		  e.preventDefault();
    		  $(this).tab('show');
    	  });
    	  <PHP>if($areaId1!=0){</PHP>
     	   getAreaList('{$areaId1}');
     	  <PHP>}</PHP>  
    	  <PHP>if($CONF['mallLicense']==''){</PHP>
    	  //$('#mallCopyright').attr('disabled',true);
    	  <PHP>}</PHP>
    	  <php>
  		  foreach($configs as $key =>$cf){
  		  foreach($cf as $key =>$vo){
  			if($vo['fieldType']=='upload'){
  		  </php>
    	  
    	  <php>}}}</php>
      })
      function save(){
    		var params = {};
    		<php>
    		foreach($configs as $key =>$cf){
    		foreach($cf as $key =>$vo){
    			if($vo['fieldType']=='radio'){
    	    </php>
    			params.{$vo['fieldCode']} = $("input:radio[name='{$vo['fieldCode']}']:checked").val();
    		<php>}else{</php>
    			params.{$vo['fieldCode']} = $.trim($('#{$vo['fieldCode']}').val());
    		<php>}}}</php>
    		if(params.defaultCity==''){
    			Plugins.Tips({title:'信息提示',icon:'error',content:'请选择商城的默认城市!',timeout:1000});
    			return;
    		}
    		Plugins.waitTips({title:'信息提示',content:'正在提交数据，请稍后...'});
    		$.post("{:U('Admin/index/saveMallConfig')}",params,function(data,textStatus){
    			var json = WST.toJson(data);
    			if(json.status=='1'){
    				Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000,callback:function(){}});
    			}else{
    				Plugins.closeWindow();
    				Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
    			}
    		});
    	}
      </script>
   </head>
   <body>
      <ul id="myTab" class="nav nav-tabs wst-tab" role="tablist">
	      <li class="active"><a href="#tabc0" role="tab" data-toggle="tab">商城设置</a></li>
	      <li><a href="#tabc1" role="tab" data-toggle="tab">邮件设置</a></li>
	      <li><a href="#tabc2" role="tab" data-toggle="tab">短信设置</a></li>
	  </ul>
      <div class='tab-content wst-tab-content'>
      	  <iframe name="upload" style="display:none"></iframe>
          <foreach name="configs"  item="vo" key="k">
          <div class='tab-pane <if condition="$k eq 0">active in</if> fade wst-tab-pane' id='tabc{$k}'>
          <if condition="$k==0">
          	
			
          </if>
            
               <table class='table table-hover table-striped table-bordered wst-form'>
               <foreach name="vo"  item="v" key="key">
               <tr>
                  <th width='150'>{$v['fieldName']}：</th>
                  <td>
                     <php>
                     if($v['fieldType']=='text'){
                     </php>
                     <input type='text' autocomplete="off" class="form-control wst-ipt" id='{$v["fieldCode"]}' name='{$v["code"]}' value="{$v['fieldValue']}" />{$v['fieldTips']}
                     <php>
                     }else if($v['fieldType']=='radio'){
                        foreach($v['txt'] as $kt => $vt){
                     </php>
                       <label>
			           <input type='radio' id='{$v["val"][$kt]}_{$kt}' autocomplete="off" name='{$v["fieldCode"]}' value='{$v["val"][$kt]}' size='30' <php>if($v["fieldValue"]==$v["val"][$kt]){ echo "checked";}</php> />{$vt}&nbsp;&nbsp;
			           </label>
			         <php>
			            }
			         </php>{$v['fieldTips']}
                     <php>}else if($v['fieldType']=='textarea'){</php>
                     <textarea id='{$v["fieldCode"]}' autocomplete="off" name='{$vo["fieldCode"]}' style='width:400px;height:100px;'>{$v['fieldValue']}</textarea>{$v['fieldTips']}
                     <php>}else if($v['fieldType']=='other'){</php>
                     <php>if($v['fieldCode']=='defaultCity'){</php>
                     <select name='areaId1' id='areaId1' onchange='javascript:getAreaList(this.value)'>
			             <option value=''>请选择</option>
			             <volist name="areaList" id="vo">
			             <option value='{$vo['areaId']}' <if condition="$areaId1 == $vo['areaId'] ">selected</if>>{$vo['areaName']}</option>
			             </volist>
			         </select>
			         <select name='defaultCity' id='defaultCity'>
			             <option value=''>请选择</option>
			          </select>
			          <input id='defaultCity_hidden' type='hidden' value='{$v['fieldValue']}'/>
                     <php>}</php>
                     <php>}else if($v['fieldType']=='upload'){</php>
                       	<form id="uploadform_{$v['fieldCode']}p" autocomplete="off" enctype="multipart/form-data" method="POST" target="upload" action="{:U('Home/Shops/uploadPic')}" >
							<div style="position:relative;">
							<input id="{$v['fieldCode']}"  name="{$v['fieldCode']}" class="form-control wst-ipt" type="text" value="{$v['fieldValue']}" readonly style="margin-right:4px;float:left;margin-left:8px;width:250px;"/>
							<div class="div1">
								<div class="div2">浏览</div>
								<input type="file" class="inputstyle" id="{$v['fieldCode']}p" name="{$v['fieldCode']}p" onchange="updfile('{$v[fieldCode]}p');" >
							</div>
							<div style="clear:both;"></div>
							<div >&nbsp;{$v['fieldTips']}</div>
							<input type="hidden" name="dir" value="mall">
							<input type="hidden" name="width" value="1400">
							<input type="hidden" name="folder" value="Filedata">
							<input type="hidden" name="sfilename" value="{$v['fieldCode']}">
							<input type="hidden" name="fname" value="{$v['fieldCode']}">
							<input type="hidden" id="s_{$v['fieldCode']}" name="s_{$v['fieldCode']}" value="">
							
							</div>
						</form>
                     <!-- 
                     <input type='text'  id='{$v["fieldCode"]}Upload' class="form-control wst-ipt" autocomplete="off"/>{$v['fieldTips']}
                     <input type='hidden' id='{$v["fieldCode"]}' value='{$v['fieldValue']}' autocomplete="off"/> -->
                     <div id="preview_{$v['fieldCode']}">
                     	<img id='{$v["fieldCode"]}Preview' src='__ROOT__/{$v['fieldValue']}' width="152" height="152"/>
                     </div>
                     <php>}</php>
                  </td>
               </tr>
               </foreach>
               <tr>
                 <td style='padding-left:250px;' colspan='2'>
                    <button type="button" class="btn btn-primary" onclick='javascript:save()'>保&nbsp;存</button>
                    <button type="reset" class="btn btn-primary">重&nbsp;置</button>
                 </td>
               </tr>
               </table>
            
          </div>
          </foreach>
      </div>
   </body>
</html> 