<extend name="./Apps/Home/View/default/shops/layout.html" />
<block name="content">
   <script>
   $(function () {
	   $.formValidator.initConfig({
		   theme:'Default',mode:'AutoTip',formID:"myform",debug:true,submitOnce:true,onSuccess:function(){
			   editPass();
			   return false;
			},onError:function(msg){
		}});
	   $("#oldPass").formValidator({onShow:"",onFocus:"",onCorrect:"输入正确"}).inputValidator({min:6,max:20,onError:"密码长度为6到20位"});
	   $("#newPass").formValidator({onShow:"",onFocus:"",onCorrect:"输入正确"}).inputValidator({min:6,max:20,onError:"新密码长度为6到20位"});
	   $("#reNewPass").formValidator({onShow:"",onFocus:"",onCorrect:"输入正确"}).inputValidator({min:6,max:20,onError:"新密码长度为6到20位"}).compareValidator({desID:"newPass",operateor:"=",onError:"2次密码不一致,请确认"});

   });
   
   
   </script>
   <div class="wst-body"> 
       <div class='wst-page-header'>卖家中心 > 修改密码</div>
       <div class='wst-page-content'>
       <form name="myform" method="post" id="myform" autocomplete="off">
        <table class="table table-hover table-striped table-bordered wst-form">
           <tr>
             <th align='right'>原始密码 <font color='red'>*</font>：</th>
             <td>
             <input type='password' id='oldPass' name='oldPass' style='width:250px;' maxLength='16'/>
             </td>
           </tr>
           <tr>
             <th align='right'>新密码 <font color='red'>*</font>：</th>
             <td>
             <input type='password' id='newPass' name='newPass' style='width:250px;' maxLength='16'/>
             </td>
           </tr>
           <tr>
             <th align='right'>再次确认密码 <font color='red'>*</font>：</th>
             <td>
             <input type='password' id='reNewPass' name='reNewPass' style='width:250px;' maxLength='16'/>
             </td>
           </tr>
           <tr>
             <td colspan='2' style='padding-left:250px;'>
                 <button class='wst-btn-query' type="submit">保&nbsp;存</button>
                 <button class='wst-btn-query' type="reset">重&nbsp;置</button>
             </td>
           </tr>
        </table>
       </form>
       </div>
   </div>
</block>  