<extend name="./Apps/Home/View/default/shops/layout.html" />
<block name="content">
<div>
	<div class='wst-page-header'>
		卖家中心&nbsp;>&nbsp;帐户概览
	</div>
	<div style="height:158px;">
		<table style="width:800px;margin-top:25px;">
			<tbody>
				<tr>
					<td width="140">
						<div class='wst-shophome-img'>
							<a target="_blank" href="{:U('Home/Shops/toShopHome/',array('shopId'=>$shopInfo['shop']['shopId']))}">
								<img src="__ROOT__/{$shopInfo['shop']['shopImg']}" height="120" width="120" />
							</a>
						</div>
					</td>
					<td style="vertical-align:top;line-height:25px;">
						<div style="font-weight:bolder;">{$shopInfo['shop']['shopName']}</div>
						<div style="">店铺名称：<a target="_blank" href="{:U('Home/Shops/toShopHome/',array('shopId'=>$shopInfo['shop']['shopId']))}"><span style="color:#55AAFF">{$shopInfo['shop']['shopName']}</a></span></div>
						<div style="">店铺状态：
						<if condition="$shopInfo['shop']['shopStatus'] eq 1">
							<if condition="($shopInfo['shop']['shopAtive'] eq 1) and  ($shopInfo['shop']['shopStatus'] eq 1)">
								营业中，
							<else/>
								休息中，
							</if>
						</if>
						<if condition="$shopInfo['shop']['shopStatus'] eq 1">
							已审核
						<elseif condition="$shopInfo['shop']['shopStatus'] eq -2"/>
							已停止
						<elseif condition="$shopInfo['shop']['shopStatus'] eq -1"/>
							已拒绝
						<elseif condition="$shopInfo['shop']['shopStatus'] eq 0"/>
							待审核
						</if>
						</div>
					</td>
					<td width="280" style="vertical-align:top;line-height:25px;">
						<div style="font-weight:bolder;">店铺动态评分</div>
						<div style="">商品描述:
							<for start="0" end="$shopInfo['details']['goodsScore']">
							    <img src="__ROOT__/Apps/Home/View/default/images/icon_score_yes.png"/>
							</for>
							{$shopInfo['details']['goodsScore']}分
						</div>
						<div style="">时效评分:
							<for start="0" end="$shopInfo['details']['timeScore']">
							    <img src="__ROOT__/Apps/Home/View/default/images/icon_score_yes.png"/>
							</for>
							{$shopInfo['details']['timeScore']}分
						</div>
						<div style="">服务评分:
							<for start="0" end="$shopInfo['details']['serviceScore']">
							    <img src="__ROOT__/Apps/Home/View/default/images/icon_score_yes.png"/>
							</for>
							{$shopInfo['details']['serviceScore']}分
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class='wst-shophome-area'>
		<div class='wst-shophome-nav'>
			<div class='header'>
				店铺提示
			</div>
			<div class='main'>
				<div style="font-weight:bolder;">您需要关注的店铺情况：</div>
				<div style="color:#55AAFF;">
					商品提示：
					<span>待审核商品（<span style="color:red;">{$shopInfo['details']['waitGoodsCnt']|intval}</span>）</span>&nbsp;&nbsp;&nbsp;&nbsp;
					<span>仓库中商品（<span style="color:red;">{$shopInfo['details']['waitSaleGoodsCnt']|intval}</span>）</span>&nbsp;&nbsp;&nbsp;&nbsp;
					<span>买家评价（<span style="color:red;">{$shopInfo['details']['appraisesCnt']|intval}</span>）</span>
				</div>
			</div>
			<div class='current' >出售中的商品（{$shopInfo['details']['onSaleGoodsCnt']|intval}）&nbsp;&nbsp;&nbsp;&nbsp;<!-- 淘宝数据导入 --></div>
			<div class='header'>
				交易提示
			</div>
			<div class='main'>
				<div style="font-weight:bolder;">您需要立即处理的交易订单：</div>
				<div style="color:#55AAFF;">
					订单提示：
					<span>待受理订单（<span style="color:red;">{$shopInfo['details']['waitHandleOrderCnt']|intval}</span>）</span>&nbsp;&nbsp;&nbsp;&nbsp;
					<span>待发货订单（<span style="color:red;">{$shopInfo['details']['waitSendOrderCnt']|intval}</span>）</span>&nbsp;&nbsp;&nbsp;&nbsp;
					<span>待结束订单（<span style="color:red;">{$shopInfo['details']['appraisesOrderCnt']|intval}</span>）</span>
				</div>
			</div>
			<div class='current'>周订单量（{$shopInfo['details']['weekOrderCnt']|intval}）&nbsp;&nbsp;&nbsp;&nbsp;周交易金额（{$shopInfo['details']['weekOrderMoney']|intval}）&nbsp;&nbsp;&nbsp;&nbsp;一个月订单量（{$shopInfo['details']['monthOrderCnt']|intval}）&nbsp;&nbsp;&nbsp;&nbsp;一个月交易金额（{$shopInfo['details']['monthOrderMoney']|intval}）&nbsp;&nbsp;&nbsp;&nbsp;</div>
			
			<div class='header' style='display:none'>
				支付帐号
			</div>
			<div class='main' style='display:none'>
				<div style="float:left;width:100px;height:100px;">
					<img src="" width="100" height="100"/>
				</div>
				<div style="float:left;width:400px;height:100px;padding-left:10px;">
					您的帐户余额：43349元<br/>
					<button style="width:80px;height:30px;background-color:#e23e3d;color:#ffffff;border:1px solid #ffffff;">帐户充值</button><br/>
					<div style="color:#55AAFF;">
						<span>支付帐号</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>提现</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>出入明细</span>&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
				</div>
				<div class="wst-clear"></div>
			</div>
			
		</div>
		
		<div style="width:192px;float:left;min-height:400px;border-left:1px solid #cccccc;">
			<div style="height:36px;line-height:36px;font-weight:bolder;padding-left:10px;">
				平台联系方式
			</div>
			<div style="padding-left:10px;line-height:26px;">
				<div>电话：{$shopInfo['shop']['userPhone']}</div>
				<div>邮箱：{$shopInfo['shop']['userEmail']}</div>
				<div>服务时间：{$shopInfo['shop']['serviceStartTime']}-{$shopInfo['shop']['serviceEndTime']}</div>
			</div>
		</div>
		<div class="wst-clear"></div>
	</div>
</div>
</block>   