<!doctype html>
<html class="no-js">
<head>
  <include file="./Apps/WebApp/View/default/common_meta.html" />
  <title>我的订单 - {$CONF['mallTitle']}</title>
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/common.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/orders_management.css">
</head>
<body>
    <header data-am-widget="header" class="am-header am-header-default am-header-fixed" style="background-color:#F36C2C;">
    <div class="am-header-left am-header-nav">
    <a href="#" class="" id=""><i class="am-icon-angle-left am-icon-sm"></i></a>
    </div>
    <h2 class="am-header-title">我的订单</h2>
    </header>

    <div class="condition-area">
      <ul class="am-avg-sm-5">
          <li class="condition-li condition-active"><span class="condition">全部</span></li>
          <li class="condition-li"><span class="condition">待受理</span></li>
          <li class="condition-li"><span class="condition">待收货 </span></li>
          <li class="condition-li"><span class="condition">已消费 </span></li>
          <li class="condition-li"><span class="condition">待评价 </span></li>
      </ul>
    </div>

    <?php $orderStatus = array('-2'=>'待付款', '0'=>'待受理', '3'=>'待收货', '4'=>'待评价', '5'=>'已消费');?>
    
    <div class="orders-list" id="orders-list">
      <volist name="ordersList['root']" key="k" id="vo">
        <div class="orders">
          <div class="am-g orders-top">
            <div class="am-u-sm-7"><a href="" class="orders-shopname">{$vo['shopName']}</a></div>
            <div class="am-u-sm-5 orders-top-right">
              <span class="orders-status"><?php echo $orderStatus[$vo['orderStatus']];?></span>
            </div>
          </div>
          <div class="am-g orders-middle">
            <div class="am-u-sm-2">
              <a href="">
                <img src="__ROOT__/Apps/WebApp/View/default/images/user_photo.png" class="orders-goods-img">
              </a>
            </div>
            <div class="am-u-sm-7">
              <a href="">
                <span class="orders-goods-name">{$vo['shopName']}</span>
              </a>
            </div>
            <div class="am-u-sm-3 orders-goods-price-area">
              <span class="orders-goods-price">￥ {$vo['needPay']}</span>
              <span class="orders-goods-num">x<?php echo count($vo['data']);?></span>
            </div>
          </div>
          <div class="am-g orders-bottom">共 <?php echo count($vo['data']);?> 件商品  实付：<span class="orders-totalmoney">￥{$vo['totalMoney']}</span></div>
          </div>
        </div>
      </volist>
    </div>

  <include file="./Apps/WebApp/View/default/common_footer.html" /> 

  <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
  <script type="text/javascript">
  var ThinkPHP = window.Think = {
          "ROOT"   : "__ROOT__",
          "APP"    : "__APP__",
          "PUBLIC" : "__PUBLIC__",
          "DEEP"   : "{:C('URL_PATHINFO_DEPR')}",
          "MODEL"  : ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
          "VAR"    : ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"]
  }
  var rooturl = "__ROOT__";
  </script>
  <script src="__PUBLIC__/js/think.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/js/amazeui.min.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/common.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/orders_management.js"></script>
</body>
</html>