<!doctype html>
<html class="no-js">
<head>
  <include file="./Apps/WebApp/View/default/common_meta.html" />
  <title>我的 - {$CONF['mallTitle']}</title>
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/common.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/users.css">
</head>
<body>

  <header data-am-widget="header" class="am-header am-header-default am-header-fixed" style="background-color:#F36C2C;">
    <div class="am-header-left am-header-nav"></div>
    <h1 class="am-header-title">个人信息</h1>
  </header>

  <?php $sex = array('0'=>'保密', '1'=>'男', '2'=>'女');?>
    
  <!-- <div class="am-g user-options">
    <a href="">
      <div class="am-u-sm-4">头像</div>
      <div class="am-u-sm-8 options-right">
        <img src="__ROOT__/Apps/WebApp/View/default/images/user_photo.png" class="user-photo">
        <i class="am-icon-angle-right am-icon-sm"></i>
      </div>
    </a>
  </div> -->
  <div class="am-g user-options">
    <a href="">
      <div class="am-u-sm-4">用户名</div>
      <div class="am-u-sm-8 options-right"><span class="userinfo">{$loginName}</span></div>
    </a>
  </div>
  <div class="am-g user-options nickName-area" id="nickName">
    <div class="am-u-sm-4">昵称</div>
    <div class="am-u-sm-8 options-right"><span class="userinfo" id="nickname">{$userName}</span><i class="am-icon-angle-right am-icon-sm"></i>
    </div>
  </div>
  <div class="am-g user-options userSex-area" id="userSex">
    <div class="am-u-sm-4">性别</div>
    <div class="am-u-sm-8 options-right">
      <span class="userinfo"><?php echo $sex[$userSex];?></span>
      <i class="am-icon-angle-right am-icon-sm"></i>
    </div>
  </div>

  <!-- 修改昵称 -->
  <div class="am-popup" id="wst-nickname-popup" style="display:none;">
    <div class="am-popup-inner">
      <div class="am-popup-hd">

        <header data-am-widget="header" class="am-header am-header-default am-header-fixed" style="background-color:#F36C2C;">
          <div class="am-header-left am-header-nav"><i class="am-icon-angle-left am-icon-sm close-nickName" id="close-nickName"></i></div>
          <h1 class="am-header-title">修改昵称</h1>
          <div class="am-header-right am-header-nav editNickName" id="editNickName">确定</div>
        </header>
      </div>
      <div class="am-popup-bd">
        <input type="text" class="am-form-field am-radius" name="userName" id="userName" placeholder="昵称" autocomplete="off" />
      </div>
    </div>
  </div>

  <!-- 修改性别 -->
  <div class="am-popup" id="wst-usersex-popup" style="display:none;">
    <div class="am-popup-inner">
      <div class="am-popup-hd">
        <header data-am-widget="header" class="am-header am-header-default am-header-fixed" style="background-color:#F36C2C;">
          <div class="am-header-left am-header-nav"><i class="am-icon-angle-left am-icon-sm close-usersex" id="close-usersex"></i></div>
          <h1 class="am-header-title">修改性别</h1>
        </header>
      </div>
      <div class="am-popup-bd">
        <div calss="usersex" id="usersex0">保密</div>
        <div calss="usersex" id="usersex1">男</div>
        <div calss="usersex" id="usersex2">女</div>
      </div>
    </div>
  </div>

<div class="am-modal am-modal-alert" tabindex="-1" id="wst-login-alert">
  <div class="am-modal-dialog">
    <div class="am-modal-hd"></div>
    <div class="am-modal-bd" id="wst-login-msg"></div></div>
</div>

  <include file="./Apps/WebApp/View/default/common_footer.html" />   

  <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
  <script type="text/javascript">
  var ThinkPHP = window.Think = {
          "ROOT"   : "__ROOT__",
          "APP"    : "__APP__",
          "PUBLIC" : "__PUBLIC__",
          "DEEP"   : "{:C('URL_PATHINFO_DEPR')}",
          "MODEL"  : ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
          "VAR"    : ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"]
  }
  var rooturl = "__ROOT__";
  </script>
  <script src="__PUBLIC__/js/think.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/js/amazeui.min.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/common.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/users.js"></script>
</body>
</html>