<!doctype html>
<html>
	<head>
  		<meta charset="utf-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<link rel="shortcut icon" href="favicon.ico"/>
      	<meta name="viewport" content="width=device-width, initial-scale=1">
      	<title>{$goodsDetails["goodsName"]} - {$CONF['mallTitle']}</title>
      	<meta name="keywords" content="{$goodsDetails['goodsName']}" />
      	<meta name="description" content="{$CONF['mallDesc']},{$goodsDetails['goodsName']}" />
      	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/common.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/goodsdetails.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/base.css" />
		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/head.css" />

     	<script src="__PUBLIC__/js/jquery.min.js"></script>
   	</head>
   	<body>
		<include file="./Apps/Home/View/default/header_common.html" />
	
		<input id="goodsId" type="hidden" value="{$goodsDetails['goodsId']}"/>
		<!----加载商品楼层start----->
		<div class="wst-container">
			<div class="wst-nvg-title" style='display:none;'></div>
			<div class="wst-goods-details">
				<div class="wst-goods-notext">相关商品不存在，或已下架</div>
			</div>
		</div>
		<include file="./Apps/Home/View/default/footer.html" />
		<include file="./Apps/Home/View/default/right_cart.html" />
   	</body>
   	
   	<script src="__ROOT__/Apps/Home/View/default/js/goods.js"></script>
	<script src="__PUBLIC__/js/common.js"></script>
	<script src="__ROOT__/Apps/Home/View/default/js/head.js" type="text/javascript"></script>
	<script src="__ROOT__/Apps/Home/View/default/js/common.js" type="text/javascript"></script>
   	
</html>




