<include file="./Apps/Home/View/default/header_nav.html" />
<div style="height:132px;">
<div id="mainsearchbox" style="text-align:center;">
	<div id="wst-search-pbox">
		<div style="float:left;width:240px;" class="wst-header-car">
		  <a href='{:WSTDomain()}'>
			<img id="wst-logo" width='240' height='132' src="{:WSTDomain()}/{$CONF['mallLogo']}"/>
		  </a>	
		</div>
		<div id="wst-search-container">
			<div id="wst-search-type-box">
				<input id="wst-search-type" type="hidden" value="{$searchType}"/>
				<div id="wst-panel-goods" class="<if condition='$searchType eq 1'>wst-panel-curr<else/>wst-panel-notcurr</if>">商品</div>
				<div id="wst-panel-shop" class="<if condition='$searchType eq 2'>wst-panel-curr<else/>wst-panel-notcurr</if>">店铺</div>
				<div class="wst-clear"></div>
			</div>
			<div id="wst-searchbox">
				<input id="keyword" class="wst-search-keyword" data="wst_key_search" onkeyup="getSearchInfo(this,event);" placeholder="<if condition='$searchType eq 2'>搜索 店铺<else/>搜索 商品</if>" autocomplete="off"  value="{$keyWords}">
				<div id="btnsch" class="wst-search-button">搜&nbsp;索</div>
				<div id="wst_key_search_list" style="position:absolute;top:38px;left:-1px;border:1px solid #b8b8b8;min-width:567px;display:none;background-color:#ffffff;z-index:1000;">dfdf</div>
			</div>
			<div id="wst-hotsearch-keys">
				<volist name="CONF['hotSearchs']" key="k" id="vo">
				<a href="{:U('Home/goods/getGoodsList',array('keyWords'=>$vo))}">{$vo}</a><if condition="$k lt count($CONF['hotSearchs'])">&nbsp;&nbsp;|&nbsp;&nbsp;</if>
				</volist>
			</div>
		</div>
		<div id="wst-search-des-container">
			<div class="des-box">
				<div class='wst-reach'>
					<img src="__ROOT__/Apps/Home/View/default/images/sadn.jpg"  height="38" width="40"/>
					<div style="float:left;position:absolute;top:0px;left:38px;"><span style="font-weight:bolder;">闪电配送</span><br/><span style="color:#e23c3d;">最快1小时送达</span></div>
				</div>
				<div class='wst-since'>
					<img src="__ROOT__/Apps/Home/View/default/images/sqzt.jpg"  height="38" width="40"/>
					<div style="float:left;position:absolute;top:0px;left:38px;"><span style="font-weight:bolder;">社区自提</span><br/><span style="color:#e23c3d;">330家自提点</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="headNav">
		  <div class="navCon w1020">
		  	<div class="wst-slide-controls">
		  		<volist name="indexAds" id="vo" key="k" >
		  			<if condition="$k eq 1">
		  		 		<span class="curr">{$k}</span>
		  		  	<else/>
		  		    	<span class="">{$k}</span>
		  		 	</if>
				</volist>
			</div>
		    <div class="navCon-cate fl navCon_on" >
		      <div class="navCon-cate-title"> <a href="{:U('Home/goods/getGoodsList')}">全部商品分类</a></div>
		      
		      	<if condition="$ishome eq 1">
		     	 	<div class="cateMenu1" >
		      	<else/>
		      		<div class="cateMenu2" style="display:none;" >
		      	</if>
		        <div id="wst-nvg-cat-box" style="position:relative;">
		        	<div class="wst-nvgbk" style="diplay:none;"></div>
		        	<volist name=":WSTGoodsCats()" key="k1" id="vo1">
		        		<if condition="$k1 lt 7">
				    	<li class="wst-nvg-cat-nlt6" style="border-top: none;" >
				    	<else/>
				    	<li class="wst-nvg-cat-gt6" style="border-top: none;display:none;" >
				    	</if>
				    	<div>
				            <div class="cate-tag"> 
				            <div class="listModel">
				             <p > 
				            	<strong><s{$k1}></s{$k1}>&nbsp;<a style="font-weight:bold;" href="{:U('Home/goods/getGoodsList',array('c1Id'=>$vo1['catId']))}">{$vo1["catName"]}</a></strong>
				             </p> 
				             </div>
				              <div class="listModel">
				                <p> 
				                <volist name="vo1['catChildren']" key="k2" id="vo2">
				                <a href="{:U('Home/goods/getGoodsList',array('c1Id'=>$vo1['catId'],'c2Id'=>$vo2['catId']))}">{$vo2["catName"]}</a>
				                </volist>
				                </p>
				              </div>
				            </div>
				            <div class="list-item hide">
				              <ul class="itemleft">
				              	<volist name="vo1['catChildren']" key="k2" id="vo2">
				                 <dl>
				                  <dt><a href="{:U('Home/goods/getGoodsList',array('c1Id'=>$vo1['catId'],'c2Id'=>$vo2['catId']))}">{$vo2["catName"]}</a></dt>
				                  <dd> 
				                  <volist name="vo2['catChildren']" key="k3" id="vo3">
				                  <a href="{:U('Home/goods/getGoodsList',array('c1Id'=>$vo1['catId'],'c2Id'=>$vo2['catId'],'c3Id'=>$vo3['catId']))}">{$vo3["catName"]}</a> 
				                  </volist>
				                  </dd>
				                </dl>
				                <div class="fn-clear"></div>
				                </volist>
				              </ul>
				            </div>
				            </div>
				  		</li>
				  		
		          	</volist>
		          	
		          	<li style="display:none;"></li>
		        </div>
		      </div>
		    </div>
		    
		    <div class="navCon-menu fl">
		      <ul class="fl">
		        <volist name=":WSTNavigation(0)" id="vo" >
		       	<li ><a href="{$vo['navUrl']}" <if condition="$vo['isOpen'] eq 1">target="_blank"</if> <if condition="$vo['active'] eq 1">class="curMenu"</if>>&nbsp;&nbsp;{$vo['navTitle']}&nbsp;&nbsp;</a></li>
		       	</volist>
		      </ul>
		    </div>
		    <li id="wst-nvg-cart">
		    	<div class='wst-nvg-cart-cost'>
		       		&nbsp;<span class="wst-nvg-cart-cnt">0</span>件&nbsp;|&nbsp;<span class="wst-nvg-cart-price">0.00</span>元
		       	</div>
			</li>
			<div class="wst-cart-box"><div class="wst-nvg-cart-goods">购物车中暂无商品</div></div>
		  </div>
		</div>
		<script>
		$(function(){
			checkCart();
		});
		</script>