<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/plugins/lazyload/jquery.lazyload.min.js?v=1.9.1"></script>
<script type="text/javascript">
var WST = ThinkPHP = window.Think = {
        "ROOT"   : "__ROOT__",
        "APP"    : "__APP__",
        "PUBLIC" : "__PUBLIC__",
        "DEEP"   : "{:C('URL_PATHINFO_DEPR')}",
        "MODEL"  : ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
        "VAR"    : ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"],
        "DOMAIN" : "{:WSTDomain()}",
        "CITY_ID" : "{$currArea['areaId']}",
        "CITY_NAME" : "{$currArea['areaName']}",
        "DEFAULT_IMG": "{:WSTDomain()}/{$CONF['goodsImg']}",
        "MALL_NAME" : "{$CONF['mallName']}",
        "SMS_VERFY"  : "{$CONF['smsVerfy']}",
        "PHONE_VERFY"  : "{$CONF['phoneVerfy']}",
        "IS_LOGIN" :"{$WST_IS_LOGIN}"
}
    $(function() {
    	$('.lazyImg').lazyload({ effect: "fadeIn",failurelimit : 10,threshold: 200,placeholder:WST.DEFAULT_IMG});
    });
</script>
<script src="__PUBLIC__/js/think.js"></script>
<div id="wst-shortcut">
	<div class="w">
		<ul class="fl lh">
			<li class="fore1 ld"><b></b><a href="javascript:addToFavorite()"
				rel="nofollow">收藏{$CONF['mallName']}</a></li><s></s>
			<li class="fore3 ld menu" id="app-jd" data-widget="dropdown">
				<span class="outline"></span> <span class="blank"></span> 
				<a href="#" target="_blank"><img src="__ROOT__/Apps/Home/View/default/images/icon_top_02.png"/>&nbsp;{$CONF['mallName']} 手机版</a>
			</li>
			<li class="fore4" id="biz-service" data-widget="dropdown" style='padding:0;'>&nbsp;<s></s>&nbsp;&nbsp;&nbsp;
				所在城市
				【<span class='wst-city'>&nbsp;{$currArea["areaName"]}&nbsp;</span>】
				<img src="__ROOT__/Apps/Home/View/default/images/icon_top_03.png"/>	
				&nbsp;&nbsp;<a href="javascript:;" onclick="toChangeCity();">切换城市</a><i class="triangle"></i>
			</li>
		</ul>
	
		<ul class="fr lh" style='float:right;'>
			<li class="fore1" id="loginbar"><a href="{:U('Home/Orders/queryByPage')}"><span style='color:blue'>{$WST_USER['loginName']}</span></a> 欢迎您来到 <a href='{:WSTDomain()}'>{$CONF['mallName']}</a>！<s></s>&nbsp;
			<span>
				<if condition="!$WST_USER['userId']">
				<a href="{:U('Home/Users/login')}">[登录]</a>
				<a href="{:U('Home/Users/regist')}"	class="link-regist">[免费注册]</a>
				</if>
				<if condition="$WST_USER['userId'] gt 0">
				<a href="javascript:logout();">[退出]</a>
				</if>
			</span>
			</li>
			<li class="fore2 ld"><s></s>
			<PHP>if(session('WST_USER.userId')>0){</PHP>
				<PHP>if(session('WST_USER.userType')==0){</PHP>
				    <a href="{:U('Home/Shops/toOpenShopByUser')}" rel="nofollow">我要开店</a>
				<PHP>}else{</PHP>
				    <PHP>if(session('WST_USER.loginTarget')==0){</PHP>
				        <a href="{:U('Home/Shops/index')}" rel="nofollow">卖家中心</a>
				    <PHP>}else{</PHP>
				        <a href="{:U('Home/Users/index')}" rel="nofollow">买家中心</a>
				    <PHP>}</PHP>
				<PHP>}</PHP>
			<PHP>}else{</PHP>
			    <a href="{:U('Home/Shops/toOpenShop')}" rel="nofollow">我要开店</a>
			<PHP>}</PHP>
			</li>
		</ul>
		<span class="clr"></span>
	</div>
</div>
