<!DOCTYPE html>
<html lang="zh-cn">
	<head>
  		<meta charset="utf-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<link rel="shortcut icon" href="favicon.ico"/>
      	<title>用户登录 - {$CONF['mallTitle']}</title>
      	<meta name="keywords" content="{$CONF['mallKeywords']}" />
      	<meta name="description" content="{$CONF['mallDesc']},用户登录" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/{$WST_STYLE}/css/common.css">
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/{$WST_STYLE}/css/base.css" />
		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/{$WST_STYLE}/css/head.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/{$WST_STYLE}/css/login.css">
     	
   	</head>
   	<body>
   		<include file="./Apps/Home/View/default/header_common.html" />
   			<div class='wst-login'>
		    	<div class="w1" id="entry">
		        	<div class="mc " id="bgDiv" style="position:relative">
		        	<div><a style="text-decoration: none;font-size:65px;color:red;position:absolute;top:160px;left:60px;" href="{:U('Index/index')}">用户登录</a></div>
		            <div class="form">
		                <div class="item fore1" style="position:relative;">
		                    <span>用户名/手机号/邮箱</span><span id="errmsg" style="color:red;position:absolute;top:0px;left:100px;"></span>
		                    <div class="item-ifo">
		                        <input id="loginName2" name="loginName" class="text"  tabindex="1" value="{$loginName}" autocomplete="off" type="text"/>
		                        <div class="i-name ico"></div>                       
		                    </div>
		                </div>               
		                <div class="item fore2">
		                    <span>密码</span>
		                    <div class="item-ifo">                       
		                        <input id="loginPwd" name="loginPwd" class="text" tabindex="2" autocomplete="off" type="password"/>                      
		                        <div class="i-pass ico"></div>            
		                    </div>
		                </div>
		                <div class="item fore3 " id="o-authcode">
		                    <span>验证码</span>
		                    <div class="item-ifo">
		                        <input id="verify" style="ime-mode:disabled" name="verify" class="text text-1" tabindex="6" autocomplete="off" maxlength="6" type="text"/>
			                   
			                    <div>
			                    <label class="img">
			                		<img class='verifyImg' style="height: 55px;width:175px;" src='{$WST_STYLE}/images/clickForVerify.png' title='刷新验证码' onclick='javascript:getVerify()'/> 
								</label>      	
			              		</div>
			              		<div class="wst-clear;"></div>
			              		<label class="ftx23" style="  position: relative;top: -20px;">&nbsp;看不清？<a href="javascript:getVerify()" class="flk13">换一张</a></label>
		                    </div>
		                </div>
		                <div class="wst-clear"></div>
		                <div class="item fore4">
		                    <div class="item-ifo">
		                    	<div>
			                        <input class="checkbox" id="rememberPwd" name="rememberPwd" checked="checked" type="checkbox"/>
			                        <label class="mar">记住密码</label>                                      
			                        <label class="mar"><a href="{:U('Home/Users/forgetPass')}">忘记密码?</a></label>
			                        <label><a href="{:U('Home/Users/regist')}" >免费注册</a></label>
		                        </div>
		                        <div class="wst-clear"></div>
		                        <div style="min-height:10px;">
		                        <if condition="$CONF['isOpenQQLogin'] eq 1 or $CONF['isOpenWxLogin'] eq 1"><label>第三方登录&nbsp;</label></if>
		                        <if condition="$CONF['isOpenQQLogin'] eq 1">
		                        <a id="qqAuthorizationUrl" href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id={$CONF['qqAppId']}&redirect_uri={$qqBackUrl}" class="qq">
		                        	<img src="__ROOT__/Apps/Home/View/{$WST_STYLE}/images/qq_logo.png" alt="QQ登录" border="0" height="35">
		                        </a>
		                        </if>
		                        <if condition="$CONF['isOpenWxLogin'] eq 1">
		                        <a id="qqAuthorizationUrl" href="https://open.weixin.qq.com/connect/qrconnect?appid={$CONF['wxAppId']}&redirect_uri={$wxBackUrl}&response_type=code&scope=snsapi_login&state=<?php echo time();?>#wechat_redirect" class="qq">
		                        	<img src="__ROOT__/Apps/Home/View/{$WST_STYLE}/images/wx_logo.png" alt="微信登录" border="0" height="35">
		                        </a>
		                        </if>
		                        </div>
		                    </div>
		            	</div>
		                <div class="item login-btn2013">
		                    <input class="btn-img btn-entry" id="loginsubmit" value="登录" tabindex="8" onclick="checkLoginInfo();"/>
		                </div>
		            </div> 
		        </div>
		    </div>
		</div>
		<include file="./Apps/Home/View/default/footer.html" />
		<script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
      	<script src="__PUBLIC__/js/common.js"></script>
      	<script src="__ROOT__/Apps/Home/View/{$WST_STYLE}/js/common.js"></script>
      	<script src="__ROOT__/Apps/Home/View/{$WST_STYLE}/js/userlogin.js"></script>
      	<script>
      	$(function(){getVerify();})
      	</script>
   	</body>
</html> 