<!DOCTYPE html>
<html lang="zh-cn">
	<head>
  		<meta charset="utf-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<link rel="shortcut icon" href="favicon.ico"/>
      	<meta name="viewport" content="width=device-width, initial-scale=1">
      	<title>店铺注册 - {$CONF['mallTitle']}</title>
      	<meta name="keywords" content="{$CONF['mallKeywords']}" />
      	<meta name="description" content="{$CONF['mallDesc']},店铺注册" />
      	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/common.css">
      	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/regist.css">
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/passport.css">
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/base.css" />
		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/head.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/footer.css">
     	<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/webuploader/webuploader.css" />
     	<style>
		.div1{ background: #E23C3D none repeat scroll 0 0;border: 1px solid red;border-radius: 2px;float: left;height: 35px;position: relative;top: 0px;width: 45px; }
		.div1:hover{background: none repeat scroll 0 0 red;border: 1px solid red;border-radius: 2px;float: left;height: 35px;position: relative;top: 0px;width: 45px;}
		.div2{font-size: 13px;line-height: 35px;text-align: center;}
		.inputstyle{cursor: pointer;font-size: 13px;height: 35px;left: 0px;opacity: 0;outline: medium none;position: absolute;top: 0px;width: 45px;}
		</style>	
   	</head>
   	<body>
    <style>
    .yj-select select{height:30px;font-size:14px;margin-right:5px;}
    .ATRoot{padding:0px 5px;height:22px;line-height:22px;clear:both;}
    .ATNode{margin-right:5px;;line-height:22px;width:150px;float:left;margin-top:2px;}
    label{cursor:pointer;}
    .tleft{float:left;}
    .Hide{display:none;}
    dl.areaSelect{display: inline-block; width:100%; margin-bottom: 0;}
    dl.areaSelect:hover{border:1px solid #E5CD29;}
    dl.areaSelect:hover dd{display: block;}
    dl.areaSelect dd{margin-left:20px;width:100%;}
    </style>
	<include file="./Apps/Home/View/default/header_common.html" />
	<div class="wst-regist" id="regist">	    
	    <div class="mc" style="position:relative;">
	        <div style="font-size:30px;color:black;padding-left:355px;border-bottom:dotted 1px #ddd; ">店铺注册</div>
	        <form name="myform" method="post" id="myform" autocomplete="off">
	            <div class="form">
	                <div class="item" id="select-regName">
	                    <span class="label"><b class="ftx04">*</b>登录账户：</span>	
	                    <div class="fl item-ifo">
	                        <div class="o-intelligent-regName" style="position:relative;">	                       
	                            <input id="loginName" name="loginName" class="text wstipt" tabindex="1" maxlength="30" type="text" onkeypress="return WST.isNumberCharKey(event)"/>
	                            <div id="loginNameTip" style="display: inline-block; "></div>
	                        </div>	                        
	                    </div>
	                </div>	                
	                <div id="o-password">
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>请设置密码：</span>	
	                        <div class="fl item-ifo">
	                            <input id="loginPwd" name="loginPwd" class="text wstipt" tabindex="2" style="ime-mode:disabled;" autocomplete="off" type="password"/>
	                            <label id="pwd_succeed" class="pwdblank"></label>	                           
	                        </div>
	                    </div>	
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>请确认密码：</span>	
	                        <div class="fl item-ifo">
	                            <input id="reUserPwd" name="reUserPwd" class="text wstipt" tabindex="3" autocomplete="off" type="password"/>	                            
	                            <label id="pwdRepeat_succeed" class="pwdblank"></label>	                           
	                        </div>
	                    </div>
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>店铺名称：</span>	
	                        <div class="fl item-ifo">
	                            <input id="shopName" name="shopName" class="text wstipt" tabindex="3" type='text'/>	                            
	                            <label id="shopName_succeed" class="pwdblank"></label>	                           
	                        </div>
	                    </div>
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>店主姓名：</span>	
	                        <div class="fl item-ifo">
	                            <input id="userName" name="userName" class="text wstipt" tabindex="3" type='text'/>	                            
	                            <label id="userName_succeed" class="pwdblank"></label>	                           
	                        </div>
	                    </div>	                    
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>公司名称：</span>	
	                        <div class="fl item-ifo">
	                            <input id="shopCompany" name="shopCompany" class="text wstipt" tabindex="3" autocomplete="off" style="" type="text"/>	                           
	                            <label id="shopCompany_succeed" ></label>	                           
	                        </div>
	                    </div>
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>店铺电话：</span>	
	                        <div class="fl item-ifo">
	                            <input id="shopTel" name="shopTel" class="text wstipt" tabindex="3" autocomplete="off" style="" type="text"/>	                           	                           
	                        </div>
	                    </div>
	                    <div class="item">
	                        <span class="label">QQ：</span>	
	                        <div class="fl item-ifo">
	                            <input id="qqNo" name="qqNo" class="text wstipt" tabindex="3" autocomplete="off" style="" type="text"/>	                           	                           
	                        </div>
	                    </div>
	                    <div class="item" style='height:auto;position:relative;'>
	                        <span class="label">店铺图标：</span>	
	                        <div class="fl item-ifo">
	                           <div>
	                            <div id="filePicker" style='margin-left:0px;float:left'>上传店铺图标</div>
	                            <div style='margin-left:5px;float:left'>图片大小:150 x 150 (px)，格式为 gif, jpg, jpeg, png</div>
             	               </div>
             	               <div style='clear:both;'>
                                <img id='preview' src='' ref='' width='100' height='100' style='display:none'/> 
                                <input id="shopImg" name="shopImg" class="text wstipt" tabindex="3" autocomplete="off" style="" type="hidden"/>  
                               </div>                      
	                        </div>
	                    </div>
	                   
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>所属地区：</span>	
	                        <div class="fl item-ifo yj-select">
	                            <select id='areaId1' class='wstipt' onchange='javascript:getAreas("areaId2",this.value,"","areaId2,areaId3")'>
					               <option value=''>请选择</option>
					               <volist name="areaList" id="vo">
					               <option value='{$vo['areaId']}' <if condition="$area['parentId'] == $vo['areaId'] ">selected</if>>{$vo['areaName']}</option>
					               </volist>
					             </select>
					             <select id='areaId2' class='wstipt' onchange='javascript:getAreas("areaId3",this.value,"","areaId3");'>
					               <option value=''>请选择</option>
					             </select>
					             <select id='areaId3' class='wstipt'>
					               <option value=''>请选择</option>
					             </select>
	                            <label id="shopTel_succeed" ></label>	                           
	                        </div>
	                    </div>
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>店铺地址：</span>	
	                        <div class="fl item-ifo">
	                            <input id="shopAddress" name="shopAddress" class="text wstipt" tabindex="3" autocomplete="off" style="" type="text"/>	                           
	                            <label id="shopAddress_succeed" ></label>	                           
	                        </div>
	                    </div>
	                    <div class="item" style='height:440px;'>
	                    <span class="label">&nbsp;</span>	
                        <div class="fl item-ifo">
                             <div id="mapContainer" style='height:400px;width:660px;'>等待地图初始化...</div>
                             <div style='color:red'>(注意：提交开店申请之后店铺地址将无法修改)</div>
				             <div style='display:none'>
				             <input type='text' id='latitude' class='wstipt' name='latitude' value=""/>
				             <input type='text' id='longitude' class='wstipt' name='longitude' value=""/>
				             <input type='text' id='mapLevel' class='wstipt' name='mapLevel' value="13"/>
				             </div>
				        </div>
				        </div>
						<div class="item">
	                        <span class="label"><b class="ftx04">*</b>行业：</span>	
	                        <div class="fl item-ifo yj-select">
	                            <select id='goodsCatId1' class='wstipt'>
					                <option value=''>请选择</option>
					                <volist name="goodsCatsList" id="vo">
					                <option value='{$vo['catId']}' <if condition="$object['goodsCatId1'] == $vo['catId'] ">selected</if>>{$vo['catName']}</option>
					                </volist>
					            </select>
	                            <label id="shopTel_succeed" ></label>	                           
	                        </div>
	                    </div>
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>营业状态：</span>	
	                        <div class="fl item-ifo">
	                            <label>
					             <input type="radio" id="shopAtive1" style='float:none;' class='wstipt' name="shopAtive" value="1">营业中&nbsp;&nbsp;&nbsp;&nbsp;
					            </label>
					            <label>
					             <input type="radio" id="shopAtive0" style='float:none;' class='wstipt' name="shopAtive" value="0" checked="">休息中
					            </label>	                           
	                        </div>
	                    </div>
	                    <div class="item" style='height:auto;'>
	                        <span class="label"><b class="ftx04">*</b>配送区域：</span>	
	                        <div class="fl item-ifo yj-select" style='width:670px;'>
             					 <div id='areaTree'></div>	                           
	                        </div>
	                    </div>
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>订单配送起步价：</span>	
	                        <div class="fl item-ifo">
	                            <input type="text" id="deliveryStartMoney" class="text wstipt" value="0.0" onkeypress="return WST.isNumberdoteKey(event)" onkeyup="javascript:WST.isChinese(this,1)" maxlength="8">            
	                        </div>
	                    </div>
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>包邮起步价：</span>	
	                        <div class="fl item-ifo">
	                            <input type="text" id="deliveryFreeMoney" class='text wstipt' value='0.0' onkeypress="return WST.isNumberdoteKey(event)" onkeyup="javascript:WST.isChinese(this,1)" maxlength="8">	                           
	                        </div>
	                    </div>
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>邮费：</span>	
	                        <div class="fl item-ifo">
	                           <input type="text" id="deliveryMoney" class='text wstipt' value='0.0' onkeypress="return WST.isNumberdoteKey(event)" onkeyup="javascript:WST.isChinese(this,1)" maxlength="8">
	                        </div>
	                    </div>
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>平均配送时间：</span>	
	                        <div class="fl item-ifo">
	                           <input type="text" id="deliveryCostTime" class='text wstipt' value='0' onkeypress="return WST.isNumberKey(event)" onkeyup="javascript:WST.isChinese(this,1)" maxlength="8">
	                        </div>
	                    </div>
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>平均消费金额：</span>	
	                        <div class="fl item-ifo">
	                           <input type="text" id="avgeCostMoney" class='text wstipt' value='0.0' onkeypress="return WST.isNumberdoteKey(event)" onkeyup="javascript:WST.isChinese(this,1)" maxlength="8">
	                        </div>
	                    </div>
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>能否开发票：</span>	
	                        <div class="fl item-ifo">
	                           <label>
					             <input type="radio" id="isInvoice1" style='float:none;' class='wstipt' onclick="javascript:WST.showHide(1,'#invoiceRemarkstr')" name="isInvoice" value="1">能&nbsp;&nbsp;&nbsp;&nbsp;
					             </label>
					             <label>
					             <input type="radio" id="isInvoice0" style='float:none;' class='wstipt' onclick="javascript:WST.showHide(0,'#invoiceRemarkstr')" name="isInvoice" value="0" checked>否
					             </label>
	                        </div>
	                    </div>
	                   <div id='invoiceRemarkstr' class="item" style='display:none'>
			             <span class="label"><b class="ftx04">*</b>发票说明：</span>
			             <div class="fl item-ifo">
			             <input type='text' id='invoiceRemarks' class="text wstipt" value='{$object.invoiceRemarks}' style='width:350px;' maxLength='100'/>
			             </div>
			            </div>    
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>转账银行：</span>	
	                        <div class="fl item-ifo yj-select">
	                           <select id='bankId' class='wstipt'>
					                <option value=''>请选择</option>
					                <volist name="bankList" id="vo">
					                <option value='{$vo['bankId']}'>{$vo['bankName']}</option>
					                </volist>
					             </select>
	                        </div>
	                    </div> 
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>银行卡卡号：</span>	
	                        <div class="fl item-ifo">
	                           <input type="text" class='text wstipt' id="bankNo" maxlength="25" size="50">
	                        </div>
	                    </div>
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>营业时间：</span>	
	                        <div class="fl item-ifo yj-select">
	                           <select id='serviceStartTime' class='wstipt'></select>
                               <div class='tleft'>&nbsp;至&nbsp;</div> 
                               <select id='serviceEndTime' class='wstipt'></select>
	                        </div>
	                    </div>    
	                    <div class="item">
	                        <span class="label"><b class="ftx04">*</b>手机号码：</span>	
	                        <div class="fl item-ifo">
	                            <input id="userPhone" name="userPhone" class="text wstipt" tabindex="3" autocomplete="off" type="text" maxlength="11"/>	                           
	                            <label id="userPhone_succeed" ></label>	                           
	                        </div>
	                    </div>
	                    <if condition="$CONF['phoneVerfy'] eq 1">
	                  	<div class="item" id="mobileCodeDiv" >
	                        <span class="label"><b class="ftx04">*</b>短信验证码：</span>	
	                        <div class="fl item-ifo">
	                            <input maxlength="6" autocomplete="off" tabindex="6" class="text text-1 wstipt" name="mobileCode" style="ime-mode:disabled" id="mobileCode" type="text"/>
	                            <label class="blank invisible"></label>
	                            <a class="btn" href="javascript:void(0);" onclick="getVerifyCode();" id="sendMobileCode">
	                                <span id="timeTips">获取短信验证码</span>
	                           	</a>
	                        </div>
	                        <span class="clr"></span>
	                    </div>		
	                 	<else/>
	                 	<div class="item" id="authcodeDiv">
	                         <span class="label"><b class="ftx04">*</b>验证码：</span>	
	                         <div class="fl item-ifo">
	                             <input id="verify" style="ime-mode:disabled" name="verify" class="text text-1 wstipt" tabindex="6" autocomplete="off" maxlength="6" type="text"/>
	                             <label class="img">
	                                 <img style='vertical-align:middle;cursor:pointer;height:39px;' class='verifyImg' src='' title='刷新验证码' onclick='javascript:getVerify()'/> 
							     </label>      	
	                             <label class="ftx23">&nbsp;看不清？<a href="javascript:getVerify()" onclick="setTimeout(verc,50);" class="flk13">换一张</a></label>
	                         </div>
	                 	</div>
	                 	</if> 
	                </div>
	                <input name="qVoCgWxtvu" value="EqaRK" type="hidden"/>	
	                <div class="item item-new">
	                    <span class="label">&nbsp;</span>	
	                    <div class="fl item-ifo">
	                        <label>
	                        <input class="checkbox" id="protocol" name="protocol" type="checkbox"/>
	                                                                        我已阅读并同意</label><a href="javascript:;" class="blue" id="protocolInfo" onclick="showXiey();">《用户注册协议》</a>                       
	                        <label id="protocol_error" class="error hide">请接受服务条款</label>
	                    </div>
	                </div>
	                <div class="item">
	                    <span class="label">&nbsp;</span>
	                    <input class="btn-img btn-regist" id="registsubmit" value="立即注册" tabindex="8"  type="submit"/>
	                </div>
	            </div>
	            <div class="phone">
	                
	            </div>
	      		<span class="clr"></span>
	        </form>
	    </div>
	</div>
	<!--footer start--> 
	<include file="./Apps/Home/View/default/footer.html" />
	<!--footer end-->
	<script src="__PUBLIC__/plugins/layer/layer.min.js"></script>
   	<script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__ROOT__/Apps/Home/View/default/js/common.js"></script>
    <script src="__ROOT__/Apps/Home/View/default/js/open_shop.js"></script>
    <script type="text/javascript" src="__PUBLIC__/plugins/webuploader/webuploader.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=37f0869604ca86505487639427d52bf6"></script>
    <script type="text/javascript">
       $(function(){
    	   visitorShopInit();
    	   getAreas("areaId2",'{$area["parentId"]}',"{$area['areaId']}","areaId2,areaId3",function(){
    		   getCommunityForOpen();
    		   getAreas("areaId3",'{$area["areaId"]}',"","areaId3");
    	   });
    	   $('#areaId1').change(function(){
    		   getAreas("areaId2",this.value,"","areaId2,areaId3");
    	   });
    	   $('#areaId2').change(function(){
	    		getCommunityForOpen();
	    		getAreas("areaId3",$(this).val(),"","areaId3");
    	   });
       })
   </script>
   <style>
   	.layui-layer-btn a{background:#e23c3d;}
   	</style>
</body>
</html>