<!DOCTYPE>
<html lang="zh-cn">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="favicon.ico"/>
        <title>{$CONF['mallTitle']} - <if condition="count($orderInfos) gt 0">订单提交成功<else/>不能重复提交订单</if></title>
      	<meta name="keywords" content="{$CONF['mallKeywords']},订单提交" />
      	<meta name="description" content="{$CONF['mallDesc']},订单提交" />
	    <link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/common.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/ordersuccess.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/base.css" />
		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/head.css" />
		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/pslocation.css" />
		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/magnifier.css" />
</head>

<body class="root61">
	<include file="./Apps/Home/View/default/header_common.html" />
	<div class="w">
		<div>
			<div>
                <div id="succeed" class="wst-ods-success">
                    <div class="success2" style="margin: 0 auto;">
                        <div class="wst-ods-success-blank"></div>
                        <div class="wst-ods-success-step">
                            <img src="__ROOT__/Apps/Home/View/default/images/step3.png" alt="" /><br />
                            <span class="wst-ods-success-step1">1.我的购物车</span>
                            <span class="wst-ods-success-step2">2.填写核对订单信息</span>
                            <span class="wst-ods-success-step3">3.成功提交订单</span>
                        </div>
                        <div class="wst-clear"></div>
                    </div>
                </div>
            </div>

			<div class="wst-ods-success-tb">
					<div class="wst-ods-success-tc">
						<div class="wst-ods-success-td">
							<if condition="count($orderInfos['list']) gt 0">
							<img src="__ROOT__/Apps/Home/View/default/images/icon-succ.png" alt="" />
							</if>
						</div>
						<div class="wst-ods-success-tf">
							<div class="wst-ods-success-l25">
								<if condition="count($orderInfos['list']) gt 0">					
								<span class="wst-ods-success-tg">订单提交成功！</span>					
								订单号：
								<volist name="orderInfos['list']" key="key" id="order">
								    <if condition="($key gt 1) AND ($orderInfos['isMoreOrder'] eq 1)">、</if>
									<a href="javascript:;" onclick="getOrderInfo({$order['orderId']});"><span class="wst-ods-success-th">{$order['orderNo']}</span></a>&nbsp;
								</volist>
								 应付金额：<span class="wst-ods-success-ti">{$orderInfos['totalMoney']}</span> 元
	   							</if>
	   						</div>							
						</div>
						<div class="wst-clear"></div>
					</div>					
					
					<div class="wst-clear"></div>
					<div class="wst-ods-success-tk">			
						<div id="checkout" class="wst-checkout" >							
							<a class="btn-submit" href="__ROOT__/index.php">
								<span id="saveConsigneeTitleDiv" class="wst_btn-continue"></span>
							</a>
							<div class="wst-clear"></div>
						</div>
					</div>				
				</div>							
			</div>			
		</div>
	
	<div class="wst-clear"></div>
    <div style="height: 20px;"></div>
    
	<include file="./Apps/Home/View/default/footer.html" />
	<script src="__PUBLIC__/js/common.js"></script>
  	<script src="__ROOT__/Apps/Home/View/default/js/index.js"></script>      	
 	<script src="__ROOT__/Apps/Home/View/default/js/common.js"></script>
 	<script src="__ROOT__/Apps/Home/View/default/js/orders.js"></script>
</body>
</html>
