<!doctype html>
<html>
	<head>
  		<meta charset="utf-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<link rel="shortcut icon" href="favicon.ico"/>
      	<meta http-equiv="cache-control" content="no-cache">
      	<meta name="viewport" content="width=device-width, initial-scale=1">
      	<title>订单信息 - {$CONF['mallTitle']}</title>
      	<meta name="keywords" content="{$CONF['mallKeywords']},订单信息" />
      	<meta name="description" content="{$CONF['mallDesc']},订单信息" />
      	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/common.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/checkorderinfo.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/base.css" />
		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/head.css" />
   	</head>
   	<body>
	<include file="./Apps/Home/View/default/header_common.html" />
	<div class="w">
        <div style=""><br/>
        	<div class="wst-odetal-box">
        	<table cellspacing="0" cellpadding="0" class="wst-tab" width="1210">
        		<caption class="wst-tab-cpt">日志信息
        		<span style="color:blue;float:right;">
        			<if condition='($order["orderStatus"] eq -3) OR ($order["orderStatus"] eq -4)'>
        			拒收(<if condition='$order["isRefund"] eq 1'>已退款<else/>未退款 </if>
			        <elseif condition='$orderInfo["order"]["orderStatus"] eq -2'/>未付款
			        <elseif condition='$orderInfo["order"]["orderStatus"] eq -1'/>已取消
			        <elseif condition='$orderInfo["order"]["orderStatus"] eq 0'/>未受理
			        <elseif condition='$orderInfo["order"]["orderStatus"] eq 1'/>已受理
			        <elseif condition='$orderInfo["order"]["orderStatus"] eq 2'/>打包中
			        <elseif condition='$orderInfo["order"]["orderStatus"] eq 3'/>配送中
			        <elseif condition='$orderInfo["order"]["orderStatus"] eq 4'/>已到货
			        <elseif condition='$orderInfo["order"]["orderStatus"] eq 5'/>确认已收货
			        </if>
        		</caption>
        		</span>
        		<tbody>
	        		<volist name="orderInfo['logs']" id="log" key='key1'>
	        		<tr>
	        			<td width="200">{$log["logTime"]}</td>
	        			<td class="wst-td-content">{$log["logContent"]}</td>
	        		</tr>
	        		</volist>
        		</tbody>
        	</table>
        	</div>
        	<br/><br/>
        	<div class="wst-odetal-box">
        	<table cellspacing="0" cellpadding="0" class="wst-tab" width="1210">
        		<caption class="wst-tab-cpt">订单信息</caption>
        		<tbody>
	        		<tr>
	        			<td class="wst-td-title">订单编号：</td>
	        			<td class="wst-td-content">{$orderInfo["order"]["orderNo"]}</td>
	        		</tr>
	        		<tr>
	        			<td class="wst-td-title">支付方式：</td>
	        			<td class="wst-td-content"><if condition='$orderInfo["order"]["payType"]==0'>货到付款<else/>在线支付</if></td>
	        		</tr>
	        		<tr>
	        			<td class="wst-td-title">配送方式：</td>
	        			<td class="wst-td-content">
	        				<if condition='$orderInfo["order"]["isSelf"]==1'>
	        					自提
	        				<else/>
	        					<if condition='$orderInfo["order"]["deliverType"]==0'>商城配送<else/>店铺配送</if>
	        				</if>
	        			</td>
	        		</tr>
	        		<tr>
	        		    <td class="wst-td-title">买家留言：</td>
	        		    <td class="wst-td-content">{$orderInfo["order"]["orderRemarks"]}</td>
	        		</tr>
	        		<tr>
	        			<td class="wst-td-title">下单时间：</td>
	        			<td class="wst-td-content">{$orderInfo["order"]["createTime"]}</td>
	        		</tr>
        		</tbody>
        	</table>
        	</div>
        	<br/><br/>
        	<div class="wst-odetal-box">
        	<table cellspacing="0" cellpadding="0" class="wst-tab" width="1210">
        		<caption class="wst-tab-cpt">收货人信息</caption>
        		<tbody>
	        		
	        		<tr>
	        			<td class="wst-td-title">收货人姓名：</td>
	        			<td class="wst-td-content">{$orderInfo["order"]["userName"]}</td>
	        		</tr>
	        		<tr>
	        			<td class="wst-td-title">地址：</td>
	        			<td class="wst-td-content">{$orderInfo["order"]["userAddress"]}</td>
	        		</tr>
	        		<tr>
	        			<td class="wst-td-title">固定电话：</td>
	        			<td class="wst-td-content">{$orderInfo["order"]["userPhone"]} <if condition='$orderInfo["order"]["userTel"] neq ""'>| {$orderInfo["order"]["userTel"]}</if></td>
	        		</tr>
	        		<tr>
	        			<td class="wst-td-title">期望送达时间：</td>
	        			<td class="wst-td-content">{$orderInfo["order"]["requireTime"]}</td>
	        		</tr>
        		</tbody>
        	</table>
        	</div>
        	<br/><br/>
        	<notempty name='orderInfo["order"]["invoiceClient"]'>
        	<div class="wst-odetal-box">
        	<table cellspacing="0" cellpadding="0" class="wst-tab" width="1210">
        		<caption class="wst-tab-cpt">发票信息</caption>
        		<tbody>
	        		<tr>
	        			<td class="wst-td-title">发票抬头：</td>
	        			<td class="wst-td-content">{$orderInfo["order"]["invoiceClient"]}</td>
	        		</tr>
        		</tbody>
        	</table>
        	</div> 
        	</notempty>       	
        	<div class="wst-odetal-box" style='padding-bottom:5px;'>
        	<table cellspacing="0" cellpadding="0" class="wst-tab" width="1210" style="margin:0 auto;">
        		<caption class="wst-tab-cpt">商品信息</caption>
        		<tbody>
	        		<tr>
	        			<td width='500' class="wst-align-left" style='padding-left:5px'>商品</td>
	        			<td width='80' class="wst-align-center">商品价格</td>
	        			<td width='80' class="wst-align-center">商品数量</td>
	        			<td width='100' class="wst-align-center">商品总金额</td>
	        		</tr>
	        		<volist name="orderInfo['goodsList']" id="goods" key='key1'>
	        		<tr>
	        			<td class="wst-align-left">
	        			<a href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$goods['goodsId']))}" target="_blank">
	        			   <img style='margin:5px;' src="__ROOT__/{$goods['goodsThums']}" width='50' height='50'/>
	        			</a>
	        			<a href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$goods['goodsId']))}" target="_blank">
	        			{$goods["goodsName"]}
	        			<if condition="$goods['goodsAttrName'] neq ''">【{$goods['goodsAttrName']}】</if>
	        			</a>
	        			</td>
	        			<td class="wst-align-center">￥{$goods["shopPrice"]}</td>
	        			<td class="wst-align-center">{$goods["goodsNums"]}</td>
	        			<td class="wst-align-center">￥{$goods["shopPrice"]*$goods["goodsNums"]}</td>
	        		</tr>
	        		</volist>
        		</tbody>
        		<tr>
        		   <td colspan='4' class='wst-cart-total-money'>
        		  商品总金额： ￥{$orderInfo["order"]["totalMoney"]}  <br/>
        		   + 运费：￥{$orderInfo["order"]["deliverMoney"]}<br/> 
        		   <span class='wst-cart-order-txt'>订单总金额：</span><span class='wst-cart-order-money'>￥{$orderInfo["order"]["totalMoney"]+$orderInfo["order"]["deliverMoney"]}</span></td>
        		</tr>
        	</table>
        	</div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div style="height: 20px;"></div>
	<include file="./Apps/Home/View/default/footer.html" />
</body>

<script src="__PUBLIC__/js/common.js"></script>
<script src="__ROOT__/Apps/Home/View/default/js/index.js"></script>
<script src="__ROOT__/Apps/Home/View/default/js/common.js"></script>
<script src="__ROOT__/Apps/Home/View/default/js/orders.js"></script>

</html>
