<!DOCTYPE>
<html lang="zh-cn">
	<head>
  		<meta charset="utf-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<link rel="shortcut icon" href="favicon.ico"/>
      	<meta name="viewport" content="width=device-width, initial-scale=1">
      	<title>店铺街 - {$CONF['mallTitle']}</title>
      	<meta name="keywords" content="{$CONF['mallKeywords']}" />
      	<meta name="description" content="{$CONF['mallDesc']},商城店铺展示" />
      	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/common.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/shopstreet.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/base.css" />
		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/head.css" />
		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/magnifier.css" />
   	</head>
   	<body>
		<include file="./Apps/Home/View/default/header_common.html" />
	    <div>
			<div class="wst-street-ad-box">
				<volist name="ads" id="vo" key='i'>
					<if condition="$i eq 1">
				   <a href="{:U('Home/Index/access/',array('url'=>$vo['adURL']))}" target="_blank">
						<img src="__ROOT__/{$vo['adFile']}" width='1210' height="350" title="{$vo['adName']}"/>
				   </a>
				   </if>
				</volist>
			</div>
		</div>
		<div class="wst-shadow">
			<div class="wst-street-schbox">
				&nbsp;&nbsp;&nbsp;&nbsp;您附近有<span id="spcnt" class="wst-street-spcnt"><?php echo count($dsplist[0]['ctlist']) ?></span>个相关地址：您的位置
				<select id="cityId" onchange="getDistrictsShops();">
				<volist name="areaList" id="vo" key='i' >
				<option <if condition="$areaId3 eq $vo['areaId']">selected="selected"</if> value="{$vo['areaId']}">{$vo['areaName']}</option>
				</volist>
				</select>
				<div style="float:right;">
					<div class="wst-street-sch-bx1">
						&nbsp;&nbsp;&nbsp;&nbsp;筛选店铺&nbsp;&nbsp;&nbsp;&nbsp;
						<select id="deliveryStartMoney" onchange="getDistrictsShops();">
							<option value="-1">起送金额(全部)</option>
							<option value="0-10">10元以下</option>
							<option value="10-50">10-50元</option>
							<option value="50-100">50-100元</option>
							<option value="100-150">100-150元</option>
							<option value="150-200">150-200元</option>
							<option value="200">200元以上</option>
						</select>
						<select id="deliveryMoney" onchange="getDistrictsShops();">
							<option value="-1">配送费(全部)</option>
							<option value="0-10">10元以下</option>
							<option value="10-50">10-50元</option>
							<option value="50-100">50-100元</option>
							<option value="100-150">100-150元</option>
							<option value="150-200">150-200元</option>
							<option value="200">200元以上</option>
						</select>
						<select id="shopAtive" onchange="getDistrictsShops();">
							<option value="-1">店铺状态(全部)</option>
							<option value="1">营业中</option>
							<option value="0">休息中</option>
						</select>
						
					</div>
					<div class="wst-street-sch-bx2">
						<div class="wst-street-scp-dp">
							<input id="shopName" class="wst-street-scp-sn" placeholder="搜索 店铺" autocomplete="off" value='{$keyWords}'>
							<div class="wst-street-scp-sk" onclick="getDistrictsShops();">搜&nbsp;索</div>
						</div>				
					</div>
					<div style="wst-clear"></div>
				</div>
				<div style="wst-clear"></div>
			</div>
		</div>
		
		<!----加载店铺街start----->
		<div class="wst-container">
			
			<div class="wst-shadow">
			    <script id="tblist2" type="text/html">
                {{# for(var i = 0; i < d.length; i++){ }}
                <li onclick="getShopByCommunitys(this);" data="{{d[i].communityId}}" class="wst-shop-address liselected">
				      <div style="padding:4px;">{{d[i].communityName}}</div>
				      <div style="padding:4px;">附近共有 <span style="font-weight:bold;color:red;">{{d[i].spcnt}}</span> 家店铺入驻并提供服务</div>
				</li>
                {{# } }}
                </script>
				<div class="wst-shop-address-box wst-shadow" ></div>
				<div class="wst-shop-container">
				    <script id="tblist" type="text/html">
                       {{# for(var i = 0; i < d.length; i++){ }}
                        <div class="wst-shop-box">
                           <div style="width:80px;height:80px; float:left;">
                               <a href="{{ Think.U('Home/Shops/toShopHome','shopId='+d[i].shopId)}}">
                                 <img width="80" class='lazyImg' height="80" title="{{d[i].shopName}}" data-original="__ROOT__/{{d[i].shopImg}}" src="__ROOT__/{$CONF['goodsImg']}" style="display: inline;">
                               </a>
                           </div>
                           <div class="wst-shop-streets-items">
                               <div style="font-weight:bolder;">
                                 <a href="{{ Think.U('Home/Shops/toShopHome','shopId='+d[i].shopId)}}">{{d[i].shopName}}</a>
                               </div>
                               <div style="">店铺地址：{{d[i].shopAddress}}</div><div style="">{{d[i].deliveryStartMoney}}元起送，配送费{{d[i].deliveryMoney}}元，{{d[i].deliveryFreeMoney}}元起免配送费</div>
                               <div class="wst-shop-streets-items-status">
                                  <img style="vertical-align:middle" src="__ROOT__/Apps/Home/View/default/images/icon_menu_01.png">&nbsp;&nbsp;
                                  {{#if(d[i].shopAtive==1){}}营业中{{#}else{}}休息中{{#}}}
                               </div>
                           </div>
                          <div class="wst-clear"></div>
                       </div>
                       {{# } }}
                       </script>
					<div class="wst-shop-list"></div>
					<div class="wst-page" style="text-align:center;margin-bottom: 10px;padding-right: 15px;">
						<div id="wst-page-items"></div>
					</div>
				</div>
				<div class="wst-clear"></div>
			</div>
			
		</div>
		<include file="./Apps/Home/View/default/footer.html" />
		<include file="./Apps/Home/View/default/right_cart.html" />
   	</body>
   	<script src="__PUBLIC__/plugins/layer/layer.min.js"></script>
   	<script src="__ROOT__/Apps/Home/View/default/js/shopstreet.js"></script>
	<script src="__PUBLIC__/js/common.js"></script>
	<script src="__ROOT__/Apps/Home/View/default/js/head.js" type="text/javascript"></script>
	<script src="__ROOT__/Apps/Home/View/default/js/common.js" type="text/javascript"></script>
</html> 




