.wst-shop-container {
	
}

.wst-shop-container .shop-left {
	float: left;
	width: 222px;
	min-height: 478px;
}

.shop-left .shop-left-box {
	padding-top: 70px;
	min-height: 418px;
	background-image: url(../../../View/default/images/bg_storeinfo.png);
	background-repeat: no-repeat;
}

.wst-shop-container .shop-right {
	float: right;
	width: 780px;
	min-height: 478px;
	border: 1px solid red;
}

.shop-left-box .details-tab {
	width: 222px;
	font-size: 13px;
}

.shop-left-box .details-tab tr {
	height: 35px;
}

.shop-left-box .details-tab tr td {
	vertical-align: top;
}

.shop-left-box .details-tab tr .title {
	width: 70px;
	color: #e23e3d;
	padding-left: 10px;
}

.wst-shop-eval {
	text-align: center;
}

.wst-shop-eval li {
	float: left;
	width: 70px;
}

.wst-goods-hotsale-box {
	padding-bottom: 10px;
	border: 1px solid #D5D5D5;
	margin-bottom: 10px;
}

.wst-goods-pdetails .wst-goods-hotsale {
	float: left;
	width: 220px;
	min-height: 420px;
}

.wst-goods-hotsale-box .hotsale-title {
	background-color: #f5f5f5;
	height: 36px;
	line-height: 36px;
	text-align: center;
}

.wst-goods-hotsale-box .hotsale-goods-box {
	margin-top: 8px;
	padding: 4px;
}

.hotsale-goods-box .hotsale-goods-img {
	float: left;
	width: 65px;
	height: 65px;
}

.hotsale-goods-box .hotsale-goods-title {
	float: right;
	width: 140px;
	height: 65px;
}

.hotsale-goods-title .span1 {
	color: #e23e3d;
	font-weight: bolder;
}

.hotsale-goods-title .span2 {
	color: #D5D5D5;
	text-decoration: line-through
}

.wst-shop-eval .li-center {
	border-left: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;
}

.wst-shop-eval {
	width: 214px;
	margin: 0 auto;
}

.wst-shophome-nav {
	height: 45px;
	background-image: url(../../../View/default/images/store_menubg.png);
	background-repeat: no-repeat;
}

.wst-shophome-nav-box {
	width: 1020px;
	margin: 0 auto;
	height: 45px;
	line-height: 45px;
}

.wst-shophome-nav-box li {
	float: left;
	width: 110px;
	color: #ffffff;
	font-weight: bolder;
	text-align: center;
	cursor: pointer;
}

.wst-shophome-nav-box li:hover {
	background-color: #ffffff;
	color: #000000;
}

.wst-shophome-nav-box .liselected {
	background-color: #ffffff;
	color: #000000;
}

.wst-goods-list {
	border: 1px solid #D5D5D5;
}

.wst-goods-list .wst-goods-header {
	height: 30px;
	background-color: #f5f5f5;
	padding-top: 5px;
	padding-left: 20px;
}

.wst-goods-list .wst-goods-header li {
	line-height: 25px;
	float: left;
	text-align: center;
	margin-left: 5px;
	padding-left: 8px;
	padding-right: 8px;
}

.wst-goods-list .wst-goods-header li:hover {
	background-color: #e23e3d;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer
}

.wst-goods-page {
	padding-bottom: 10px;
}

.wst-goods-page .wst-goods-item {
	text-align: center;
	float: left;
	width: 178px;
	height: 280px;
	border: 2px solid #ffffff;
	margin-left: 8px;
	margin-top: 10px;
}

.wst-goods-page .wst-goods-item .wst-goods-img {
	height: 180px;
	line-height: 180px;
}

.wst-goods-page .wst-goods-item .goods-des {
	margin-top: 5px;
}

.wst-goods-page .wst-goods-item .goods-title {
	text-align: left;
}

.wst-goods-page .wst-goods-item .goods-price {
	text-align: left;
}

.wst-goods-item .goods-price .span1 {
	color: #e23e3d;
	font-weight: bolder;
}

.wst-goods-item .goods-price .span2 {
	color: #D5D5D5;
	text-decoration: line-through
}

.wst-goods-page .wst-goods-item .goods-buy {
	text-align: left;
}

.wst-goods-item .goods-buy .goods-left {
	float: left;
	width: 90px;
	font-size: 12px;
}

.wst-goods-item .goods-buy .goods-right {
	float: right;
	width: 85px;
	margin-right: 2px;
}

.wst-goods-page li:hover {
	border: 2px solid #e23e3d;
	opacity: 0.7;
	filter: alpha(opacity = 70);
}

.wst-goods-cate-box {
	padding-bottom: 10px;
	border: 1px solid #D5D5D5;
	margin-bottom: 10px;
}

.wst-goods-cate-box .cate-title {
	background-color: #f5f5f5;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-weight: bolder;
}

.wst-goods-cate-box .ccate {
	cursor: pointer;
	border: 1px solid #f5f5f5;
	heihgt: 28px;
	line-height: 28px;
	width: 185px;
	margin: 5 auto 0 auto;
	padding-left: 10px;
}

.wst-goods-cate-box .pcate {
	padding-left: 10px;
	position: relative;
	cursor: pointer;
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #f5f5f5;
	width: 185px;
	margin: 0 auto;
	font-weight: bolder;
}

.wst-goods-cate-box .pcate .span1 {
	position: absolute;
	left: 0px;
	top: 4px;
	display: inline-block;
	width: 20px;
	height: 21px;
	background-image: url(../../../View/default/images/sprite.png);
	background-repeat: no-repeat;
	background-position: -60px -270px;
}

.wst-goods-cate-box .pcate .span2 {
	position: absolute;
	left: 0px;
	top: 4px;
	display: inline-block;
	width: 20px;
	height: 21px;
	background-image: url(../../../View/default/images/sprite.png);
	background-repeat: no-repeat;
	background-position: -150px -270px;
}

.wst-goods-cate-box .pcate-o {
	padding-left: 18px;
	cursor: pointer;
	heihgt: 28px;
	line-height: 28px;
	border-bottom: 1px solid #f5f5f5;
	heihgt: 25px;
	line-height: 25px;
	width: 185px;
	margin: 0 auto;
	font-weight: bolder;
	background-image: url(../../../View/default/images/sprite.png);
	background-repeat: no-repeat;
}

.wst-btn-continue {
	float: left;
	height: 38px;
	width: 95px;
	background-image: url(../../../View/default/images/cat_but.png);
	background-repeat: no-repeat;
	background-position: -90px -36px;
	cursor: pointer;
}

.wst-btn-checkout {
	float: right;
	height: 36px;
	width: 135px;
	background-image: url(../../../View/default/images/btn-check.jpg);
	background-repeat: no-repeat;
	cursor: pointer;
}

.wst-btn-checkout:hover {
	float: right;
	height: 36px;
	width: 135px;
	background: url(../../../View/default/images/btn-check.jpg) 0px -36px;
	background-repeat: no-repeat;
	top:-36px;
	cursor: pointer;
}

.wst-cart-step{float: right; width: 590px; height: 50px; text-align: right; position: relative;}
#succeed{text-align: center; margin-top: 30px;}
#success2{margin: 0 auto;}
.wst-cart-left-blank{float: left; width: 400px; text-align: left;}
.wst-cart-step1{position: absolute; top: 30px; left: 150px; color: #7ABD54;}
.wst-cart-step2{position: absolute; top: 30px; left: 290px;}
.wst-cart-step3{position: absolute; top: 30px; left: 465px;}

.wst-cart-container{margin: 0 auto; margin-top: 40px; margin-bottom: 10px;}
.wst-cart-title{font-size: 20px; font-weight: bold; margin-bottom: 10px;}
#showwarnmsg{display:none;background-color: #FFE8E8;margin-top: 6px;margin-bottom: 6px;padding:6px;text-align: center;color:#CC0000;border: 1px solid #DB9A9A;}

.wst-cartlist-box{border: 1px solid #E9E9E9; border-top: 2px solid  #999999;}
.wst-cartlist-head{line-height: 35px; background-color: #E9E9E9; text-align: center;}
.wst-head-title1{float: left; width: 80px; position: relative;text-align: center;text-align: left;padding-left: 15px;}
.wst-head-title2{float: left; width: 340px; text-align: left;}
.wst-head-title3{float: left; width: 240px; text-align: center;}
.wst-head-title4{float: left; width: 100px; text-align: center;}
.wst-head-title5{float: left; width: 100px; text-align: center;}
.wst-head-title6{float: left; width: 100px; text-align: center;}
.wst-head-title7{float: left; width: 100px; text-align: center;}
.wst-head-title8{float: left; width: 100px; text-align: center;}

.wst-head-check{float: left; width: 40px; position: relative;text-align: center;text-align: left;padding-left: 15px;}

.wst-cartlist-item{padding:4px;border-bottom: 1px solid #E9E9E9;}

.wst-cartlist-vb{float: left; width: 40px; text-align: left;padding-left: 10px;margin-top: 25px;}
.wst-cartlist-item-col1{float: left; width: 380px;}
.wst-cartlist-item-col2{float: left; width: 240px; text-align: center;}
.wst-cartlist-item-col3{float: left; width: 100px; text-align: center;}
.wst-cartlist-item-col4{float: left; width: 100px; text-align: center;}

.wst-cartlist-item-col5{float: left; width: 100px; text-align: center;}


.wst-cartlist-plus{width:18px;display:inline-block;border: 1px solid #666; cursor: pointer; height: 18px; line-height: 15px; padding-top: 0;}
.wst-cartlist-add{width:18px;display:inline-block;border: 1px solid #666; cursor: pointer; height: 18px; line-height: 15px; padding-top: 0;}
.wst-cartlist-numtxt{width: 30px; text-align: center;}

.wst-cartlist-item-col7{float: left; width: 100px; text-align: center;}
.wst-cartlist-item-col8{float: left; width: 100px; text-align: center;}

.wst-cartlist-bximg{float: left; width: 65px;}
.wst-cartlist-gsname{float: left; width: 315px; line-height: 30px;overflow: hidden;}
.wst-cart-empty{height: 50px; line-height: 50px; text-align: center;}
.wst-cart-total-money{line-height: 35px; background-color: #E9E9E9; text-align: right;}
.wst-cart-unin{color: red; font-size: 15px;}

.wst-cart-shop-span{color: #e43e41;font-weight: bold;}
.wst-cart-dp-pb1{width: 500px; float: left;}
.wst-cart-dp-pb2{background-color: #FFE8E8;margin-top: 6px;margin-bottom: 6px;padding:6px;text-align: center;color:#CC0000;border: 1px solid #DB9A9A;}
.wst-goods-tips{float: right;padding-right: 6px;text-align: right;width: 200px;}
.wst-cart-dp-hds{font-size: 15px; font-weight: bold;}
.wst-chkod-yf1 {
    border: 1px solid #eeeeee;
    padding: 15px;
    text-align: right;
}
.wst-cart-totalmoney{font-size: 20px;font-weight: bold;}