.head-content {
	background: #FFF;
}

.w1000 {
	width: 1000px;
	margin: 0 auto;
}

.w1020 {
	width: 1210px;
	margin: 0 auto;
}

.topBar {
	width: 100%;
	height: 28px;
	background: #F7F7F7;
	border: 1px solid #DADADA;
	z-index: 100;
}

body {
	overflow-x: auto;
}

.topBarCon {
	height: 28px;
	line-height: 28px;
}

.topBarCon .topBarFl li {
	float: left;
}

.topBarCon .login a {
	display: inline-block;
	margin-top: 4px;
	float: left;
	color: #333;
	line-height: 21px;
	height: 21px;
	background: url("../../../View/default/images/bg_index.png");
}

.topBarCon .login a:hover {
	color: #cf0404;
}

.topBarCon .login .login-btn {
	text-indent: 24px;
	width: 52px;
	background-position: -240px 0;
}

.topBarCon .login .reg-btn {
	text-indent: 20px;
	width: 75px;
	background-position: -295px 0;
}

.topBarCon .vip .username {
	font-weight: bold;
	color: #cf0404;
	margin: 0 6px;
}

.topBarCon .vip .quit {
	color: #333333;
}

.topBarCon .vip a:hover {
	color: #cf0404;
}

.topBarCon .miniMenu {
	height: 28px;
	_overflow: hidden;
}

.topBarCon .miniMenu li {
	float: left;
	margin-left: 3px;
	text-align: center;
	height: 28px;
	background: url(../../../View/default/images/index_new_bg.png) right
		-149px no-repeat;
}

.topBarCon .miniMenu u {
	background: url("../../../View/default/images/bg_index.png") -150px
		-89px;
	display: inline-block;
	height: 10px;
	width: 10px;
	_margin-top: 11px;
	margin-left: 5px;
	overflow: hidden;
}

.topBarCon .miniMenu .m66 {
	width: 50px;
}

.topBarCon .miniMenu .m66 a {
	color: #cf0404;
}

.topBarCon .miniMenu .m55 {
	width: 58px;
}

.topBarCon .miniMenu .m55 a {
	color: #cf0404;
}

.topBarCon .miniMenu .m4 {
	width: 45px;
}

.topBarCon .miniMenu .m3 {
	width: 80px;
	position: relative;
}

.topBarCon .miniMenu .m2 {
	width: 70px;
}

.topBarCon .miniMenu .m1 {
	width: 120px;
	position: relative;
	z-index: 13;
}

.topBarCon .miniMenu .m1 b {
	background: url(../../../View/default/images/index_new_bg.png) -70px
		-91px no-repeat;
	width: 14px;
	height: 11px;
	margin-right: 5px;
	display: inline-block;
}

.topBarCon .miniMenu .on {
	border: 1px solid #dadada;
	margin-top: 2px;
	margin-left: -2px;
	margin-right: -1px;
	background: #ffffff;
	line-height: 22px;
}

.topBarCon .miniMenu .cur {
	border: 1px solid #dadada;
	margin-top: 2px;
	margin-left: -2px;
	margin-right: 3px;
	background: #ffffff;
	line-height: 22px;
	text-indent: 8px;
}

.topBarCon .miniMenu a {
	color: #666;
}

.topBarCon .miniMenu a:hover {
	color: #cf0404;
	text-decoration: none;
}

.topBarCon .miniMenu-child {
	width: 80px;
	position: absolute;
	top: 26px;
	right: -1px;
	border: 1px solid #dadada;
	border-top: none;
	background: #ffffff;
}

.topBarCon .miniMenu-child dd {
	height: 25px;
	line-height: 25px;
}

.topBarCon .miniMenu-child dd a {
	padding-right: 0;
	text-indent: 0px;
	border-right: none;
	display: block;
	width: 80px;
	height: 25px;
	color: #666;
}

.topBarCon .miniMenu-child dd a:hover {
	background: #efefef;
	text-decoration: none;
	color: #cf0404;
}

.topBarCon .miniMenu .userCenter {
	position: relative;
}

.topBarCon .miniMenu .myCart {
	position: relative;
}

.topBarCon .miniMenu .myCart .cart-a {
	display: block;
	background: url(../../../View/default/images/T1CCRNXmRFXXXXXXXX.png)
		-92px -13px no-repeat;
	padding-left: 30px;
}

.topBarCon .miniMenu .myCart .cart-a strong {
	color: #cf0404;
}

.topBarCon .miniMenu .mini-cart {
	width: 235px;
	padding: 0 5px;
	position: absolute;
	top: 26px;
	left: -1px;
	border: 1px solid #dadada;
	border-top: none;
	background: #ffffff;
	z-index: 10;
	box-shadow: 2px 6px 5px rgba(0, 0, 0, 0.2);
}

.topBarCon .miniMenu .mini-cart .no-list {
	text-align: center;
	line-height: 30px;
	color: #333;
}

.topBarCon .miniMenu .mini-cart .cart-list dl {
	height: 40px;
	width: auto;
	padding: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #efefef;
}

.topBarCon .miniMenu .mini-cart .cart-list dt {
	width: 40px;
	height: 40px;
	border: 1px solid #eaeaea;
	overflow: hidden;
	float: left;
}

.topBarCon .miniMenu .mini-cart .cart-list .name {
	float: left;
	width: 130px;
	height: 22px;
	margin-left: 5px;
	line-height: 22px;
	overflow: hidden;
}

.topBarCon .miniMenu .mini-cart .cart-list .name a {
	color: #666666;
}

.topBarCon .miniMenu .mini-cart .cart-list .name a:hover {
	text-decoration: none;
	color: #cf0404;
}

.topBarCon .miniMenu .mini-cart .cart-list .number {
	float: right;
	width: 35px;
	height: 22px;
	line-height: 22px;
	color: #cf0404;
	font-weight: bold;
	overflow: hidden;
	text-align: right;
}

.topBarCon .miniMenu .mini-cart .cart-list .price {
	float: left;
	font-weight: bold;
	color: #cf0404;
	width: 130px;
	height: 22px;
	line-height: 22px;
	text-indent: 10px;
	text-align: left;
}

.topBarCon .miniMenu .mini-cart .cart-list .delete {
	float: right;
	width: 40px;
	height: 22px;
	line-height: 22px;
	text-align: right;
	overflow: hidden;
}

.topBarCon .miniMenu .mini-cart .cart-list .delete a {
	padding-right: 0;
	color: #cf0404;
}

.topBarCon .miniMenu .mini-cart .cart-list p {
	line-height: 25px;
	text-align: right;
	color: #666666;
}

.topBarCon .miniMenu .mini-cart .cart-list p strong {
	color: #cf0404;
	font-weight: bold;
}

.topBarCon .miniMenu .mini-cart .cart-list .cart-button {
	background: url("../../../View/default/images/bg_public.gif") no-repeat
		scroll -107px -27px transparent;
	display: inline-block;
	height: 23px;
	margin-top: 5px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 97px;
}

.topCon {
	height: 90px;
}

.topCon .logoArea {
	width: 320px;
	height: 90px;
	/*background:url("../../../View/default/images/logo_snake.jpg") 0 8px no-repeat;*/
}

.topCon .logoArea a {
	display: block;
	width: 230px;
	height: 80px;
	background: url("../../../View/default/images/logo2013.jpg") no-repeat;
	outline: none;
}

.topCon .searchArea {
	width: 380px;
	height: 90px;
}

.topCon .searchArea .searchInput {
	height: 36px;
	margin-top: 20px;
}

.topCon .searchArea .searchInput .search_l {
	float: left;
	background: url("../../../View/default/images/bg_index.png");
	background-position: 0 -630px;
	width: 5px;
	height: 36px;
}

.topCon .searchArea .searchInput .search_m {
	float: left;
	background: url("../../../View/default/images/bg_index.png");
	background-position: 0 -799px;
	width: 290px;
	height: 36px;
}

.topCon .searchArea .searchInput .search_r {
	float: left;
	background: url("../../../View/default/images/bg_index.png");
	background-position: -300px -630px;
	width: 80px;
	height: 36px;
}

.topCon .searchArea .searchInput .search_m input {
	border: 0px;
	height: 20px;
	margin: 10px 3px 4px 7px;
	outline: none;
	width: 280px;
}

.topCon .searchArea .searchInput .search_r input {
	background: none;
	border: none;
	cursor: pointer;
	height: 30px;
	margin-top: 4px;
	vertical-align: top;
	width: 78px;
}

.topCon .searchArea .keyword {
	width: 380px;
	height: 15px;
	padding: 5px 0;
	overflow: hidden;
}

.topCon .searchArea .keyword strong {
	color: #999999;
}

.topCon .searchArea .keyword a {
	color: #999999;
	margin-right: 5px;
}

.topCon .searchArea .keyword a:hover {
	color: #cf0404;
}

.topCon .hotline {
	background: url("../../../View/default/images/bg_index.png") -90px
		-420px;
	height: 30px;
	margin-top: 30px;
	width: 210px;
}

.topCon .searchArea .search_list_box {
	background-color: #ffffff;
	position: absolute;
	left: 0;
	top: 56px;
	width: 372px;
	border: 1px solid #999;
	display: none;
}

.headNav {
	width:100%;
	height: 36px;
	background-color: #333333;
}

.headNav .navCon {
	height: 36px;
	position: relative;
	z-index: 11;
	background-color: #000;
}

.headNav .navCon .navCon-cate {
	width: 210px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	font-weight: bold;
	text-indent: 10px;
	background: #e23c3d; /*#A21C1D*/
	color: #FFF;
	position: relative;
}

.headNav .navCon .navCon-menu li {
	float: left;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	text-align: center;
	width: 106px;
	position: relative;
}

.headNav .navCon .navCon-menu li a {
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 36px;
	line-height: 36sspx;
	text-decoration: none;
	width: 104px;
}

.headNav .navCon .navCon-menu li a:hover,.cur {
	color: #666666;
	text-decoration: none;
}

.headNav .navCon .navCon-menu li a:hover,.headNav .navCon .navCon-menu .curMenu {
	background: #e23c3d;
	color: #FFFFFF;
}



.headNav .navCon .navCon-cate .navCon-cate-title a {
	color: #ffffff;
}

.headNav .navCon .navCon-cate .navCon-cate-title a:hover {
	text-decoration: none;
}

.headNav .navCon .navCon-cate .cateMenu1 {
	position: absolute;
	left: 0px;
	font-family: "微软雅黑";
	box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.3);
	background: #ffffff;
	cursor: pointer;
}

.headNav .navCon .navCon-cate .cateMenu1 li {
	height: 60px;
	width: 210px;
	overflow: hidden;
	border-top: 1px solid #a40000;
}

.headNav .navCon .navCon-cate .cateMenu1 li .cate-tag {
	width: 190px;
	padding: 0px 5px 10px 15px;
	overflow: hidden;
	line-height: 25px;
}

.headNav .navCon .navCon-cate .cateMenu1 li .cate-tag strong {
	height: 25px;
	line-height: 25px;
	width: 172px;
	display: block;
	text-indent: 0px;
	background: url(../../../View/default/images/index_new_bg.png) 160px
		-128px no-repeat;
}

.headNav .navCon .navCon-cate .cateMenu1 li .cate-tag strong a {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.headNav .navCon .navCon-cate .cateMenu1 li .cate-tag .listModel {
	text-indent: 0px;
}

.headNav .navCon .navCon-cate .cateMenu1 li .cate-tag .listModel p {
	height: 26px;
	overflow:hidden;
}

.headNav .navCon .navCon-cate .cateMenu1 li .cate-tag .listModel a {
	font-size: 12px;
	font-weight: normal;
	color: #4e4e4e;
	text-indent: 0px;
	padding: 0 11px 0 0;
}

.headNav .navCon .navCon-cate .cateMenu1 .on {
	background: #e23c3d;
	/*background:url(../../../View/default/images/nvgbg.png) no-repeat;*/
	background-size: 100% 100%;
	*margin-bottom: -4px;
}

.headNav .navCon .navCon-cate .cateMenu1 .on .cate-tag .listModel a {
	color: #FFFFFF;
}

.headNav .navCon .navCon-cate .cateMenu2 {
	position: absolute;
	left: 0px;
	font-family: "微软雅黑";
	box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.3);
	background: #ffffff;
	cursor: pointer;
}

.headNav .navCon .navCon-cate .cateMenu2 li {
	height: 60px;
	width: 210px;
	overflow: hidden;
	border-top: 1px solid #a40000;
}

.headNav .navCon .navCon-cate .cateMenu2 li .cate-tag {
	width: 190px;
	padding: 0px 5px 0px 15px;
	overflow: hidden;
	line-height: 25px;
}

.headNav .navCon .navCon-cate .cateMenu2 li .cate-tag strong {
	height: 25px;
	line-height: 25px;
	width: 172px;
	display: block;
	text-indent: 0px;
	background: url(../../../View/default/images/index_new_bg.png) 160px
		-128px no-repeat;
}

.cate-tag strong:hover {
	height: 25px;
	line-height: 25px;
	width: 172px;
	display: block;
	text-indent: 0px;
	background: url(../../../View/default/images/simg.png) 60px
		-128px no-repeat;
}

.headNav .navCon .navCon-cate .cateMenu2 li .cate-tag strong a {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.headNav .navCon .navCon-cate .cateMenu2 li .cate-tag .listModel {
	text-indent: 0px;
}

.headNav .navCon .navCon-cate .cateMenu2 li .cate-tag .listModel p {
	height: 26px;
}

.headNav .navCon .navCon-cate .cateMenu2 li .cate-tag .listModel a {
	font-size: 12px;
	font-weight: normal;
	color: #4e4e4e;
	text-indent: 0px;
	padding: 0 11px 0 0;
}

.headNav .navCon .navCon-cate .cateMenu2 .on {
	background: #e23c3d;
	background-size: 100% 100%;
	*margin-bottom: -4px;
}

.headNav .navCon .navCon-cate .cateMenu2 .on .cate-tag .listModel a {
	color: #FFFFFF;
}

.float-list-dnav {
	background: none repeat scroll 0 0 #8D0000;
	clear: both;
	font-size: 14px;
	font-weight: bold;
	height: 47px;
	line-height: 47px;
	width: 210px;
}

.float-list-dnav a {
	color: #FFFFFF;
	margin: 0 10px 0 10px;
}

.float-list-dnav a:hover {
	color: #ffffff;
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item {
	width: 750px;
	padding: 10px 10px 20px 10px;
	border: 1px solid #A7A7A7;
	border-left: none;
	background: #FFFFFF;
	box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.5);
	
	position: absolute;
	left: 210px;
	top: 0px;
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item .itemleft {
	width: 510px;
	float: left;
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item .itemright {
	width: 220px;
	float: right;
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item dl {
	padding-left: 10px;
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item dt {
	color: #665446;
	font-size: 14px;
	text-indent: 0px;
	border-bottom: 2px solid #665446;
	margin-bottom: 8px;
	font-family: "微软雅黑";
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item dd {
	font-size: 12px;
	font-weight: normal;
	text-indent: 0px;
	line-height: 26px;
	font-family: "微软雅黑";
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item dd a {
	color: #646464;
	margin-right: 5px;
	width: 75px;
	height: 22px;
	overflow: hidden;
	display: block;
	float: left;
	margin-bottom: 5px;
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item dd a:hover {
	color: #000;
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item .itemright .news-list
	{
	padding-left: 10px;
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item .itemright .news-list p
	{
	line-height: 24px;
	text-indent: 0px;
	font-size: 12px;
	font-weight: normal;
	color: #000;
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item .itemright .news-list p a
	{
	color: #646464;
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item .itemright .news-list p a:hover
	{
	color: #000;
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item .itemright .ad-list
	{
	padding-left: 10px;
}

.headNav .navCon .navCon-cate .cateMenu1 .list-item .itemright .ad-list a
	{
	display: block;
	width: 210px;
	height: 100px;
	text-indent: 0px;
	margin-bottom: 8px;
	overflow: hidden;
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item {
	width: 750px;
	padding: 10px 10px 20px 10px;
	border: 1px solid #A7A7A7;
	border-left: none;
	background: #FFFFFF;
	box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.5);
	
	position: absolute;
	left: 210px;
	top: 0px;
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item .itemleft {
	width: 510px;
	float: left;
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item .itemright {
	width: 220px;
	float: right;
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item dl {
	padding-left: 10px;
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item dt {
	color: #665446;
	font-size: 14px;
	text-indent: 0px;
	border-bottom: 2px solid #665446;
	margin-bottom: 8px;
	font-family: "微软雅黑";
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item dd {
	font-size: 12px;
	font-weight: normal;
	text-indent: 0px;
	line-height: 26px;
	font-family: "微软雅黑";
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item dd a {
	color: #646464;
	margin-right: 5px;
	width: 75px;
	height: 22px;
	overflow: hidden;
	display: block;
	float: left;
	margin-bottom: 5px;
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item dd a:hover {
	color: #000;
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item .itemright .news-list
	{
	padding-left: 10px;
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item .itemright .news-list p
	{
	line-height: 24px;
	text-indent: 0px;
	font-size: 12px;
	font-weight: normal;
	color: #000;
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item .itemright .news-list p a
	{
	color: #646464;
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item .itemright .news-list p a:hover
	{
	color: #000;
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item .itemright .ad-list
	{
	padding-left: 10px;
}

.headNav .navCon .navCon-cate .cateMenu2 .list-item .itemright .ad-list a
	{
	display: block;
	width: 210px;
	height: 100px;
	text-indent: 0px;
	margin-bottom: 8px;
	overflow: hidden;
}

/*搜索提示样式*/
.searchTips {
	
}

.searchTips li {
	height: 26px;
	line-height: 26px;
	padding: 0 8px;
	color: #444;
}

.searchTips .on {
	background-color: #eee;
	color: #cf0404;
}

/*快捷搜索*/
.quickSearch {
	position: fixed;
	width: 350px;
	top: 200px;
	_position: absolute;
	z-index: 9999;
	padding: 10px;
	/*border:10px solid #666;
	border-radius:10px;*/
	background: rgba(0, 0, 0, .4);
	filter: progid : DXImageTransform.Microsoft.gradient ( startcolorstr =
		#4F999999, endcolorstr = #4F999999 );
	display: none;
	opacity: 0;
	/*filter:alpha(opacity:0));*/
}

.quickSearch .qs_content {
	background-color: #fff;
	border: 1px solid #999;
	width: 310px;
	padding: 20px 20px 12px 18px;
	position: relative;
}

.quickSearch .qs_content .s_text {
	width: 264px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #ccc;
	float: left;
	border-right: none;
	padding-left: 5px;
}

.quickSearch .qs_content .s_button {
	width: 40px;
	height: 24px;
	border: 1px solid #ccc;
	background-color: #fff;
	float: left;
	border-left: none;
	background: url(../../../View/default/images/quickSearch_icon.jpg) 10px
		5px no-repeat;
	outline: none;
	cursor: pointer;
}

.quickSearch .qs_content .s_tips {
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
	border-top: 1px dashed #ccc;
	color: #999;
}

.quickSearch .qs_content .s_close {
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 16px;
	height: 16px;
	background: url(../../../View/default/images/quickSearch_icon.jpg) 0px
		-42px;
}

.quickSearch .qs_content .s_close:hover {
	background-position: 0px -24px;
}


.wst-nvgbk{
	background: url("../../../View/default/images/nvgbg.png") no-repeat scroll 0 -4px rgba(0, 0, 0, 0);
    display: none;
    height: 68px;
    left: -11px;
    position: absolute;
    top: 180px;
    width: 12px;
}

.wst-header-car {
	float: left;
	height: 36px;
	width: 164px;
}

.navCon-menu li s1,.navCon-menu li s2,.navCon-menu li s3,.navCon-menu li s4{
	position: absolute;
	top:10px;left:12px;
}

.navCon-menu li s1{
    background-image: url("../../../View/default/images/icon_menu_01.png");
    display: inline-block;
    height: 15px;
    width: 15px;
}
.navCon-menu li:hover s1, #curs1{
    background-image: url("../../../View/default/images/icon_menu_01_hover.png");
    display: inline-block;
    height: 15px;
    width: 15px;
    background-size:100% 100%;
}

.navCon-menu li s2{
    background-image: url("../../../View/default/images/icon_menu_02.png");
    display: inline-block;
    height: 15px;
    width: 15px;
    background-size:100% 100%;
}
.navCon-menu li:hover s2, #curs2{
    background-image: url("../../../View/default/images/icon_menu_02_hover.png");
    display: inline-block;
    height: 15px;
    width: 15px;
    background-size:100% 100%;
}

.navCon-menu li s3{
    background-image: url("../../../View/default/images/icon_menu_03.png");
    display: inline-block;
    height: 15px;
    width: 13px;
    background-size:100% 100%;
}
.navCon-menu li:hover s3, #curs3{
    background-image: url("../../../View/default/images/icon_menu_03_hover.png");
    display: inline-block;
    height: 15px;
    width: 13px;
    background-size:100% 100%;
}

.navCon-menu li s4{
    background-image: url("../../../View/default/images/icon_menu_04.png");
    display: inline-block;
    height: 15px;
    width: 11px;
    background-size:100% 100%;
}
.navCon-menu li:hover s4, #curs4{
    background-image: url("../../../View/default/images/icon_menu_04_hover.png");
    display: inline-block;
    height: 15px;
    width: 11px;
    background-size:100% 100%;
}


.cateMenu1 li s1, .cateMenu2 li s1{
	background-image: url("../../../View/default/images/icon_dire_01.png");
    display: inline-block;
    height: 10px;
    background-size:100% 100%;
    margin-top:4px;
    width: 12px;
}
.cateMenu1 li s2, .cateMenu2 li s2{
	background-image: url("../../../View/default/images/icon_dire_02.png");
    display: inline-block;
    height: 12px;
    background-size:100% 100%;
    margin-top:4px;
    width: 10px;
}
.cateMenu1 li s3, .cateMenu2 li s3{
	background-image: url("../../../View/default/images/icon_dire_03.png");
    display: inline-block;
    height: 14px;
    background-size:100% 100%;
    margin-top:4px;
    width: 12px;
}
.cateMenu1 li s4, .cateMenu2 li s4{
	background-image: url("../../../View/default/images/icon_dire_04.png");
    display: inline-block;
    height: 12px;
    background-size:100% 100%;
    margin-top:4px;
    width: 12px;
}
.cateMenu1 li s5, .cateMenu2 li s5{
	background-image: url("../../../View/default/images/icon_dire_05.png");
    display: inline-block;
    height: 12px;
    background-size:100% 100%;
    margin-top:4px;
    width: 12px;
}
.cateMenu1 li s6, .cateMenu2 li s6{
	background-image: url("../../../View/default/images/icon_dire_06.png");
    display: inline-block;
    height: 14px;
    background-size:100% 100%;
    margin-top:4px;
    width: 12px;
}




.cateMenu1 li:hover s1, .cateMenu2 li:hover s1{
	background-image: url("../../../View/default/images/icon_dire_01_hover.png");
    display: inline-block;
    height: 10px;
    background-size:100% 100%;
    margin-top:4px;
    width: 12px;
}
.cateMenu1 li:hover s2, .cateMenu2 li:hover s2{
	background-image: url("../../../View/default/images/icon_dire_02_hover.png");
    display: inline-block;
    height: 12px;
    background-size:100% 100%;
    margin-top:4px;
    width: 10px;
}
.cateMenu1 li:hover s3, .cateMenu2 li:hover s3{
	background-image: url("../../../View/default/images/icon_dire_03_hover.png");
    display: inline-block;
    height: 14px;
    background-size:100% 100%;
    margin-top:4px;
    width: 12px;
}
.cateMenu1 li:hover s4, .cateMenu2 li:hover s4{
	background-image: url("../../../View/default/images/icon_dire_04_hover.png");
    display: inline-block;
    height: 12px;
    background-size:100% 100%;
    margin-top:4px;
    width: 12px;
}
.cateMenu1 li:hover s5, .cateMenu2 li:hover s5{
	background-image: url("../../../View/default/images/icon_dire_05_hover.png");
    display: inline-block;
    height: 12px;
    background-size:100% 100%;
    margin-top:4px;
    width: 12px;
}
.cateMenu1 li:hover s6, .cateMenu2 li:hover s6{
	background-image: url("../../../View/default/images/icon_dire_06_hover.png");
    display: inline-block;
    height: 14px;
    background-size:100% 100%;
    margin-top:4px;
    width: 12px;
}