@charset "utf-8";

/* CSS Document */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend
	{
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
	color: #333333;
	font-family: "宋体", Arial, Lucida, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 150%;
}
ol,ul {
	list-style: none outside none;
}

.m {
	margin-bottom: 10px;
}

.m,.mt,.mc,.mb {
	overflow: hidden;
}

/* Clear Fix */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hide from IE Mac */
.clearfix {
	display: block;
}

/* End hide from IE Mac */
/* end of clearfix */
/*页面全局结束*/
/*图片放大镜样式*/
.jqzoom {
	float: left;
	border: none;
	position: relative;
	padding: 0px;
	cursor: pointer;
	margin: 0px;
	display: block;
}

.zoomdiv {
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 350px;
	height: 350px;
	background: #ffffff;
	border: 1px solid #CCCCCC;
	display: none;
	text-align: center;
	overflow: hidden;
}

.jqZoomPup {
	z-index: 10;
	visibility: hidden;
	position: absolute;
	border:1px solid red;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	border: 1px solid #aaa;
	background: #ffffff /*url(../images/zoom.png) 50% center no-repeat*/;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter: alpha(Opacity = 50);
}

/*图片小图预览列表*/
.spec-preview {
	width: 350px;
	height: 350px;
	border: 1px solid #DFDFDF;
}

.spec-scroll {
	clear: both;
	margin-top: 5px;
	width: 352px;
}

.spec-scroll .prev {
	float: left;
	margin-right: 4px;
}

.spec-scroll .next {
	float: right;
}

.spec-scroll .prev,.spec-scroll .next {
	display: block;
	font-family: "宋体";
	text-align: center;
	width: 10px;
	height: 54px;
	line-height: 54px;
	border: 1px solid #CCC;
	background: #EBEBEB;
	cursor: pointer;
	text-decoration: none;
}

.spec-scroll .items {
	float: left;
	position: relative;
	width: 322px;
	height: 56px;
	overflow: hidden;
}

.spec-scroll .items ul {
	position: absolute;
	width: 999999px;
	height: 56px;
}

.spec-scroll .items ul li {
	float: left;
	width: 64px;
	text-align: center;
}

.spec-scroll .items ul li img {
	border: 1px solid #CCC;
	padding: 2px;
	width: 50px;
	height: 50px;
}

.spec-scroll .items ul li img:hover {
	border: 2px solid #FF6600;
	padding: 1px;
}
.wst-goods-tips{width: 200px; float: right;text-align: right;padding-right: 6px;}
.wst-cart-goods-img{float: left; width: 65px;}
.wst-cart-goods-name{float: left; width: 390px; line-height: 30px;}
.wst-prev-btn{height:30px;width:85px;cursor:pointer;}
.wst-next-btn{margin-left:500px;height:30px;width:85px;float:right;cursor:pointer;}