<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['shopTitle']['fieldValue']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/layer/layer.min.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
   </head>
   <style>
   *{box-sizing:content-box;}
   </style>
   <script>
   function handle(url){
	   Plugins.Modal({url:url,title:'提现处理',width:600});
   }
   </script>
   <body class='wst-page'>
     <form action='{:U('Admin/CashDraws/index')}' method='post'>
       <div class='wst-tbar' style='height:25px;'>
       <div style='float:left;'>
                      会员类型：<select name='targetType'>
				 <option value='-1'>全部</option>
				 <option value='0' <if condition="$targetType eq 0 ">selected</if>>普通会员</option>
				 <option value='1' <if condition="$targetType eq 1 ">selected</if>>店铺会员</option>
				</select>
	         时间：<input type='text' id='startDate' class='laydate-icon' name='startDate' value='{$startDate}' style='width:100px' placeholder='开始日期' onclick='laydate({format: "YYYY-MM-DD"})'/>
           <input type='text' id='endDate' class='laydate-icon' name='endDate' value='{$endDate}' style='width:100px' placeholder='结束日期' onclick='laydate({format: "YYYY-MM-DD"})'/>
                     状态：<select name='cashSatus'>
               <option value='-1'>全部</option>
			   <option value='0' <if condition="$cashSatus eq 0 ">selected</if>>待处理</option>
			   <option value='1' <if condition="$cashSatus eq 1 ">selected</if>>已处理</option>
           </select>
             <button type="submit" class="btn btn-primary glyphicon glyphicon-search">查询</button>       
         </div>
       </div>
       </form>
       <div class="wst-body"> 
        <table class="table table-hover table-striped table-bordered wst-list">
           <thead>
             <tr>
               <th width='10'>&nbsp;</th>
			   <th width='100'>提现人</th>
			   <th width='60'>提现金额</th>
			   <th width='170'>提现账号</th>
			   <th width='120'>持有人</th>
			   <th width='*'>备注</th>
			   <th width='140'>时间</th>
			   <th width='60'>状态</th>
               <th width='60'>操作</th>
             </tr>
           </thead>
           <tbody>
            <volist name="Page['root']" id="vo" key='i'>
             <tr>
               <td>{$i}</td>
               <td nowrap>{$vo['targetName']}</td>
               <td>{$vo['money']}</td>
               <td>【<if condition="$vo['accType'] eq 1">支付宝<else/>银行卡</if>】<if condition="$vo['accType'] eq 3">{$vo['accTarget']}</if><if condition="$vo['accType'] eq 3"><br/>&nbsp;&nbsp;</if>{$vo['accNo']}</td>
               <td>{$vo['accUser']}</td>
               <td>{$vo['cashRemarks']}</td>
               <td>{$vo['createTime']}</td>
               <td><if condition="$vo['cashSatus'] eq 1">已处理<else/>待处理</if></td>
               <td>
               <a class="btn btn-default glyphicon glyphicon-pencil" href="javascript:handle('{:U('Admin/CashDraws/toHandle',array('id'=>$vo['cashId']))}')">处理</a>
               </td>
             </tr>
             </volist>
             <tr>
                <td colspan='9' align='center'>{$Page['pager']}</td>
             </tr>
           </tbody>
        </table>
       </div>
   </body>
</html>