<div class="wst-footer-fl-box">
	<div class="wst-footer" >
		<div class="wst-footer-cld-box">
			<div class="wst-footer-fl">友情链接：</div>
			<div style="padding-left:30px;">
				<volist name="friendLikds" key="k" id="vo">
				<div style="float:left;"><a href="{$vo["friendlinkUrl"]}" target="_blank">{$vo["friendlinkName"]}</a>&nbsp;&nbsp;</div> 
				</volist>
				<div class="wst-clear"></div>
			</div>
		</div>
	</div>
</div>

<div class="wst-footer-hp-box">
	<div class="wst-footer">
		<div class="wst-footer-hp-ck1">
			<volist name="helps" key="k1" id="vo1">
			<div class="wst-footer-wz-ca">
				<div class="wst-footer-wz-pt">
				    <img src="__ROOT__/Apps/Home/View/default/images/a{$k1}.jpg" height="18" width="18"/>
					<span class="wst-footer-wz-pn">{$vo1["catName"]}</span>
					<div style='margin-left:30px;'>
						<volist name="vo1['articlecats']" key="k2" id="vo2">
						<a href="{:U('Home/Articles/index/',array('articleId'=>$vo2['articleId']))}">{$vo2['articleTitle']}</a><br/>
						</volist>
					</div>
				</div>
			</div>
			</volist>
			
			<div class="wst-footer-wz-clt">
				<div style="padding-top:5px;line-height:25px;">
				    <img src="__ROOT__/Apps/Home/View/default/images/a6.jpg" height="18" width="18"/>
					<span class="wst-footer-wz-kf">联系客服</span>
					<div style='margin-left:30px;'>
						<a href="#">联系电话</a><br/>
						<if condition="$CONF['phoneNo'] neq ''">
						<span class="wst-footer-pno">{$CONF['phoneNo']}</span><br/>
						</if>
						<if condition="$CONF['qqNo'] neq ''">
						<a href="tencent://message/?uin={$CONF['qqNo']}&Site=QQ交谈&Menu=yes">
						<img border="0" src="http://wpa.qq.com/pa?p=1:{$CONF['qqNo']}:7" alt="QQ交谈" width="71" height="24" />
						</a><br/>
						</if>
						
					</div>
				</div>
			</div>
			<div class="wst-clear"></div>
		</div>
	    
		<div class="wst-footer-hp-ck2">
			<img src="__ROOT__/Apps/Home/View/default/images/alipay.jpg" height="40" width="120"/>支付宝签约商家&nbsp;|&nbsp;
			<span class="wst-footer-frd">正品保障</span><span >100%原产地</span>&nbsp;|&nbsp;
			<span class="wst-footer-frd">7天退货保障</span>购物无忧&nbsp;|&nbsp;
			<span class="wst-footer-frd">免费配送</span>满98包邮&nbsp;|&nbsp;
			<span class="wst-footer-frd">货到付款</span>400城市送货上门
		</div>
	    <div class="wst-footer-hp-ck3">
	        <div class="links"> 
	            <volist name=":WSTNavigation(1)" id="vo" >
	            <a rel="nofollow" <if condition="$vo['isOpen'] eq 1">target="_blank"</if> href="{$vo['navUrl']}">{$vo['navTitle']}</a>&nbsp;<if condition="$vo['end'] eq 0">|&nbsp;</if>
		       	</volist>
	        </div>
	        
	        <div class="copyright">
	         
	         <php>
	        	if($CONF['mallFooter']!=''){
	         		echo htmlspecialchars_decode($CONF['mallFooter']);
	        	}
	        </php>
	      	<php>
				if($CONF['visitStatistics']!=''){
					echo htmlspecialchars_decode($CONF['visitStatistics'])."<br/>";
			    }
			</php>
	        <if condition="$CONF['mallLicense'] ==''">
	        <div>
				Copyright©2015 Powered By <a target="_blank" href="http://www.wstmall.com">WSTMall</a>
			</div>
			<else/>
				<div id="wst-mallLicense" data='1' style="display:none;">Copyright©2015 Powered By <a target="_blank" href="http://www.wstmall.com">WSTMall</a></div>
	        </if>
	        </div>
	    	
	        	 
	     
	    </div>
	</div>
</div>
