<div class="wst-footer-fl-box">
	<div class="wst-footer" >
		<div class="wst-footer-cld-box">
			<div class="wst-footer-fl">友情链接：</div>
			<div style="padding-left:30px;">
				<volist name="friendLikds" key="k" id="vo">
				<div style="float:left;"><a href="{$vo["friendlinkUrl"]}" target="_blank">{$vo["friendlinkName"]}</a>&nbsp;&nbsp;</div> 
				</volist>
				<div class="wst-clear"></div>
			</div>
		</div>
	</div>
</div>

<div class="wst-footer-hp-box">
	<div class="wst-footer">
		<div class="wst-footer-hp-ck1">
			<volist name="helps" key="k1" id="vo1">
			<div class="wst-footer-wz-ca">
				<div class="wst-footer-wz-pt">
				    <img src="__ROOT__/Apps/Home/View/default/images/a{$k1}.jpg" height="18" width="18"/>
					<span class="wst-footer-wz-pn">{$vo1["catName"]}</span>
					<div style='margin-left:30px;'>
						<volist name="vo1['articlecats']" key="k2" id="vo2">
						<a href="__ROOT__/index.php/Home/Articles/index/?articleId={$vo2['articleId']}">{$vo2['articleTitle']}</a><br/>
						</volist>
					</div>
				</div>
			</div>
			</volist>
			
			<div class="wst-footer-wz-clt">
				<div style="padding-top:5px;line-height:25px;">
				    <img src="__ROOT__/Apps/Home/View/default/images/a6.jpg" height="18" width="18"/>
					<span class="wst-footer-wz-kf">联系客服</span>
					<div style='margin-left:30px;'>
						<a href="#">订购热线</a><br/>
						<span class="wst-footer-pno">020-29806661</span><br/>
						<a href="#">在线客服</a><br/>
						<a href="#" class="wst-footer-wz-ent">点击这里进入</a><br/>
					</div>
				</div>
			</div>
			<div class="wst-clear"></div>
		</div>
	    
		<div class="wst-footer-hp-ck2">
			<img src="__ROOT__/Apps/Home/View/default/images/alipay.jpg" height="40" width="120"/>支付宝签约商家&nbsp;|&nbsp;
			<span class="wst-footer-frd">正品保障</span><span >100%原产地</span>&nbsp;|&nbsp;
			<span class="wst-footer-frd">7天退货保障</span>购物无忧&nbsp;|&nbsp;
			<span class="wst-footer-frd">免费配送</span>满98包邮&nbsp;|&nbsp;
			<span class="wst-footer-frd">货到付款</span>400城市送货上门
		</div>
	    <div class="wst-footer-hp-ck3">
	        <div class="links">       	 	 	
		        <a rel="nofollow" target="_blank" href="#">关于我们</a>&nbsp;|&nbsp;
		        <a rel="nofollow" target="_blank" href="#">WST百科</a>&nbsp;|&nbsp;
		        <a rel="nofollow" target="_blank" href="#">帮助中心</a>&nbsp;|&nbsp;
		        <a rel="nofollow" target="_blank" href="#">交易条款</a>&nbsp;|&nbsp;
		        <a rel="nofollow" target="_blank" href="#">诚征英才</a>&nbsp;|&nbsp;
		        <a href="#" target="_blank">网站地图</a>&nbsp;|&nbsp;
		        <a target="_blank" href="#">友情链接</a>&nbsp;|&nbsp;
		        <a href="__ROOT__/shop.php" target="_blank">店铺管理</a>&nbsp;&nbsp;
	        </div>
	        <div class="copyright">Copyright&#169;2015&nbsp;&nbsp;Guangzhou Qingnuan Information Technology Co., Ltd. All rights Reserved 粤ICP备12082267号</div>
	    	<div style=" text-align: center;">
	        	 <span style="font-weight:bolder;">广州晴暖信息科技有限公司</span>版权所有 并保留所有权利 
	        	 <php>
	        if($CONF['visitStatistics']!=''){
	             echo htmlspecialchars_decode($CONF['visitStatistics']['fieldValue']);
	        }
	        </php>
	        </div>
	    </div>
	</div>
</div>
