<!doctype html>
<html>
	<head>
  		<meta charset="utf-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<link rel="shortcut icon" href="favicon.ico"/>
      	<title>{$goodsDetails["goodsName"]} - {$CONF['mallTitle']}</title>
      	<meta name="keywords" content="{$goodsDetails['goodsKeywords']}" />
      	<meta name="description" content="{$goodsDetails['goodsName']},{$CONF['mallDesc']}" />
      	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/common.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/goodsdetails.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/base.css" />
		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/head.css" />
		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/pslocation.css" />
		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/magnifier.css" />
     	
   	</head>
   	<body>
		<include file="./Apps/Home/View/default/header_common.html" />
		<input id="shopId" type="hidden" value="{$goodsDetails['shopId']}"/>
		<input id="goodsId" type="hidden" value="{$goodsDetails['goodsId']}"/>
		<!----加载商品楼层start----->
		<div class="wst-container">
			<div class="wst-nvg-title">
				<a href="{:U('Home/Goods/getGoodsList/',array('c1Id'=>$goodsNav[0]['catId']))}">{$goodsNav[0]["catName"]}</a>&nbsp;>&nbsp;
				<a href="{:U('Home/Goods/getGoodsList/',array('c1Id'=>$goodsNav[0]['catId'],'c2Id'=>$goodsNav[1]['catId']))}">{$goodsNav[1]["catName"]}</a>&nbsp;>&nbsp;
				<a href="{:U('Home/Goods/getGoodsList/',array('c1Id'=>$goodsNav[0]['catId'],'c2Id'=>$goodsNav[1]['catId'],'c3Id'=>$goodsNav[2]['catId']))}">{$goodsNav[2]["catName"]}</a>
			</div>
			<div class="wst-goods-details">
				<div class="details-left">
					<div class="goods-img-box">
						 <!--产品参数开始-->
						  <div>
						    <div id="preview" class="spec-preview"> 
							    <span class="jqzoom">
							    	<img jqimg="__ROOT__/{$goodsDetails['goodsImg']}" class='lazyImg' data-original="__ROOT__/{$goodsDetails['goodsImg']}" height="350" width="350"/>
							    </span> 
						    </div>
						    <!--缩图开始-->
						    <div class="spec-scroll"> <a class="prev">&lt;</a> <a class="next">&gt;</a>
						      <div class="items">
						        <ul>
						        	<li><img alt="" bimg="__ROOT__/{$goodsDetails['goodsImg']}" class='lazyImg' data-original="__ROOT__/{$goodsDetails['goodsThums']}" onmousemove="preview(this);"></li>
						        	<volist name="goodsImgs" key="k" id="vo">
						          		<li><img alt="" bimg="__ROOT__/{$vo['goodsImg']}" class='lazyImg' data-original="__ROOT__/{$vo['goodsThumbs']}" onmousemove="preview(this);"></li>
						          	</volist>
						        </ul>
						      </div>
						    </div>
						    <!--缩图结束-->
						  </div>
						  <!--产品参数结束-->
						  <div class='wst-short-tool'>
						       <div style='float:left;'>商品编号：{$goodsDetails["goodsSn"]}</div>
						       <div style='float:right;'>
						         <a href='javascript:favoriteGoods({$goodsDetails['goodsId']})'>
						         <b></b>
						         <span id='f0_txt' f='{$favoriteGoodsId}'>
						         <if condition="$favoriteGoodsId gt 0">已关注<else/>关注商品</if>
						         </span>
						         </a>
						       </div>
						  </div>
					</div>
					<div class="goods-des-box">
						<table class="goods-des-tab">
							<tbody>
								<tr>
									<td colspan="2">
										<div class="des-title" style="word-break:break-all;">
											{$goodsDetails["goodsName"]}
										</div>
										<div class='wst-goods-spec'>{$goodsDetails["goodsSpec"]|htmlspecialchars_decode}</div>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<div class="des-chux">
											价格：<span id='shopGoodsPrice_{$goodsDetails["goodsId"]}' dataId='{$goodsDetails["goodsAttrId"]}'>￥{$goodsDetails["shopPrice"]}</span>
										</div>
									</td>
								</tr>
								<tr>
									<td width="70"><span class="des-title-span">配送至：</span></td>
									<td>
										<if condition="$goodsDetails['isDistributAll'] eq 1">
										全国各地
										<else/>
										<li id="summary-stock">
											<div class="dd">
												<div id="store-selector">
													<div class="text">
														<div></div>
														<b></b>
													</div>
												</div><!--store-selector end-->
												<div id="store-prompt">
													<strong></strong>
												</div><!--store-prompt end--->
											</div>
										</li>
										<div class="wst-clear"></div>
										</if>
									</td>
								</tr>
								<tr>
									<td width="70"><span class="des-title-span">运费：</span></td>
									<td>{$goodsDetails["deliveryStartMoney"]}元起，配送费{$goodsDetails["deliveryMoney"]}元，{$goodsDetails["deliveryFreeMoney"]}元起免配送费</td>
								</tr>
								<tr>
									<td width="70"><span class="des-title-span">服务：</span></td>
									<td>由
									<if condition="$goodsDetails['deliveryType'] eq 1">
										{$CONF['mallName']}
									<else/>
										<a href="{:U('Home/Shops/toShopHome/',array('shopId'=>$goodsDetails['shopId']))}">{$goodsDetails['shopName']}</a>
									</if>
									配送，并提供售后服务</td>
								</tr>
								<if condition=" count($goodsAttrs['priceAttrs']) gt 0">
								<tr style='height:15px;border-top:1px dashed #ddd;'>
								   <td colspan='2'></td>
								</tr>
								<tr>
									<td width="70"><span class="des-title-span">{$goodsAttrs["priceAttrName"]}：</span></td>
									<td>
									 <volist name="goodsAttrs['priceAttrs']" id="avo">
									 <span class='wst-goods-attrs <if condition=" $goodsDetails['goodsAttrId'] eq $avo['id']">wst-goods-attrs-on</if>' dataId='{$avo["id"]}' onclick='javascript:checkStock(this)'>{$avo['attrVal']}</span>
									 </volist>
									</td>
								</tr>
								</if>
								<tr>
								    <td></td>
								    <td></td>
								</tr>
								<tr>
									<td style="position: relative;">
									<div id='qrBox' style='position:absolute ;top:-50px;left:450px;padding:2px;'>
										<div id='qrcode' style='width:132px;height:132px;border:1px solid #ddd;margin-bottom:2px;'></div>
										<div>下载移动客户端扫一扫</div>
									</div>
									</td>
									<td></td>
								</tr>
								<if condition="$goodsDetails['shopServiceStatus'] eq 1">
								<tr>
									<td width="70"><span style="display:inline-block;width:70px;">购买数量：</span></td>
									<td>
										<div id="haveGoodsToBuy" <if condition="$goodsDetails['goodsStock'] elt 0">style="display:none;"</if>>
											<div class="goods-buy-cnt">
												<div class="buy-cnt-plus" onclick="changebuynum(1)"></div>
												<input id="buy-num" type="text" class="buy-cnt-txt" value="1" maxVal="{$goodsDetails['goodsStock']}" maxlength="3" onkeypress="return WST.isNumberKey(event);" onkeyup="changebuynum(0);" autocomplete="off"/>
												<div class="buy-cnt-add" onclick="changebuynum(2)"></div>
											</div>
											<div class='wst-goods-stock'>库存：<span id='goodsStock'>{$goodsDetails['goodsStock']}</span>{$goodsDetails['goodsUnit']}</div>
										</div>
										<div id="noGoodsToBuy" <if condition="$goodsDetails['goodsStock'] gt 0">style="display:none;"</if>>
											<div style="font-weight: bold;">非常抱歉，所商品暂时无货！</div>
											<div style="clear: both;"></div>
											<br />
											<div>
												<a id="InitCartUrl" class="btn-append " href="javascript:void(0);" title="">
													<span>
														<img src="__ROOT__/Apps/Home/View/default/images/hcat.jpg" />
													</span>
												</a>
											</div>
										</div>
									</td>
								</tr>
								<else/>
								<tr>
									<td colspan="2">
										<div class="wst-gdetail-wait">休息中,暂停营业</div>
									</td>
								</tr>
								</if>
								<tr id="buyBtn" <if condition="$goodsDetails['goodsStock'] elt 0">style="display:none;"</if>>
									<td width="70"></td>
									<td>
										<if condition="$comefrom eq 1">
											<img src="__ROOT__/Apps/Home/View/default/images/hcat.jpg" />
										<else/>
											<php>if($goodsDetails['shopServiceStatus'] ==1){</php>
												<a href="javascript:addCart({$goodsDetails['goodsId']},0,'{$goodsDetails['goodsThums']}')" <php>if(session('WST_USER.userId')>0){</php>class="btnCart"<php>}</php>><img src="__ROOT__/Apps/Home/View/default/images/btn_buy_01_hover.png" width="112" height="38"/></a>
												&nbsp;&nbsp;
												<a href="javascript:addCart({$goodsDetails['goodsId']},1)" class="btn2Cart">
													<img src="__ROOT__/Apps/Home/View/default/images/btn_buy_02.png" width="112" height="38"/>
												</a>
											<php>}else if($goodsDetails['shopServiceStatus'] ==0){</php>
											
												<img src="__ROOT__/Apps/Home/View/default/images/hcat.jpg" />
											<php>}</php>
										</if>
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				<div class="details-right">
					<table class="details-tab">
						<tbody>
							<tr>
								<td class="title">店铺名称：</td>
								<td>{$goodsDetails["shopName"]}</td>
							</tr>
							<tr>
								<td class="title">营业时间：</td>
								<td>{$goodsDetails['serviceStartTime']}-{$goodsDetails['serviceEndTime']}</td>
							</tr>
							<tr>
								<td class="title">配送说明：</td>
								<td>{$goodsDetails["deliveryStartMoney"]}元起，配送费{$goodsDetails["deliveryMoney"]}元<br/>{$goodsDetails["deliveryFreeMoney"]}元起免配送费<br/><br/></td>
							</tr>
							<tr>
								<td class="title">店铺地址：</td>
								<td>{$goodsDetails['shopAddress']}</td>
							</tr>
							<tr>
								<td class="title">店铺电话：</td>
								<td>{$goodsDetails['shopTel']}</td>
							</tr>
							<if condition="$goodsDetails['qqNo'] neq ''">
							<tr>
								<td class="title">&nbsp;QQ咨询：</td>
								<td>
									<a href="tencent://message/?uin={$goodsDetails['qqNo']}&Site=QQ交谈&Menu=yes">
									<img border="0" src="http://wpa.qq.com/pa?p=1:{$goodsDetails['qqNo']}:7" alt="QQ交谈" width="71" height="24" />
									</a><br/>
								</td>
							</tr>
							</if>
							<tr>
								<td ></td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2" class="wst-shop-eval">
									<div class="shop-eval-box" style="width:220px;margin:0 auto;">
										    <li>商品<br/>{$shopScores["goodsScore"]}</li>
											<li class="li-center">时效<br/>{$shopScores["timeScore"]}</li>
											<li>服务<br/>{$shopScores["serviceScore"]}</li>
										<div class="wst-clear"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td ></td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2" class="wst-shop-eval">
									<div class="shop-eval-box" style="width:214px;margin:0 auto;">
										<a class='wst-shop-btn' href="{:U('Home/Shops/toShopHome/',array('shopId'=>$goodsDetails['shopId']))}">
										进入店铺
										</a>
										<a class='wst-shop-btn' href="javascript:favoriteShops({$goodsDetails['shopId']})">
										<span id='f1_txt' f='{$favoriteShopId}'><if condition="$favoriteShopId gt 0">已关注<else/>关注店铺</if></span>
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="wst-clear"></div>
			</div>
			
			
			
			<!-- ------------------------------------------------------------------------------------------------------------------------ -->
			<?php if(count($packages)>0){ ?>
			<div class="wst-goods-packages">
				<div class="title">
					<ul class="tab">
						<li class="curr" style="display: list-item;"><a href="#none">优惠套餐</a></li>
					</ul>
				</div>
				<ul id="move-animate-left" class="subtab">
					<volist name="packages" id="vo">
					<li class="{$key==0?'current':''}">{$vo['packageName']}</li>
					</volist>
				</ul>
				<div class="wst-clear"></div>
				<div id="leftcon" class="wst-relate-goods">
					<div class="wst-subbox" style="width:<?php echo count($packages)*1210 ?>px;">
						<volist name="packages" id="vo">
						<div id="wst-gpackage-{$vo['packageId']}" class="wst-sublist">
							<div class="main-goods">
								<div class="add-icon">┼</div>
								<div class="goods-img">
									<a href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$goodsDetails['goodsId']))}" target="_blank"><img class='lazyImg' data-original="__ROOT__/{$goodsDetails['goodsThums']}" width="120" height="120"/></a>
								</div>
								<div class="goods-name"><a href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$goodsDetails['goodsId']))}" target="_blank"> {$goodsDetails["goodsName"]}</a></div>
							</div>
							<div class="container-goods">
								<div class="all-goods" style="width:<?php echo count($vo['glist'])*160 ?>px;">
									<volist name="vo['glist']" id="vo2">
										<if condition="$key eq 0">
											<div class="frist-goods">
												<div class="goods-img">
													<a href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$vo2['goodsId']))}" target="_blank"><img class='lazyImg' data-original="__ROOT__/{$vo2['goodsThums']}" width="120" height="120"/></a>
												</div>
												<div class="goods-name"><a href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$vo2['goodsId']))}" target="_blank">{$vo2['goodsName']}</a></div>
											</div>
										<else/>
											<div class="normal-goods">
												<div class="add-icon">┼</div>
												<div class="goods-img">
													<a href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$vo2['goodsId']))}" target="_blank"><img class='lazyImg' src="__ROOT__/{$vo2['goodsThums']}" width="120" height="120"/></a>
												</div>
												<div style="height: 36px;overflow: hidden;"><a href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$vo2['goodsId']))}" target="_blank">{$vo2['goodsName']}</a></div>
											</div>
										</if>
									</volist>
								</div>
							</div>
							<div class="wst-settlement">
								<div class="wst-eq">〓</div>
								<div style="color: red;">
									套餐价：<span style="font-size:18px;">¥</span><span style="font-size:18px;font-weight:bold;"><span class="wst-package-price-{$vo['packageId']}">{$vo['minPrice']+$vo['pminPrice']}-{$vo['maxPrice']+$vo['pmaxPrice']}</span></span>
								</div>
								<div>
									节省：<span style="font-size:14px;background-color: #333;color:#fff;padding:2px 4px;">¥{$vo['savePrice']}</span>
								</div>
								<div>
									价格：<span style="font-size:14px;text-decoration: line-through;">¥<span class="wst-org-price">{$vo['minPrice']+$vo['pminPrice']+$vo['savePrice']}-{$vo['maxPrice']+$vo['pmaxPrice']+$vo['savePrice']}</span></span>
								</div>
								<div>
									<if condition="$comefrom eq 1">
										<img src="__ROOT__/Apps/Home/View/default/images/hcat.jpg" width="95"/>
									<else/>
										<php>if($goodsDetails['shopServiceStatus'] ==1){</php>
											<a href="javascript:addPackages({$vo['packageId']});"><img src="__ROOT__/Apps/Home/View/default/images/btn_buy_01_hover.png" width="95"></a>
										<php>}else if($goodsDetails['shopServiceStatus'] ==0){</php>
											<img src="__ROOT__/Apps/Home/View/default/images/hcat.jpg" width="95"/>
										<php>}</php>
									</if>
								</div>
							</div>
							<div class="wst-clear"></div>
						</div>
						</volist>
					</div>
				</div>
				<volist name="packages" id="vo">
					<div id="wst-package-{$vo['packageId']}" style="display:none;overflow-y:auto;">
						<div style="padding: 20px; ">
							<div style="float:left;max-width:700px;">
								<img class='lazyImg' data-original="__ROOT__/{$goodsDetails['goodsThums']}" width="50" height="50"/>
								<volist name="vo['glist']" id="vo2">		
									<span >&nbsp;┼</span>
									<img class='lazyImg' src="__ROOT__/{$vo2['goodsThums']}" width="50" height="50"/>
								</volist>
							</div>
							<div class="wst-pay-tips">
								套餐价：<span class="wst-pay-price">¥<span id="wst-package-price-{$vo['packageId']}" class="wst-package-price-{$vo['packageId']}" allPrice="{$vo['minPrice']+$vo['pminPrice']}-{$vo['maxPrice']+$vo['pmaxPrice']}">{$vo['minPrice']+$vo['pminPrice']}-{$vo['maxPrice']+$vo['pmaxPrice']}</span></span><br/>
								节省：<span class="wst-save-tips">¥{$vo['savePrice']}</span><br/>
								价格：<span class="wst-org-price">¥{$vo['minPrice']+$vo['pminPrice']+$vo['savePrice']}-{$vo['maxPrice']+$vo['pmaxPrice']+$vo['savePrice']}</span><br/>
							</div>
							<div class="wst-clear"></div>
						</div>
						<div class="wst-package-gtips">请选择套餐内的商品信息</div>
						<div class="wst-package-goods">
							<if condition="count($goodsAttrs['priceAttrs']) gt 0">
								<div id="wst-pattr-box-{$goodsDetails['goodsId']}" class="wst-pattr-box" hasAttr="1" goodsId="{$goodsDetails['goodsId']}">
									<div class="wst-goods-notice-{$goodsDetails['goodsId']} wst-goods-notice">商品库存不足</div>
									<div class="wst-goods-img-box"><img class='lazyImg' src="__ROOT__/{$goodsDetails['goodsThums']}" width="80" height="80"/></div>
									<div class="wst-goods-attr-box">
										<div>
										{$goodsAttrs['priceAttrName']}:
										<volist name="goodsAttrs['priceAttrs']" id="vo3">
											<span onclick="checkAttrStock(this,{$goodsDetails['goodsId']},1,{$vo['packageId']});" goodsId="{$goodsDetails['goodsId']}" attrId="{$vo3['id']}" attrPrice="{$vo3['attrPrice']}" attrStock="{$vo3['attrStock']}" class="wst-goods-attrs">{$vo3['attrVal']}</span>
										</volist>
										</div>
										<div style="margin-top:20px;">
											库存：<span class="wst-pstock-{$goodsDetails['goodsId']}" allStock="{$goodsDetails['goodsStock']}">{$goodsDetails['goodsStock']}</span>件
										</div>
									</div>
								</div>
							<else/>
								<div id="wst-pattr-box-{$goodsDetails['goodsId']}" class="wst-pattr-box" onclick="checkAttrStock(this,{$goodsDetails['goodsId']},0,{$vo['packageId']});" goodsId="{$goodsDetails['goodsId']}" attrId="0" attrPrice="<?php echo ($goodsDetails['shopPrice']-$goodsDetails['diffPrice'])>0?($goodsDetails['shopPrice']-$goodsDetails['diffPrice']):$goodsDetails['shopPrice']; ?>" attrStock="{$goodsDetails['goodsStock']}" hasAttr="0"  style="cursor:pointer;">
									<div class="wst-goods-notice-{$goodsDetails['goodsId']} wst-goods-notice">商品库存不足</div>
									<div class="wst-goods-img-box"><img class='lazyImg' src="__ROOT__/{$goodsDetails['goodsThums']}" width="80" height="80"/></div>
									<div class="wst-goods-attr-box">
										<div>
										
										</div>
										<div style="margin-top:20px;">
											库存：<span class="wst-pstock-{$goodsDetails['goodsId']}" allStock="{$goodsDetails['goodsStock']}">{$goodsDetails['goodsStock']}</span>件
										</div>
									</div>
								</div>
							</if>
							<?php $gcnt = 1; ?>
							<volist name="vo['glist']" id="vo2">
							
							<if condition="count($vo2['priceAttrs']) gt 0">
								<div id="wst-pattr-box-{$vo2['goodsId']}" class="wst-pattr-box" hasAttr="1" goodsId="{$vo2['goodsId']}" style="{$gcnt%2==0?'clear: left;':'margin-left:15px;'}">
									<div class="wst-goods-notice-{$vo2['goodsId']} wst-goods-notice">商品库存不足</div>
									<div class="wst-goods-img-box"><img class='lazyImg' src="__ROOT__/{$vo2['goodsThums']}" width="80" height="80"/></div>
									<div class="wst-goods-attr-box">
										<div>
										{$vo2['priceAttrName']}:
										<volist name="vo2['priceAttrs']" id="vo3">
											<span onclick="checkAttrStock(this,{$vo2['goodsId']},1,{$vo['packageId']});" goodsId="{$vo2['goodsId']}" attrId="{$vo3['id']}" attrPrice="<?php echo ($vo3['attrPrice']-$vo2['diffPrice'])>0?($vo3['attrPrice']-$vo2['diffPrice']):$vo3['attrPrice']; ?>" attrStock="{$vo3['attrStock']}" class="wst-goods-attrs">{$vo3['attrVal']}</span>
										</volist>
										</div>
										<div style="margin-top:20px;">
											库存：<span class="wst-pstock-{$vo2['goodsId']}" allStock="{$vo2['goodsStock']}">{$vo2['goodsStock']}</span>件
										</div>
									</div>
								</div>
							<else/>
								<div id="wst-pattr-box-{$vo2['goodsId']}" class="wst-pattr-box" onclick="checkAttrStock(this,{$vo2['goodsId']},0,{$vo['packageId']});" goodsId="{$vo2['goodsId']}" attrId="0" attrPrice="<?php echo ($vo2['shopPrice']-$vo2['diffPrice'])>0?($vo2['shopPrice']-$vo2['diffPrice']):$vo2['shopPrice']; ?>" attrStock="{$vo2['goodsStock']}" hasAttr="0"  style="cursor:pointer;{$gcnt%2==0?'clear: left;':'margin-left:15px;'}">
									<div class="wst-goods-notice-{$vo2['goodsId']} wst-goods-notice">商品库存不足</div>
									<div class="wst-goods-img-box"><img class='lazyImg' src="__ROOT__/{$vo2['goodsThums']}" width="80" height="80"/></div>
									<div class="wst-goods-attr-box">
										<div>
										
										</div>
										<div style="margin-top:20px;">
											库存：<span class="wst-pstock-{$vo2['goodsId']}" allStock="{$vo2['goodsStock']}">{$vo2['goodsStock']}</span>件
										</div>
									</div>
								</div>
							</if>
							<?php $gcnt += 1; ?>
							</volist>
						</div>
						<div class="wst-footer-bar">
							<div class="wst-bar-box">
								<div class="wst-package-notice">请重新核对您的商品信息</div>
								合计：<span class="wst-money-icon">¥<span class="wst-package-price-{$vo['packageId']}">{$vo['minPrice']+$vo['pminPrice']}-{$vo['maxPrice']+$vo['pmaxPrice']}</span></span>
								<button class="wst-add-cartButt" onclick="addCartPackage(this,{$vo['packageId']},'{$goodsDetails['goodsThums']}');">确定加入购物车</button>
							</div>
						</div>
					</div>
				</volist>
			</div>
			<?php } ?>
			<div class="wst-goods-pdetails">
				<div class="wst-goods-pdetails-left">
					{:W('Goods/getHotGoods',array('shopId'=>$goodsDetails['shopId']))}
					{:W('Goods/getViewGoods')}
				</div>
				<div id="wst-goods-pdetails-right" class="wst-goods-pdetails-right">
					<div class="goods-nvg">
						<ul class="tab">
							<li onclick="tabs('#wst-goods-pdetails-right',0)" class="curr">商品介绍</li>
							<if condition=" count($goodsAttrs['attrs']) gt 0">
							<li onclick="tabs('#wst-goods-pdetails-right',1)">商品属性</li>
							<li onclick="tabs('#wst-goods-pdetails-right',2)">商品评价</li>
							<else/>
							<li onclick="tabs('#wst-goods-pdetails-right',1)">商品评价</li>
							</if>
						</ul>
						<div class="wst-clear"></div>
					</div>
					<div class="tabcon">
						<div id="wst_goods_desc" style="font-weight:bolder;height:auto;line-height:30px;padding-left:8px;">
						{$goodsDetails["goodsDesc"]}
						</div>
					</div>
					<if condition=" count($goodsAttrs['attrs']) gt 0">
					<div class="tabcon" style="display:none;">
						<table class='wst-attrs-list'>
						  <volist name="goodsAttrs['attrs']" id="vo">
						  <if condition="$vo['attrContent'] !='' ">
						  <tr>
						    <th nowrap>{$vo['attrName']}：</th>
						    <td>{$vo['attrContent']}</td>
						  </tr>
						  </if>
						  </volist>
						</table>
					</div>
					</if>
					<div class="tabcon"  style="display:none;">						
						<table id="appraiseTab" width="100%">
							<tr>
								<td>
		                      	 	<div style="margin-top: 10px;" id="allgoodsppraises">
		                           		 请稍等...
		                        	</div>
		                        </td>
		                	</tr>
	                   	</table>  
	                   	<div id="wst-page-items" style="text-align:center;margin-top:5px;"></div>                  
					</div>
					<div class="wst-clear"></div>
				</div>
				<div class="wst-clear"></div>
			</div>
			<div class="wst-clear"></div>
		</div>
		<include file="./Apps/Home/View/default/footer.html" />
		<include file="./Apps/Home/View/default/right_cart.html" />
   	</body>
  

<script src="__ROOT__/Apps/Home/View/default/js/goods.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__ROOT__/Apps/Home/View/default/js/head.js" type="text/javascript"></script>
<script src="__ROOT__/Apps/Home/View/default/js/common.js" type="text/javascript"></script>
<script src="__ROOT__/Apps/Home/View/default/js/pslocation.js" type="text/javascript"></script>
<script src="__ROOT__/Apps/Home/View/default/js/jquery.jqzoom.js" type="text/javascript"></script>
<script src="__ROOT__/Apps/Home/View/default/js/magnifier.js" type="text/javascript"></script>
<script src="__ROOT__/Apps/Home/View/default/js/jquery.tabso.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/qrcode.js"></script>
<script> 

$(function(){
	var qr = qrcode(10, 'M');
	qr.addData("{$qrcode}");
	qr.make();
	$('#qrcode').html(qr.createImgTag());
	getGoodsappraises('{$goodsDetails["goodsId"]}',0);
	$("#wst_goods_desc img").each(function(){
		if($(this).width()>940){
			$(this).width(940);
		}
	});
	
	$("#store-selector").hover(function() {
	}, function(){
		$("#store-selector").removeClass("hover");
	});
	
	//左右滑动选项卡切换
	$("#move-animate-left").tabso({
		cntSelect:"#leftcon",
		tabEvent:"mouseover",
		tabStyle:"move-animate",
		direction : "left"
	});
});



</script>
   	
</html>
