<include file="./Apps/Home/View/default/header_nav.html" />
<div style="height:132px;text-align:center;">
	<div style="height:132px;width:1020px;margin:0 auto;text-align:left;">
		<div style="float:left;width:240px;" class="wst-header-car">
		   <a href='__ROOT__'>
			 <img src="__ROOT__/Apps/Home/View/default/images/logo.png" height="132" width="240"/>
		   </a>	
		</div>
		<div style="float:left;width:400px;height:120px;">
			<div style="height:36px;border:2px solid #e23c3d;position:relative;margin-top:60px;margin-left:20px;">
				
				<input id="keyword" style="border:0;width:293px;background: 0 0;padding-left:10px;line-height: 22px;padding-top: 8px; padding-bottom: 4px;font-size:18px;" title="请输入搜索文字" autocomplete="off">
				<div id="btnsch" style="position:absolute;top:0px;right:0px;width:80px;height:36px;color:#ffffff;font-weight:bolder;background-color:#e23c3d;line-height:36px;text-align:center;font-size:15px;cursor:pointer;">搜&nbsp;索</div>
			</div>
		</div>
		<div style="float:left;width:340px;height:120px;">
			<div style="width:340px;height:36px;position:relative;margin-top:50px;padding-left:25px;">
				<div style="position:relative;float:left;width:140px;margin-left:20px;">
					<img src="__ROOT__/Apps/Home/View/default/images/sadn.jpg"  height="38" width="40"/>
					<div style="float:left;position:absolute;top:0px;left:38px;"><span style="font-weight:bolder;">闪电配送</span><br/><span style="color:#e23c3d;">最快1小时送达</span></div>
				</div>
				<div style="position:relative;float:left;width:140px;margin-left:20px;">
					<img src="__ROOT__/Apps/Home/View/default/images/sqzt.jpg"  height="38" width="40"/>
					<div style="float:left;position:absolute;top:0px;left:38px;"><span style="font-weight:bolder;">社区自提</span><br/><span style="color:#e23c3d;">330家自提点</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
