<!DOCTYPE>
<html lang="zh-cn">
	<head>
  		<meta charset="utf-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<link rel="shortcut icon" href="favicon.ico"/>
      	<meta name="viewport" content="width=device-width, initial-scale=1">
      	<title>{$carticle["articleTitle"]} - {$CONF['mallTitle']}</title>
      	<meta name="keywords" content="{$CONF['mallKeywords']},{$carticle["articleKey"]}" />
      	<meta name="description" content="{$CONF['mallDesc']},{$carticle["articleKey"]}" />
      	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/common.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/goodslist.css" />
     	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/base.css" />
		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/head.css" />
   	</head>
   	<body>
   
	<include file="./Apps/Home/View/default/header_common.html" />
	<div class="wst-container">
		<div class='wst-article-menu'>
			<dl class="fore1">
			<volist name="articleList" key="key" id="articles">
			<dt class='item'>
				<b></b><strong>{$articles["catName"]}</strong>
			</dt>
			<dd>
				<volist name="articles['articlecats']" key="key2" id="article">
				<div class='sub-item'>
					<if condition="$article['articleId'] eq $carticle['articleId']">
					<img src="__ROOT__/Apps/Home/View/default/images/helpcenter_icon2.gif"/>&nbsp;&nbsp;<a style="color: red" href="{:U('Home/Articles/index/',array('articleId'=>$article['articleId']))}" rel="nofollow">{$article.articleTitle}</a>
					<else/>
					<img src="__ROOT__/Apps/Home/View/default/images/helpcenter_icon1.gif"/>&nbsp;&nbsp;<a href="{:U('Home/Articles/index/',array('articleId'=>$article['articleId']))}" rel="nofollow">{$article.articleTitle}</a>
					</if>
				</div>
				</volist>
			</dd>
			</volist>
		</dl>
		</div>
		<div class='wst-article-main'>			
			<div>
				<div class='title'>{$carticle["articleTitle"]}</div>
		        <div class='content'>{$carticle["articleContent"]}</div>
			</div>			
		</div>
	</div>
<div style="clear: both;"></div>
<include file="./Apps/Home/View/default/footer_common.html" />
<include file="./Apps/Home/View/default/footer.html" />
</body>
</html>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__ROOT__/Apps/Home/View/default/js/goodslist.js"></script>
<script src="__ROOT__/Apps/Home/View/default/js/global.js" type="text/javascript"></script>
<script src="__ROOT__/Apps/Home/View/default/js/head.js" type="text/javascript"></script>
<script src="__ROOT__/Apps/Home/View/default/js/common.js" type="text/javascript"></script>
