<!DOCTYPE >
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="favicon.ico"/>
<title>首页 - {$CONF['mallTitle']}</title>
<meta name="keywords" content="{$CONF['mallKeywords']}" />
<meta name="description" content="{$CONF['mallDesc']}" />
<link rel="stylesheet" href="__ROOT__/Apps/Home/View/{$WST_STYLE}/css/common.css" />
<link rel="stylesheet" href="__ROOT__/Apps/Home/View/{$WST_STYLE}/css/index.css" />
<link rel="stylesheet" href="__ROOT__/Apps/Home/View/{$WST_STYLE}/css/base.css" />
<link rel="stylesheet" href="__ROOT__/Apps/Home/View/{$WST_STYLE}/css/head.css" />
</head>

<body>
	<include file="./Apps/Home/View/default/header_common.html" />
	<!----加载广告start----->
	<div class="wst-ad" >
		<div class="wst-slide" id="wst-slide">
			<ul class="wst-slide-items">
				<volist name=":WSTAds(-1)" id="vo" key="k">
				<a target="_blank" onclick="addAccess({$vo['adId']})" href="{$vo['adURL']}">
					<li style="z-index: 1;  background: url(__ROOT__/{$vo['adFile']}) 50% 0% / cover no-repeat scroll;"></li>
				</a>
				</volist>
			</ul>
			<div class="wst-slide-numbox">
				<div class="wst-slide-controls">
			  		<?php if($ishome == 1){ ?>
			  		<volist name=":WSTAds(-1)" id="vo" key="k" >
			  			<if condition="$k eq 1">
			  		 		<span class="curr">{$k}</span>
			  		  	<else/>
			  		    	<span class="">{$k}</span>
			  		 	</if>
					</volist>
					<?php } ?>
				</div>
			</div>
		</div>
	</div>
	<div class='wst-clear'></div>
	<!----加载商品楼层start----->
		<!-------------F1层---------------->
		<div class="wst-container">
		<volist name="catList" key="k1" id="vo1">
		<div class="wst-floor" data="{$k1}">
			<div class="wst-fl-left wst-fl{$k1}" style="position: relative;">
				<div class="wst-fl-catbox">
					<volist name="catAds[$vo1['catId']]" id="vo" key="kv"> 
					<a onclick="addAccess({$vo['adId']})" href="{$vo['adURL']}" target="_blank"> 
						<img class='lazyImg' data-original="__ROOT__/{$vo['adFile']}" height="240" width="210" title="{$vo['adName']}" />
					</a> 
					</volist>
				</div>
				<div class="wst-fl-head">
					<a href="{:U('Home/Goods/getGoodsList/',array('c1Id'=>$vo1['catId']))}">
						<span style="font-size: 18px;">F{$k1}</span>&nbsp;{$vo1["catName"]}
					</a>
				</div>
				<div class='wst-cat'>
					<volist name="vo1['catChildren']" key="k2" id="vo2"> 
						<volist name="vo2['catChildren']" key="k3" id="vo3"> 
							<a href="{:U('Home/Goods/getGoodsList/',array('c1Id'=>$vo1['catId'],'c2Id'=>$vo2['catId'],'c3Id'=>$vo3['catId']))}">
							<li class="wst-cat-left">{$vo3["catName"]}</li>
							</a> 
						</volist> 
					</volist>
				</div>
			</div>
			<div class="wst-fl-right">
				<div class="wst-fl-nvg{$k1}">
					<ul class="wst-fl-nvg-ul">
						<li id="fl_{$k1}_0" class="wst-fl-tab" onmouseover="gpanelOver(this);">
						<span id="span_fl_{$k1}_0">&nbsp;&nbsp;精品推荐&nbsp;&nbsp;</span>
						<f class="nvg_triangle">▲</f>
						</li>
						<volist name="vo1['catChildren']" key="k2" id="vo2">
						<li id="fl_{$k1}_{$k2}" class="wst-fl-tab" onmouseover="gpanelOver(this);">
							<span id="span_fl_{$k1}_{$k2}">&nbsp;&nbsp;{$vo2["catName"]}&nbsp;&nbsp;</span>
							<f class="nvg_triangle">▲</f>
						</li>
						</volist>
					</ul>
				</div>
				<div>
					<div id="fl_{$k1}_0_pl" class="wst-goods-container">
						<volist name="vo1['jpgoods']" key="k2" id="vo2">
						<li class="wst-goodsbox">
							<div class="wst-goods-thumb">
								<a href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$vo2['goodsId']))}">
									<img class='lazyImg' data-original="__ROOT__/{$vo2['goodsThums']}" width="180" />
								</a>
							</div>
							<div class="wst-goods-thumb-des">
								<div class="goodsname">
								<a class="wst-goods-name" href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$vo2['goodsId']))}">{$vo2['goodsName']}</a>
								</div>
								<div>
									<em class="wst-left wst-goods-price" id='shopGoodsPrice_{$vo2["goodsId"]}' dataId='{$vo2["goodsAttrId"]}'>￥{$vo2['shopPrice']|number_format=2}</em>
									<a href="javascript:addCart({$vo2['goodsId']},0,'{$vo2['goodsThums']}')" class="wst-right <if condition="session('WST_USER.userId') gt 0 ">btnCart</if>"> 
									<img src="__ROOT__/Apps/Home/View/{$WST_STYLE}/images/btn_addcart.png" width="85" />
									</a>
									<div class='wst-clear'></div>
								</div>
							</div>
						</li>
						</volist>
						<?php for($i=0;$i<10-count($vo1['jpgoods']);$i++){ ?>
						<li class="wst-emptybox"></li>
						<?php } ?>
						<div class='wst-clear'></div>
					</div>
					<volist name="vo1['catChildren']" key="k2" id="vo2">
					<div id="fl_{$k1}_{$k2}_pl" class="wst-goods-container"
						style="display: none;">
						<volist name="vo2['goods']" key="k3" id="vo3">
						<li class="wst-goodsbox">
							<div class="wst-goods-thumb">
								<a href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$vo3[goodsId]))}">
									<img class='lazyImg' data-original="__ROOT__/{$vo3['goodsThums']}" width="180" />
								</a>
							</div>
							<div class="wst-goods-thumb-des">
								<div class="goodsname">
									<a class="wst-goods-name"
										href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$vo3[goodsId]))}">{$vo3['goodsName']}</a>
								</div>
								<div>
									<em class="wst-left wst-goods-price" id='shopGoodsPrice_{$vo3["goodsId"]}' dataId='{$vo3["goodsAttrId"]}'>￥{$vo3['shopPrice']|number_format=2}</em>
									<a href="javascript:addCart({$vo3['goodsId']},0,'{$vo3['goodsThums']}')" class="wst-right <if condition="session('WST_USER.userId') gt 0 ">btnCart</if>" > 
									<img src="__ROOT__/Apps/Home/View/{$WST_STYLE}/images/btn_addcart.png" width="85" />
									</a>
									<div class='wst-clear'></div>
								</div>
							</div>
							
						</li>
						</volist>
						<?php for($i=0;$i<10-count($vo2['goods']);$i++){ ?>
						<li class="wst-emptybox"></li>
						<?php } ?>
						<div class='wst-clear'></div>
					</div>
					</volist>
				</div>
			</div>
			<div class='wst-clear'></div>
		</div>
		</volist>
	</div>
	<include file="./Apps/Home/View/default/footer.html" />
	<include file="./Apps/Home/View/default/right_cart.html" />
	<script src="__PUBLIC__/js/common.js"></script>
    <script src="__ROOT__/Apps/Home/View/{$WST_STYLE}/js/index.js"></script>
    <script src="__ROOT__/Apps/Home/View/{$WST_STYLE}/js/common.js"></script>
    <script src="__ROOT__/Apps/Home/View/{$WST_STYLE}/js/global.js" type="text/javascript"></script>
    <script src="__ROOT__/Apps/Home/View/{$WST_STYLE}/js/head.js" type="text/javascript"></script>
    <script src="__ROOT__/Apps/Home/View/{$WST_STYLE}/js/goods.js" type="text/javascript"></script>
</body>

</html>

