<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['shopTitle']['fieldValue']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
   </head>
   <script>
   function getAreaList(objId,parentId,t,id){
	   var params = {};
	   params.parentId = parentId;
	   $('#'+objId).empty();
	   if(t<1){
		   $('#areaId3').empty();
		   $('#areaId3').html('<option value="">请选择</option>');
	   }
	   var html = [];
	   $.post("{:U('Admin/Areas/queryByList')}",params,function(data,textStatus){
		    html.push('<option value="">请选择</option>');
			var json = WST.toJson(data);
			if(json.status=='1' && json.list.length>0){
				var opts = null;
				for(var i=0;i<json.list.length;i++){
					opts = json.list[i];
					html.push('<option value="'+opts.areaId+'" '+((id==opts.areaId)?'selected':'')+'>'+opts.areaName+'</option>');
				}
			}
			$('#'+objId).html(html.join(''));
	   });
   }
   $(function(){
	   getAreaList("areaId2",'{$areaId1}',0,'{$areaId2}');
	   getAreaList("areaId3",'{$areaId2}',1,'{$areaId3}');
   });
   function refund(url){
	   Plugins.Modal({url:url,title:'订单退款',width:600});
   }
   </script>
   <body class='wst-page'>
     <form method='post' action="{:U('Admin/Orders/queryRefundByPage')}">
       <div class='wst-tbar'>
          地区：<select id='areaId1' name='areaId1' onchange='javascript:getAreaList("areaId2",this.value,0)'>
             <option value=''>请选择</option>
             <volist name="areaList" id="vo">
             <option value='{$vo['areaId']}' <if condition="$areaId1 == $vo['areaId'] ">selected</if>>{$vo['areaName']}</option>
             </volist>
          </select>
          <select id='areaId2' name='areaId2' onchange='javascript:getAreaList("areaId3",this.value,1);getCommunitys()'>
             <option value=''>请选择</option>
          </select>
          <select id='areaId3' name='areaId3'>
             <option value=''>请选择</option>
          </select>
       </div>
       <div class='wst-tbar'>
       店铺：<input type='text' id='shopName' name='shopName' value='{$shopName}'/>  
       订单：<input type='text' id='orderNo' name='orderNo' value='{$orderNo}'/>
       退款状态 ：<select id='isRefund' name='isRefund'>
             <option value='-1'>全部</option>
             <option value='0' <if condition="$isRefund ==0 ">selected</if>>未退</option>
             <option value='1' <if condition="$isRefund ==1 ">selected</if>>已退</option>
         </select>
       <button type="submit" class="btn btn-primary glyphicon glyphicon-search">查询</button> 
       </div>
       </form>
       <div class="wst-body"> 
        <table class="table table-hover table-striped table-bordered wst-list">
           <volist name="Page['root']" id="vo" key='key'>
           <thead>
             <tr>
               <th colspan='6'>{$key}.订单：{$vo['orderNo']}<span style='margin-left:100px;'><a href="{:U('Admin/Orders/queryRefundByPage',array('shopName'=>$vo['shopName']))}">{$vo['shopName']}</a></span></th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td width='350'>
               <div style='width:350px;'>
               <volist name="vo['goodslist']" id="goods">
				  <img style='margin:2px;' src="__ROOT__/{$goods['goodsThums']}" height="50" width="50" title='{$goods['goodsName']}'/>
			   </volist>
			   </div>
               </td>
               <td>{$vo['userName']}</td>
               <td>
                                             ￥{$vo['totalMoney']+$vo['deliverMoney']}<br/>
               <if condition="$vo['payType'] ==1 ">在线支付<else/>货到付款</if>
               </td>
               <td >{$vo['createTime']}</td>
               <td><if condition="$vo['isRefund'] ==1 ">已退款<else/>未退款</if></td>
               <td width='150'>
               <a class="btn btn-primary glyphicon" href="{:U('Admin/Orders/toRefundView',array('id'=>$vo['orderId']))}">查看</a>&nbsp;
               <if condition="$vo['isRefund'] ==0 ">
               <php>if(in_array('tk_04',$WST_STAFF['grant'])){</php>
               <a class="btn btn-primary glyphicon" href='javascript:refund("{:U('Admin/Orders/toRefund',array('id'=>$vo['orderId']))}")'>退款</a>&nbsp;
               <php>}</php>
               </if>
               </td>
             </tr>
             </volist>
             <tr>
                <td colspan='6' align='center'>{$Page['pager']}</td>
             </tr>
           </tbody>
        </table>
       </div>
   </body>
</html>