<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['shopTitle']['fieldValue']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
      <script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
   </head>
   <body class="wst-page">
       <form name="myform" method="post" id="myform">
        <input type='hidden' id='id' value='{$object.bankId}'/>
        <table class="table table-hover table-striped table-bordered wst-form">
           <tr>
             <td>
             <span style='font-weight:bold;'>订单号：{$object['orderNo']}</span>
             <span style='margin-left:100px;'>
                                       状态：<if condition='$object["orderStatus"] eq -3'>用户拒收
               <elseif condition='$object["orderStatus"] eq -5'/>店铺不同意拒收
               <elseif condition='$object["orderStatus"] eq -4'/>店铺同意拒收
			   <elseif condition='$object["orderStatus"] eq -2'/>未付款
			   <elseif condition='($object["orderStatus"] eq -6) OR ($vo["orderStatus"] eq -7)'/>用户取消
			   <elseif condition='$object["orderStatus"] eq 0'/>未受理
			   <elseif condition='$object["orderStatus"] eq 1'/>已受理
			   <elseif condition='$object["orderStatus"] eq 2'/>打包中
			   <elseif condition='$object["orderStatus"] eq 3'/>配送中
			   <elseif condition='$object["orderStatus"] eq 4'/>已到货
			   </if>
             </span></td>
           </tr>
           <tr>
              <td style='font-weight:bold;'>订单日志</td>
           </tr>
           <tr>
              <td>
                <table width='700'>
                <tr>
                  <td width='220'>操作时间</td>
                  <td width='350'>操作信息</td>
                  <td width='230'>操作人</td>
                </tr>
                <volist name="object['log']" id="log">
                <tr>
                  <td>{$log['logTime']}</td>
                  <td>{$log['logContent']}</td>
                  <td>{$log['loginName']}<notempty name="log['shopName']">({$log['shopName']})</notempty></td>
                </tr>
                </volist>
                </table>
              </td>
           </tr>
           <tr>
             <td style='font-weight:bold;'>订单信息</td>
           </tr>
           <tr>
             <td>
             <table width='700'>
                <tr>
                  <td width='120' style='text-align:right'>支付方式：</td>
                  <td>
                  <if condition='$object["payType"] eq 1'>在线支付<else/>货到付款</if>
                  </td>
                </tr>
                <tr>
                  <td style='text-align:right'>配送方式：</td>
                  <td>
                  <if condition='$object["isSelf"] eq 1'>
                                                                  自提
                  <else/>
                  	<if condition='$object["deliverType"] eq 1'>店铺配送<else/>商城配送</if>
                  </if>                                                
                  </td>
                </tr>
                <tr>
                  <td style='text-align:right'>送货时间：</td>
                  <td>{$object['requireTime']}</td>
                </tr>
                <tr>
                  <td style='text-align:right'>买家留言：</td>
                  <td>{$object['orderRemarks']}</td>
                </tr>
                </table>
             </td>
           </tr>
           <if condition='$object["isRefund"] eq 1'>
           <tr>
             <td style='font-weight:bold;'>退款说明</td>
           </tr>
           <tr>
             <td>
             <table width='700'>
                <tr>
                  <td width='120' style='text-align:right'>说明：</td>
                  <td>
                  {$object['refundRemark']}
                  </td>
                </tr>
                </table>
             </td>
           </tr>
           </if>
           <if condition='$object["isInvoice"] eq 1'>
           <tr>
             <td style='font-weight:bold;'>发票信息</td>
           </tr>
           <tr>
             <td>
             <table width='700'>
                <tr>
                  <td width='120' style='text-align:right'>发票抬头：</td>
                  <td>
                  {$object['invoiceClient']}
                  </td>
                </tr>
                </table>
             </td>
           </tr>
           </if>
           <tr>
             <td style='font-weight:bold;'>收货人信息</td>
           </tr>
           <tr>
             <td>
                <table width='700'>
                <tr>
                  <td width='120' style='text-align:right'>收货人：</td>
                  <td>{$object['userName']}</td>
                </tr>
                <tr>
                  <td style='text-align:right'>地址：</td>
                  <td>{$object['userAddress']}</td>
                </tr>
                <tr>
                  <td style='text-align:right'>联系方式：</td>
                  <td>
                  <notmpty name='object['userPhone']'>
                  {$object['userPhone']}
                  </notmpty>
                  <notmpty name='object['userTel']'>
                  {$object['userTel']}
                  </notmpty>
                  </td>
                </tr>
                </table>
             </td>
           </tr>
           <tr>
              <td style='font-weight:bold;'>商品信息</td>
           </tr>
           <tr>
              <td>
                <table>
                <tr>
                  <td width='450' colspan='2'>商品</td>
                  <td width='350'>价格</td>
                  <td width='130'>数量</td>
                  <td width='130'>总金额</td>
                </tr>
                <volist name="object['goodslist']" id="goods">
                <tr>
                  <td width='50'><img src='__ROOT__/{$goods["goodsThums"]}' style='margin:2px;' width='50' height='50'/></td>
                  <td width='400'>{$goods["goodsName"]}<if condition="$goods['goodsAttrName'] neq ''">【{$goods['goodsAttrName']}】</if></td>
                  <td width='350'>￥{$goods["goodsPrice"]}</td>
                  <td width='130'>{$goods["goodsNums"]}</td>
                  <td width='130'>￥{$goods["goodsPrice"]*$goods["goodsNums"]}</td>
                </tr>
                </volist>
                </table>
              </td>
           </tr>
           <tr>
              <td style='text-align:right;padding-right:10px;'>商品总金额：￥{$object['totalMoney']}<br/>+ 运费：￥{$object['deliverMoney']}<br/><span style='font-weight:bold;font-size:20px'>订单金额：</span><span style='font-weight:bold;font-size:20px;color:red;'>￥{$object['totalMoney']+$object['deliverMoney']}</span></td>
           </tr>
           <tr>
             <td colspan='2' align='center'>
                 <button type="button" class="btn btn-primary" onclick='javascript:location.href="{$referer}"'>返&nbsp;回</button>
             </td>
           </tr>
        </table>
       </form>
   </body>
</html>