<!doctype html>
<html class="no-js">
<head>
  <include file="./Apps/WebApp/View/default/common_meta.html" />
  <title>绑定手机 - {$CONF['mallTitle']}</title>
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/common.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/userinfo.css?v={$WST_V}">
</head>
<body>
    <div class="wst-nav">
      <div class="am-g">
        <div class="am-u-sm-1 wst-nav-left">
          <a href="{:U('WebApp/Users/toUserInfo')}" class="wst-back"><i class="am-icon-angle-left am-icon-sm"></i></a>
        </div>
        <div class="am-u-sm-11 wst-nav-center" style="font-size:1.25em;">绑定手机</div>
      </div>
    </div> 
    
    <div class="am-g bindemail-area">
      <div class="am-u-md-12">
        <?php if( session('WST_USER.userPhone') != '' ){?>
          <p>您当前已绑定的手机号码： <?php echo session('WST_USER.userPhone');?></p>
        <?php } ?>
        <p>请输入要绑定的手机号码：</p>
        <fieldset class="am-form-set">
          <div class="am-form">
            <div class="am-g">
              <div class="am-u-sm-12 email-row">
                <input type="text" class="am-form-field wstinput" id="userPhone" name="userPhone" placeholder="手机号码">
              </div>
              <div class="am-u-sm-6">
                <input type="text" class="am-form-field wstinput verifyCode" id="verifyCode" name="verifyCode" placeholder="验证码">
              </div>
              <div class="am-u-sm-6 verifyImg-area">
                <img class='email-verifyImg verifyImg' id="verifyImg" src='__ROOT__/Apps/WebApp/View/default/images/clickForVerify.png' title='刷新验证码' onclick="javascript:getVerify('verifyImg');"/> 
              </div>
            </div>
          </div>
        </fieldset>
        <button type="button" class="am-btn am-btn-block sendemail" id="sendPhone">发送验证短信</button>
        <div class="bind-area">
          <fieldset class="am-form-set">
            <div class="am-form">
              <div class="am-g">
                <div class="am-u-sm-12 email-row">
                  <input type="text" class="am-form-field wstinput" id="phoneCode" name="emailCode" placeholder="请输入手机验证码">
                </div>
              </div>
            </div>
          </fieldset>
          <button type="button" class="am-btn am-btn-block sendemail" id="bindPhone">绑定手机号码</button>
        </div> 
      </div>
    </div>

  <include file="./Apps/WebApp/View/default/common_footer.html" /> 
  <include file="./Apps/WebApp/View/default/common_js.html" /> 
  <script src="__ROOT__/Apps/WebApp/View/default/js/userinfo.js?v={$WST_V}"></script>
  <script>
    $(document).ready(function(){
        getVerify('verifyImg');
    });
  </script>
</body>
</html>