<script type="text/x-handlebars-template" id="editPwd">
  <header data-am-widget="header" class="am-header am-header-default am-header-fixed wst-inner-page-nav">
    <div class="am-header-left am-header-nav">
      <a href="#" class="" id=""><i class="am-icon-angle-left am-icon-sm"></i></a>
    </div>
    <h1 class="am-header-title" style="margin:0 10%;">修改密码</h1>
  </header>
  <div class="user-container">
    <form class="am-form">
      <fieldset>
        <div class="am-form-group">
          <label for="oldPwd" class="pwd-label">旧密码：</label>
          <input type="password" name="oldPwd" id="oldPwd" placeholder="5-20个字符" onkeyup="javascript:checkInputStatus();" autocomplete="off">
        </div>
        <div class="am-form-group">
          <label for="newPwd" class="pwd-label">新密码：</label>
          <input type="password" name="newPwd" id="newPwd" placeholder="5-20个字符" onkeyup="javascript:checkInputStatus();"  autocomplete="off">
        </div>
        <div class="am-form-group">
          <label for="newPwd2" class="pwd-label">确认新密码：</label>
          <input type="password" name="newPwd2" id="newPwd2" placeholder="5-20个字符" onkeyup="javascript:checkInputStatus();"  autocomplete="off">
        </div>
      </fieldset>
    </form>
    <div class="pwd-confirm" id="pwd-confirm">
      <button type="button" class="am-btn am-btn-default am-btn-block" id="pwd-submit" onclick="javascript:submitPwd();">确定</button>
    </div>
  </div>
</script>