<script type="text/x-handlebars-template" id="msgDetails">
  <header data-am-widget="header" class="am-header am-header-default am-header-fixed wst-inner-page-nav">
    <div class="am-header-left am-header-nav">
      <a href="#"><i class="am-icon-angle-left am-icon-sm"></i></a>
    </div>
    <h1 class="am-header-title" style="margin:0 10%;">消息详情</h1>
  </header> 
  <div class="messageslist-container">
    <div class="am-g">
      <div class="am-u-sm-12 msg-detail-time">{{createTime}}</div>
      <div class="am-u-sm-12">{{msgContent}}</div>
    </div>
  </div>
</script>