<!doctype html>
<html class="no-js">
<head>
  <include file="./Apps/WebApp/View/default/common_meta.html" />
  <title>我的 - {$CONF['mallTitle']}</title>
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/common.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/wst_page_common.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/users.css?v={$WST_V}">
</head>
<body>
  <div class="wst-page" id="wst-page1">
    <div class="wst-nav">
      <div class="am-g">
        <div class="am-u-sm-12 wst-nav-center">
          <h2 class="am-header-title" style="margin:0 10%;">会员中心</h2>
        </div>
      </div>
    </div> 

    <div class="am-g users-area">
      <div class="am-u-sm-3">
      <?php if(session('WST_USER.userPhoto') != ''){ ?>
        <img src="__ROOT__/{:session('WST_USER.userPhoto')}" class="user-photo">
      <?php }else{ ?>
        <img src="__ROOT__/Apps/WebApp/View/default/images/user_photo.png" class="user-photo">
      <?php } ?>
      </div>
      <div class="am-u-sm-9">
        <span class="loginname">{$WST_USER['userName']?$WST_USER['userName']:$WST_USER['loginName']}</span>
        <span class="userscore">积分：<?php echo session('WST_USER.userScore')>0 ? session('WST_USER.userScore') : 0;?></span>
      </div>
    </div>

    <div class="orderstatus-area">
      <ul class="am-avg-sm-5">
          <li class="condition-li">
            <a href="{:U('WebApp/Orders/index','status=1')}">
              <?php if($orderCount['payCount']>0){ ?>
                <i class="am-icon-money order-icon icon-position"></i>
                <span class="am-badge am-badge-danger am-radius order-count">{$orderCount['payCount']}</span>
                <span class="order-condition condition-count">待付款</span>
              <?php }else{ ?>
                <i class="am-icon-money order-icon"></i>
                <span class="order-condition condition-nocount">待付款</span>
              <?php } ?>
            </a>
          </li>
          <li class="condition-li">
            <a href="{:U('WebApp/Orders/index','status=3')}">
              <?php if($orderCount['receiptCount']>0){ ?>
                <i class="am-icon-bus order-icon icon-position"></i>
                <span class="am-badge am-badge-danger am-radius order-count">{$orderCount['receiptCount']}</span>
                <span class="order-condition condition-count">待收货</span>
              <?php }else{ ?>
                <i class="am-icon-bus order-icon"></i>
                <span class="order-condition condition-nocount">待收货</span>
              <?php } ?>
            </a>
          </li>
          <li class="condition-li">
            <a href="{:U('WebApp/Orders/index','status=4')}">
                <i class="am-icon-check-square-o order-icon"></i>
                <span class="order-condition condition-nocount">已收货</span>
            </a>
          </li>
          <li class="condition-li">
            <a href="{:U('WebApp/Orders/index','status=5')}">
              <?php if($orderCount['appraisesCount']>0){ ?>
                <i class="am-icon-comments order-icon icon-position"></i>
                <span class="am-badge am-badge-danger am-radius order-count">{$orderCount['appraisesCount']}</span>
                <span class="order-condition condition-count">待评价</span>
              <?php }else{ ?>
                <i class="am-icon-comments order-icon"></i>
                <span class="order-condition condition-nocount">待评价</span>
              <?php } ?>
            </a>
          </li>
          <li class="condition-li">
            <a href="{:U('WebApp/Orders/getBadOrders','status=6')}">
              <i class="am-icon-arrows-alt order-icon"></i>
              <span class="order-condition condition-nocount" style="margin-top:-3px;">取消/拒收</span>
            </a>
          </li>
      </ul>
    </div>

    <div class="am-g user-options">
      <a href="{:U('WebApp/Orders/index')}">
        <div class="am-u-sm-10">
          <span class="mine-options option1"></span>
          <span class="mine-text">订单管理</span>
        </div>
        <div class="am-u-sm-2 options-right"><i class="am-icon-angle-right am-icon-sm"></i></div>
      </a>
    </div>

    <div class="am-g user-options">
      <a href="{:U('WebApp/OrderComplains/index')}">
        <div class="am-u-sm-10">
          <span class="mine-options option2"></span>
          <span class="mine-text">投诉订单</span>
        </div>
        <div class="am-u-sm-2 options-right"><i class="am-icon-angle-right am-icon-sm"></i></div>
      </a>
    </div>

    <div class="am-g user-options">
      <a href="{:U('WebApp/Messages/index')}">
        <div class="am-u-sm-10">
          <span class="mine-options option3"></span>
          <span class="mine-text">商城消息<?php if($msgCount>0){ echo '<span class="am-badge am-badge-danger am-radius am-round msgcount">'.$msgCount.'</span>';}?></span>
        </div>
        <div class="am-u-sm-2 options-right"><i class="am-icon-angle-right am-icon-sm"></i></div>
      </a>
    </div>

    <div class="am-g user-options">
      <a href="{:U('WebApp/Users/toUserInfo')}">
        <div class="am-u-sm-10">
          <span class="mine-options option4"></span>
          <span class="mine-text">个人信息</span>
        </div>
        <div class="am-u-sm-2 options-right"><i class="am-icon-angle-right am-icon-sm"></i></div>
      </a>
    </div>

    <div class="am-g user-options">
      <a href="{:U('WebApp/UsersAddress/index/')}">
        <div class="am-u-sm-10">
          <span class="mine-options option5"></span>
          <span class="mine-text">收货地址</span>
        </div>
        <div class="am-u-sm-2 options-right"><i class="am-icon-angle-right am-icon-sm"></i></div>
      </a>
    </div>

    <div class="am-g user-options">
      <a href="#editPwd">
        <div class="am-u-sm-10">
          <span class="mine-options option6"></span>
          <span class="mine-text">账号安全</span>
        </div>
        <div class="am-u-sm-2 options-right"><i class="am-icon-angle-right am-icon-sm"></i></div>
      </a>
    </div>

    <div class="am-g user-options">
      <a href="{:U('WebApp/Favorites/index/')}">
        <div class="am-u-sm-10">
          <span class="mine-options option6"></span>
          <span class="mine-text">我的关注</span>
        </div>
        <div class="am-u-sm-2 options-right"><i class="am-icon-angle-right am-icon-sm"></i></div>
      </a>
    </div>

    <div class="logout-area"><button type="button" class="am-btn am-btn-warning user-logout" id="user-logout">退出登录</button></div>

  </div>
  <div class="wst-page wst-page2" id="wst-page2" style="display:none;"></div>

  <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="wst-default-loading">
    <div class="am-modal-dialog">
      <div class="am-modal-hd">Loading...</div>
      <div class="am-modal-bd">
        <span class="am-icon-spinner am-icon-spin"></span>
      </div>
    </div>
  </div>
  <div class="am-modal am-modal-confirm" tabindex="-1" id="wst-confirm">
    <div class="am-modal-dialog">
      <div class="am-modal-hd" id="confirmMsg"></div>
      <div class="am-modal-footer">
        <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        <span class="am-modal-btn" data-am-modal-confirm>确定</span>
      </div>
    </div>
  </div>
  
  <include file="./Apps/WebApp/View/default/common_footer.html" />   
  <include file="./Apps/WebApp/View/default/users/edit_pwd.html" /><!-- 账号安全页模板 --> 
  
  <include file="./Apps/WebApp/View/default/common_js.html" /> 
  <script src="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/js/handlebars.min.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/js/amazeui.widgets.helper.min.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/wst_page_common.js?v={$WST_V}"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/users.js?v={$WST_V}"></script>
</body>
</html>