<!doctype html>
<html class="no-js">
<head>
  <include file="./Apps/WebApp/View/default/common_meta.html" />
  <title>投诉 - {$CONF['mallTitle']}</title>
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/common.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/orders_management.css?v={$WST_V}">
</head>
<body>

  <div class="wst-nav not-upload">
    <div class="am-g">
      <div class="am-u-sm-1 wst-nav-left">
        <a href="javascript:void(0);" onclick="history.back();" class="wst-back"><i class="am-icon-angle-left am-icon-sm"></i></a>
      </div>
      <div class="am-u-sm-11 wst-nav-center" style="font-size:1.25em;">投诉</div>
    </div>
  </div> 
  <header data-am-widget="header" class="am-header am-header-default am-header-fixed wst-inner-page-nav" id="clip" style="display:none;">
    <div class="am-header-left am-header-nav" onclick="closeUploadArea();">关闭</div>
    <div class="am-header-right am-header-nav" id="clipBtn">上传</div>
  </header>

  <input type="hidden" value="{$orderId}" id="orderId" autocomplete="off">
  <div class="complains-container">
    <button class="am-btn am-btn-primary com-orderinfo" data-am-collapse="{target: '#orderInfo'}">订单详情 <i class="am-icon-plus order-icon-plus"></i><i class="am-icon-minus order-icon-minus"></i></button>
    <div id="orderInfo" class="am-g am-collapse complains-hidden">
      <?php 
        if(!empty($data['order']['goodsList'])){
          foreach($data['order']['goodsList'] as $v){
      ?>
        <img src="__ROOT__/{$CONF['goodsImg']}" data-echo="__ROOT__/<?php echo $v['goodsThums'];?>" class="complains-goods-img">
      <?php }}?>
      <div style="clear:both;"></div>
      <div class="am-panel am-panel-default">
        <table class="am-table am-table-bordered am-table-compact am-table-hover">
          <tbody>
            <tr>
              <td>订单编号：</td>
              <td>{$data['order']['orderNo']}</td>
            </tr>
            <tr>
              <td>订单金额：</td>
              <td>￥{$data['order']['totalMoney']}</td>
            </tr>
            <tr>
              <td>运费：</td>
              <td>￥{$data['order']['deliverMoney']}</td>
            </tr>
            <tr>
              <td>下单时间：</td>
              <td>{$data['order']['createTime']}</td>
            </tr>
            <tr>
              <td>要求时间：</td>
              <td>{$data['order']['requireTime']}</td>
            </tr>
            <tr>
              <td>商家：</td>
              <td>{$data['order']['shopName']}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <section class="am-panel am-panel-default">
      <div class="am-panel-bd" style="padding-left:0;padding-right:0;">
        <form class="am-form">
          <fieldset>
            <div class="am-form-group">
              <label>投诉类型：</label><br>
              <label class="am-radio-inline">
                <input type="radio" value="1" name="complainType" checked="checked"> 承诺的没有做到
              </label>
              <label class="am-radio-inline">
                <input type="radio" value="2" name="complainType"> 未按约定时间发货
              </label><br>
              <label class="am-radio-inline">
                <input type="radio" value="3" name="complainType"> 未按成交价格进行交易
              </label>
              <label class="am-radio-inline">
                <input type="radio" value="4" name="complainType"> 恶意骚扰
              </label>
            </div>

            <div class="am-form-group">
              <label for="complainContent">投诉内容：</label><br>
              <textarea id="complainContent" placeholder="请输入投诉内容" autocomplete="off" style="height:150px;"></textarea>
            </div>

            <div class="am-form-group am-form-file">
              <button type="button" class="am-btn am-btn-danger am-btn-sm addImg" id="addImg"><i class="am-icon-cloud-upload"></i> 上传附件(最多5张)</button>
              <input type="file" id="uploadImg" class="uploadfile-input" accept="image/*">
              <div id="complainsImg" class="complains-img-area"></div>
              <div style="clear:both;"></div>
            </div>

            <p><button type="button" class="am-btn am-btn-default" id="complainSubmit" autocomplete="off">提交</button></p>
          </fieldset>
        </form>
      </div>
    </section>
  </div>

  <div class="upload-modal" id="upload_modal">
      <div id="clipArea" class="clipArea"></div>
      <input type="hidden" id="imgData" autocomplete="off">
  </div>
  <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="wst-default-loading">
    <div class="am-modal-dialog">
      <div class="am-modal-hd">Loading...</div>
      <div class="am-modal-bd">
        <span class="am-icon-spinner am-icon-spin"></span>
      </div>
    </div>
  </div>
  <include file="./Apps/WebApp/View/default/common_footer.html" /> 
  <include file="./Apps/WebApp/View/default/common_js.html" /> 
  <script src="__ROOT__/Apps/WebApp/View/default/Photoclip/iscroll-zoom.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/Photoclip/hammer.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/Photoclip/jquery.photoClip.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/order_complains.js?v={$WST_V}"></script>
  <script>
    //图片上传
    $("#clipArea").photoClip({
        width: 350,
        height: 350,
        file: "#uploadImg",
        view: "#view",
        ok: "#clipBtn",
        loadStart: function() {
            $("#wst-default-loading").modal();
        },
        loadComplete: function() {
            $("#wst-default-loading").modal('close');
        },
        clipFinish: function(dataURL) {
            $('#imgData').val(dataURL);

            var imgData = $('#imgData').val();
            if(!imgData || imgData==''){
                wstMsg('请先选择图片');
                return false;
            }
            $("#wst-default-loading").modal();
            $.post(Think.U('WebApp/Users/uploadImage'), {'imgData': imgData,'saveModulePath':'complains'}, function(data){
                var json = WST.toJson(data);
                if(json.status==1){
                    var str = '<div class="complains-annex">';
                    str += '<i class="am-icon-close del-cover-icon" onclick="javascript:delImg(this);"></i>';
                    str += '<img class="complains-img" src="'+ ThinkPHP.ROOT +'/'+json.filepath+'">';
                    str += '<input type="hidden" class="imgSrc" value="'+json.filepath+'">';
                    str += '</div>';
                    $('#complainsImg').append(str);
                    isDisabledButton();
                }else{
                    wstMsg('上传失败，请重试');
                }
                $("#wst-default-loading").modal('close');
                closeUploadArea();
            });
        }
    });
  </script>
</body>
</html>