<!doctype html>
<html class="no-js">
<head>
  <include file="./Apps/WebApp/View/default/common_meta.html" />
  <title>我的订单 - {$CONF['mallTitle']}</title>
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/common.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/wst_page_common.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/orders_management.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/order_details.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/order_appraises.css?v={$WST_V}">
</head>
<body>
  <div class="wst-page" id="wst-page1">

    <div class="wst-nav">
      <div class="am-g">
        <div class="am-u-sm-1 wst-nav-left">
          <a href="{:U('WebApp/Users/index')}" class="wst-back"><i class="am-icon-angle-left am-icon-sm"></i></a>
        </div>
        <div class="am-u-sm-11 wst-nav-center" style="font-size:1.25em;">我的订单</div>
      </div>
    </div> 

    <input type="hidden" value="10" id="pageSize" autocomplete="off">
    <input type="hidden" value="0" id="currPage" autocomplete="off">
    <input type="hidden" value="" id="totalPage" autocomplete="off">
    <input type="hidden" value="{$status}" id="status" autocomplete="off">
    <div class="orderlist-container">
      <div class="condition-area">
        <ul class="am-avg-sm-6">
            <li class="condition-li <?php if($status==0){ echo 'condition-active';}?>" status="0"><span class="condition">全部</span></li>
            <li class="condition-li <?php if($status==1){ echo 'condition-active';}?>" status="1"><span class="condition">待付款</span></li>
            <li class="condition-li <?php if($status==2){ echo 'condition-active';}?>" status="2"><span class="condition">待受理</span></li>
            <li class="condition-li <?php if($status==3){ echo 'condition-active';}?>" status="3"><span class="condition">待收货</span></li>
            <li class="condition-li <?php if($status==4){ echo 'condition-active';}?>" status="4"><span class="condition">已收货</span></li>
            <li class="condition-li <?php if($status==5){ echo 'condition-active';}?>" status="5"><span class="condition">待评价</span></li>
        </ul>
      </div>
      <div class="orders-list" id="orders-list"></div>
      <div id="loading-icon" class="loading-icon" style="display:none;">
        <span class="am-icon-spinner am-icon-spin"></span>
      </div>
    </div>

  </div>
  <div class="wst-page wst-page2" id="wst-page2" style="display:none;"></div>

  <div class="am-modal am-modal-confirm" tabindex="-1" id="wst-confirm">
    <div class="am-modal-dialog">
      <div class="am-modal-hd" id="confirmMsg"></div>
      <div class="am-modal-footer">
        <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        <span class="am-modal-btn" data-am-modal-confirm>确定</span>
      </div>
    </div>
  </div>

  <div class="am-popup" id="wst-rejectionRemarks-popup">
    <div class="am-popup-inner">
      <div class="am-popup-hd">
        <header data-am-widget="header" class="am-header am-header-default am-header-fixed" style="background-color:#F36C2C;">
          <div class="am-header-left am-header-nav"></div>
          <h1 class="am-header-title">取消/拒收</h1>
          <div class="am-header-right am-header-nav" onclick="javascript:closePopup();" style="cursor:pointer;">关闭</div>
        </header>
      </div>
      <div class="am-popup-bd">
        <form class="am-form">
          <fieldset>
            <div class="am-form-group">
              <label for="rejectionRemarks">请填写原因：</label>
              <textarea rows="6" id="rejectionRemarks" autocomplete="off" name="rejectionRemarks"></textarea>
            </div>
            <span class="am-btn am-btn-default" onclick="javascript:rejectionRemarks();">提交</span>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="wst-default-loading">
    <div class="am-modal-dialog">
      <div class="am-modal-hd">Loading...</div>
      <div class="am-modal-bd">
        <span class="am-icon-spinner am-icon-spin"></span>
      </div>
    </div>
  </div>

  <include file="./Apps/WebApp/View/default/common_footer.html" /> 
  <include file="./Apps/WebApp/View/default/orders/order_details.html" /><!-- 订单详情页模板 --> 
  <include file="./Apps/WebApp/View/default/orders/order_appraises.html" /><!-- 订单详情页模板 -->
  <include file="./Apps/WebApp/View/default/goods_appraises.html" /><!-- 评论页模板 --> 
  <include file="./Apps/WebApp/View/default/common_js.html" /> 
  <script src="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/js/handlebars.min.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/js/amazeui.widgets.helper.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/wst_page_common.js?v={$WST_V}"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/orders_management.js?v={$WST_V}"></script>
</body>
</html>