<!doctype html>
<html class="no-js">
<head>
  <include file="./Apps/WebApp/View/default/common_meta.html" />
  <title>取消/拒收 - {$CONF['mallTitle']}</title>
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/common.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/wst_page_common.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/orders_bad.css?v={$WST_V}">
  <link rel="stylesheet" href="__ROOT__/Apps/WebApp/View/default/css/order_details.css?v={$WST_V}">
</head>
<body>
  <div class="wst-page wst-page1" id="wst-page1">
    <div class="wst-nav">
      <div class="am-g">
        <div class="am-u-sm-1 wst-nav-left">
          <a href="{:U('WebApp/Users/index')}"><i class="am-icon-angle-left am-icon-sm"></i></a>
        </div>
        <div class="am-u-sm-11 wst-nav-center" style="font-size:1.25em;">取消/拒收</div>
      </div>
    </div> 
    <div class="orderlist-container">
      <div class="orders-list" id="orders-list">
        <volist name="ordersList['root']" key="k" id="vo">
          <div class="orders">
            <div class="am-g orders-top">
              <div class="am-u-sm-6">
                <a href="" class="orders-shopname">{$vo['shopName']}</a>
              </div>
              <div class="am-u-sm-6 orders-top-right">
                <span class="orders-status"> 
                  <?php  
                    $statusCanComplains = array(-5,-4,-3,4);//可进行投诉的订单状态
                    if($vo["orderStatus"]==-3){ 
                      $str = '用户拒收';
                    }else if($vo["orderStatus"]==-4){
                      $str = '商家确认拒收';
                      if($vo["payType"]==1){
                        $str .= ($vo["isRefund"]==1) ? '(已退款)' : '(未退款)';
                      }
                    }else if($vo["orderStatus"]==-5){
                      $str = '商家不同意拒收';
                    }else if($vo["orderStatus"]==-6 || $vo["orderStatus"]==-1 || $vo["orderStatus"]==-7){
                      $str = '用户取消';
                      if($vo["payType"]==1 && $vo["isPay"]==1){
                        $str .= ($vo["isRefund"]==1) ? '(已退款)' : '(未退款)';
                      }
                    }
                    echo $str;
                  ?>
                </span>
              </div>
            </div>
            <a href="#details&<?php echo $vo['orderId'];?>">
              <volist name="vo['data']" key="k2" id="vo2">
                <div class="am-g orders-middle">
                  <div class="am-u-sm-2"><img src="__ROOT__/{$vo2['goodsThums']}" class="orders-goods-img"></div>
                  <div class="am-u-sm-7"><span class="orders-goods-name">{$vo2['goodsName']}</span></div>
                  <div class="am-u-sm-3 orders-goods-price-area">
                    <span class="orders-goods-price">￥ {$vo2['goodsPrice']}</span>
                    <span class="orders-goods-num">x{$vo2['goodsNums']}</span>
                  </div>
                </div>
              </volist>
            </a>
            <div class="am-g orders-bottom">
              <div class="am-u-sm-12">
                <?php if( in_array($vo['orderStatus'], $statusCanComplains) && $vo['noComplains'] == 1 ){ ?>
                  <span class="cancel-order" onclick="javascript:goToComplains({$vo['orderId']});">投诉</span>
                <?php } ?>
              </div>
              <div class="am-u-sm-12" style="text-align:right;">
                共 <?php echo count($vo['data']);?> 件商品  实付：<span class="orders-totalmoney">￥{$vo['totalMoney']}</span>
              </div>
            </div>
          </div>
        </volist>
      </div>
    </div>
  </div>
  <div class="wst-page wst-page2" id="wst-page2" style="display:none;"></div>
  <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="wst-default-loading">
    <div class="am-modal-dialog">
      <div class="am-modal-hd">Loading...</div>
      <div class="am-modal-bd">
        <span class="am-icon-spinner am-icon-spin"></span>
      </div>
    </div>
  </div>

  <include file="./Apps/WebApp/View/default/common_footer.html" /> 
  <include file="./Apps/WebApp/View/default/order_details.html" /><!-- 订单详情页模板 --> 
  <include file="./Apps/WebApp/View/default/common_js.html" /> 
  <script src="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/js/handlebars.min.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/AmazeUI/assets/js/amazeui.widgets.helper.js"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/wst_page_common.js?v={$WST_V}"></script>
  <script src="__ROOT__/Apps/WebApp/View/default/js/orders_bad.js?v={$WST_V}"></script>
</body>
</html>