<script type="text/x-handlebars-template" id="order-appraises">

  <header data-am-widget="header" class="am-header am-header-default am-header-fixed wst-inner-page-nav">
    <div class="am-header-left am-header-nav">
      <a href="#"><i class="am-icon-angle-left am-icon-sm"></i></a>
    </div>
    <h1 class="am-header-title" style="margin:0 10%;">评价</h1>
  </header> 

  <div class="appraises-container">
    <div class="am-panel am-panel-default">
      <div class="am-panel-hd">
        <h4 class="am-panel-title">购买时间：{{info.order.createTime}}</h4>
      </div>
      <table class="am-table am-table-bordered am-table-centered am-table-compact">
        <thead>
          <tr>
            <th class="th-index">序号</th>
            <th class="th-goods">商品</th>
            <th class="th-appraises">评价</th>
          </tr>
        </thead>
        <tbody>
        {{#each info.goodslist}}
        <tr>
          <td class="am-text-middle">{{goodsIndex @index}}</td>
          <td class="am-text-middle">
            <div class="am-g am-g-collapse">
              <div class="am-u-sm-3">
                <img src="{{../rooturl}}/{{goodsThums}}" class="goods-img">
              </div>
              <div class="am-u-sm-9 goods-toleft">{{goodsName}}</div>
            </div>
          </td>
          <td class="am-text-middle goods-info" id="isAppraises{{goodsId}}_{{goodsAttrId}}">
            {{#compare isAppraises 1}}已评价{{else}}未评价{{/compare}}
            {{#compare isAppraises 1}}
            <button type="button" class="am-btn am-btn-default am-btn-xs am-radius isappraises" onclick="scrollToAppraises({{id}},'{{goodsName}}',1);">查看评价</button> 
            {{else}}
            <button type="button" class="am-btn am-btn-default am-btn-xs am-radius isappraises" onclick="scrollToAppraises({{goodsId}},'{{goodsName}}',0,{{goodsAttrId}});">去评价</button> 
            {{/compare}}
          </td>
        </tr>
        {{/each}}

        </tbody>
      </table>

    </div>

    <div class="am-g am-g-collapse appraises-edit-container" id="appraises-edit-container" style="display:none;">
      <div id="appraises-loading-icon" style="display:none;text-align:center;"><span class="am-icon-spinner am-icon-spin"></span></div>
      <input type="hidden" id="orderId" autocomplete="off" value="{{info.order.orderId}}">
      <input type="hidden" id="goodsId" autocomplete="off">
      <input type="hidden" id="goodsAttrId" autocomplete="off">
      <input type="hidden" id="goodsScore" autocomplete="off">
      <input type="hidden" id="timeScore" autocomplete="off">
      <input type="hidden" id="serviceScore" autocomplete="off">
      <form class="am-form am-form-horizontal" id="appraises-form"></form>
    </div>

  </div>
</script>