.address-container {
  padding-top: 50px;
}
.address-link {
  color: black;
}
.save-area {
  position: fixed;
  z-index: 999;
  height: 50px;
  bottom: -10px;
}
.wst-item-title {
  margin-top: 5px;
}
.default-address-area {
  height: 40px;
  background: #404040;
}
.save-address {
  background: #F36C2C;
  color: white;
  font-size: 20px;
  text-align: center;
  height: 40px;
  padding-top: 5px;
  cursor: pointer;
  width: 100%;
}
.default-address {
  color: white;
  font-size: 20px;
}
.am-icon-check-circle.active{
  color: rgb(242, 69, 102);
}
.isdefault {
  margin: 0 5px 0px 15px;
  font-size: 25px;
  cursor: pointer;
  color: white;
}
.address-row {
  background: white;
  padding: 10px;
}
.address-row.not-first {
  border-top: 1px solid #F1F1F1;
}
.del-address {
  font-size: 1.3em;
  cursor: pointer;
}
.add-new-address {
  color: white;
  float: right;
  margin-top: -27px;
}
.address-edit-container {
  margin-top: 30px;
  padding: 0px 10px 60px 10px;
}