/* 导航 */
.wst-nav {
	width: 100%;
	height: 50px;
	background-color: #F36C2C;
	border-bottom: 1px solid #DD2000;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.wst-nav-left {
	text-align: left;
	padding-top: 12px;
	color: white;
}
.wst-nav-left a {
	color: white;
}
.wst-nav-center {
	text-align: center;
	padding-top: 8px;
}
.wst-home-search {
	min-width: 160px;
	cursor: pointer;
}
.wst-nav-right {
	text-align: right;
	padding-top: 12px;
	cursor: pointer;
}
.city-icon {
	height: 16px;
}
.wst-back {
	display: inline-block;
    text-align: center;
    width: 25px;
}
/* 页面主体 */
.page-container {
	padding-top: 50px;
}

/* 内页导航 */
.wst-inner-page-nav {
	background-color: #F36C2C;
	border-bottom: 1px solid #DD2000;
}

/* 各端 */
.device-container {
  text-align: center;
  margin: 5px 0px;
}
.wst-device {
  font-size: 2.5rem;
}
.wst-mobile {
  color: green;
}
.wst-pc {
  color: #F36C2C;
}
.device-text {  
  display: block;
  font-size: 1.3rem; 
  width: 100%; 
  text-align: center; 
}

/* 商品分类页 */
.cat-container {
    height: auto;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 50px;
    width: 100%;
}
.left-container {
    width: 80px;
    float: left;
    overflow-y: hidden;
}
.catcontent {
    font-size: 12px;
    color: #252525;
    overflow-y: auto;
    background-color: #fff;
}
.right-container {
    overflow: hidden;
    margin-left: 80px;
}
.catetory-container {
    height: auto;
    min-height: 100%;
}
.wst-cat1 {
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    text-align: center;
    padding: 10px 0;
    font-size: 1.5rem;
    background-color: #F3F4F6;
}
.wst-cat1:last-child {
    border-bottom: none;
}
.wst-cat1.cat-active {
    background-color: #fff;
    border-right: none;
    color: #F36C2C;
}
.cat1-div {
  margin-bottom: 15px;
}
.cat2-title {
  font-size: 1.5rem;
  color: #888;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}
.cat-a {
  color: #333;
}
.cat2-a {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  background-color: #fff;
  margin-bottom: 1px;
  padding: 5px 0;
}
.cat3-a {
  background-color: #fff;
  display: block;
  text-align: center;
  font-size: 1.3rem;
  padding: 7px 5px;
}
.cat-li {
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.cat-li:nth-child(2n-1) {
  border-left: 1px solid #e0e0e0;
}
.cat-li:nth-child(1) {
  border-top: 1px solid #e0e0e0;
}
.cat-li:nth-child(2) {
  border-top: 1px solid #e0e0e0;
}

/* 提示框 */
.wst-msg-modal {
	display: none;
	position: fixed;
	bottom: 65px;
	z-index: 9999;
}
.wst-modal-content {
	background: #4C4C4C;
	color: white;
	border-radius: 10px;
	padding: 10px;
}

/* input框 */
.wstinput {
  height: 42px;
}

/* 选择城市页 */
.wst-city {
	margin-left: 15px;
	color: black;
}
.wst-page-container {
	margin-top: 48px;
}

/* 滚动到顶部*/
.wst-to-top {
	display: none;
	background-color: rgba(238,238,238,.8);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    position: fixed;
    right: 10px;
    bottom: 90px;
    text-align: center;
    z-index: 9999;
    cursor: pointer;
}
.wst-to-top-icon {
	font-size: 20px;
	color: #F36C2C;
	margin-top: 3px;
}

/* 上传图片 */
.uploadfile-input {
	opacity: 0;
	width: 160px !important;
	font-size: 2rem !important;
}
.addImg {
	width: 160px;
}
.cut-icon { 
  margin-left: 15px; 
  margin-right: 10px; 
}
.upload-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0.8rem;
  width: 100%;
  height: 100%;
  z-index: 102;
}
.clipArea {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

/* 关注商品或店铺按钮 */
.favorite {
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px;
}

/* 圆形选择框的样式 */
.check-icon {
  color: #C9C9C9;
  font-size: 25px;
  cursor: pointer;
}
.am-icon-check-circle.active{
  color: rgb(242, 69, 102);
}

/* 列表为空时提示内容的样式 */
.list-empty {
  position: fixed;
  top: 200px;
  z-index: 9999;
}
.list-empty-tips {
  display: block;
  font-size: 1.8rem;
}