/* 商品详情 */
.goods-detail-container {
	padding-top: 50px;
}
.goods-container {
	padding: 0;
	text-align: left;
	padding-bottom: 50px;
	margin-top: -1px;
}
.goods-price-area {
	font-size: 0.85em;
}
.goods-price {
	display: inline-block;
	margin-right: 10px;
	color: #F36C2C;
	font-size: 1.3em;
}
.goods-stock.goods-stock-red {
	color: red;
}
.goods-shopName-area {
	text-align: right;
}
.goods-shopName {
	display: block;
	text-align: center;
	background: #86AAFE;
	box-shadow: 3px 4px 3px gray;
	border-radius: 3px;
	padding: 5px;
	color: white;
	overflow: hidden;
  	text-overflow: ellipsis;
  	-o-text-overflow: ellipsis;
  	white-space: nowrap;
}
.bottom-area {
	height: 40px;
	position: fixed;
	z-index: 999;
	bottom: 49px;
}
.goodscount {
	float: left;
	border: 1px solid #CCC; 
	text-align: center;
	height: 40px;
	background: white;
}
.goodscount-jian {
	padding:0px;
	width:30px;
	font-size: 1.5em;
}
.goodscount-num {
	width: 45px;
}
.goodscount-jia {
	padding:0px;
	width:30px;
	font-size: 1.5em;
}
.cart-area {
	text-align: right;
	font-size: 1.4rem;
}
.buynow {
	width: 45%;
	height: 40px;
	background: #EA612A;
	border: none; 
	color: white;
	margin: 0;
}
.add-to-cart {
	width: 45%;
	height: 40px;
	background: #B2B2B2;
	border: none; 
	color: white;
	margin: 0;
}
.appraise-area {
	background: #F6F5F1;
	height: 35px;
}
.goods-desc-row {
	cursor: pointer;
	margin: 5px 0px;
	padding: 5px 10px;
	color: #f36c2c;
	background-color: #F5F5F5;
	border: 1px solid #ddd;
}
.goods-title-area {
   	padding: 5px 10px;
	background: url(../images/goods-title-bg.png) repeat left top;
	margin: 0;
}
.goods-title-icon {
	width: 20px;
	margin-right: 10px;
}
.row2-area {
	background-color: #f1f1f1;
	padding: 15px 10px 0px 10px;
}
.goodsname-right {
	font-size: 100%;
    font-weight: 600;
    float: left;
    width: 90%;
}
.goods-desc {
	padding-left: 0;
	padding-right: 0;
	font-size: 0.85em;
}
img {
	max-width: 100%;
}
.priceattr {
	background-color: white;
	margin: 0 10px 0 0;
}
.priceattr.active {
  background-color: #F67726;
  color: white;
}
.attr-row {
	font-size: 0.85em;
    padding: 5px 10px;
}
.spec {
	display: block;
	font-size: 0.85em;
}
.detail-empty {
  position: fixed;
  top: 200px;
  z-index: 9999;
}
.notsaletips {
  background-color: rgba(0,0,0,.6);
  text-align: center;
  font-size: 1.8rem;
  position: fixed;
  bottom: 49px;
  padding: 5px 0;
  color: white;
}