/* 首页幻灯片 */
.swiper-slide { 
	box-sizing: border-box; 
}
.home-swiper { 
	height: 20%; 
	margin: 0; 
	padding: 0; 
}
.swiper-slide img.index-banner { 
	width: 100%; 
}

/* 首页四个icon选项 */
.options-container {
	text-align: center;
	margin: 15px 0px;
}
.home-options {
	width: 70px;
	height: 70px;
	display: block;
	margin: 0 auto;
  	background-image: url(../images/home-options.png);
  	background-repeat: no-repeat;
}
.home-options.option1 {
  	background-position: left top;
}
.home-options.option2 {
  	background-position: -80px top;
}
.home-options.option3 {
  	background-position: -160px top;
}
.home-options.option4 {
  	background-position: -245px top;
}
.options-text { 
	font-size: 14px; 
	color: #504F4F; 
	display: block; 
	width: 100%; 
	text-align: center; 
}

/* 首页商品楼层 */
.swiper-container {
    width: 100%;
	height: 217px;
}
.swiper-slide {
    font-size: 18px;
    background: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 5px;
    text-align: center;
}
.swiper-slide.not-firstrow {
	border-left: 1px solid #E1E1E1;
}
.wst-goods-floors { 
	border-top: 5px solid #F1F1F3; 
	margin-bottom: 140px; 
}
.home-container {
	overflow: hidden;
	border-bottom: 1px solid #E1E1E1;
}
.goods-floor { 
	height: 245px; 
}
.goodsinfo-container {
	max-width: 150px;
    width: 100%;
	text-align: left;
	margin: 0 auto;
}
.home-cat {
	font-size: 1.1em;
	color: black;
}
.more-png {
	height: 18px;
}
.goods-container { 
	text-align: center; 
	padding: 5px; 
}
.addcart{ 
	width: 100%; 
	height: 110px;
	display: block; 
}
.goods-image { 
	width: 100%; 
	max-width: 150px;
	max-height: 110px; 
}
.shop-name {
	font-size: 1.3rem;
	display: block;
	height: 22px;
    margin-top: 2px;
    overflow: hidden;
}
.goods-name { 
	display: block; 
	color: #262221; 
	font-size: 1.2rem;
	height: 40px;
	overflow: hidden;
}
.wst-goods-price { 
	font-size: 1.2rem;
	color: red; 
}
.add-cart { 
	width: 30px;
	cursor: pointer;
}
.category-area { 
	background-color: #F8F8F8;
	border-bottom: 1px solid #F1F1F3; 
	border-top: 1px solid #F1F1F3; 
	padding: 5px 10px 7px 10px;
}
.category-area-left { 
	float: left; 
	margin-left: 20px; 
	margin-top: 10px; 
}
.category-area-right { 
	float: right; 
	margin-right: 20px; 
	margin-top: 10px; 
}
.add-to-car { 
	max-width: 146px; 
	margin: 0 auto; 
	cursor: pointer; 
}

/* 品牌馆 */
.brands-img {
	width: 60px;
	border-radius: 15px;
	margin-right: 20px;
}

/* 品牌馆 */
.brands-link {
	color: black;
}


    