.login-area {
  padding-top: 120px;
}
.wst-login-icon {
  color: gray;
}
.wst-login-button {
  background: #F36C2C;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
}
.register-now {
  margin: 20px 10px;
  font-size: 1em;
}
.register-now a {
  color: #F36C2C;
}
.wst-username {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.wst-password {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.verifyImg-area {
  text-align: left;
}
.verifyImg {
  vertical-align: middle;
  cursor: pointer;
  height: 39px;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
}
/* 找回密码 */
.findpwd-area {
  padding-top: 65px;
}
.forgetpwd-container {
  padding-top: 50px;
}
.forgetpwd {
  float: right;
}
.options-right {
  text-align: right;
}
.forgetpwd-row {
  border-bottom: 1px solid #EDEDED;
  padding: 10px 0px;
  margin-top: 5px;
  color: black;
}
.login-container {
  margin-top: 5px;
}
