.appraises-container {
	padding-top: 49px;
}
.goods-info {
	font-size: 1.4rem;
}
.goods-img {
	width: 100%;
	max-width: 60px;
	margin-right: 5px;
}
.goods-row-title {
	font-size: 1.5rem;
}
.appraises-edit-container {
  padding: 0px 10px 10px 10px;
}
.appraises-tips {
	display: none;
}
.star {
	cursor: pointer;
}
.goods-toleft {
	text-align: left;
}
.th-index {
	width: 40px;
}
.th-appraises {
	width: 55px;
}
.isappraises {
  background-color: #F67726;
  color: white;
}
.appraises-firstrow {
	font-weight: bold;
}
.appraises-content {
	padding: 0px 10px;
}