.details-container {
	padding-top: 49px;
}
.record {
	width: 145px;
	font-size: 1.4rem;
}
.receipter {
	width: 123px;
	font-size: 1.5rem;
}
.orderinfo {
	width: 90px;
	font-size: 1.5rem;
}
.goods-row-title {
	font-size: 1.5rem;
}
.goods-info {
	font-size: 1.4rem;
}
.goods-price {
	width: 50px;
}
.goods-cnt {
	width: 40px;
}
.goods-img {
	width: 100%;
	max-width: 60px;
}
.total-area {
	padding-right: 10px;
	text-align: right;
	margin-bottom: 20px;
}
.span-block {
	display: block;
}
.order-total {
	font-size: 1.8rem;
	color: black;
	font-weight: 700;
}
.total-money {
	color: red;
}