body {
  font-size: 1.4rem;
}
a {
  color: black;
}
.settlement-container {
  padding: 55px 10px 0px 10px;
  margin-bottom: 65px;
}
.address-row {
  background: white;
  padding: 6px 10px;
  border-bottom: 1px solid #CFCFCF;
}
.settlement {
  padding: 7px 0px;
  border-bottom: 1px solid #CFCFCF;
} 
.settlement-img {
  height: 35px;
  margin-right: 10px;
}
.invoice {
  height: 80px;
}
.orange-word {
  color: #D8782E;
}
.shopname {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 0px;
  border-bottom: 1px solid #CFCFCF;
}
.save-area {
  position: fixed;
  z-index: 999;
  height: 50px;
  bottom: 39px;
  color: white;
  font-size: 20px;
}
.total-money {
  height: 40px;
  background: #404040;
}
.submit-orders {
  background: #F36C2C;
  color: white;
  text-align: center;
  height: 40px;
  padding-top: 5px;
  cursor: pointer;
}
.order-goods-img {
  width: 80%;
  max-width: 120px;
  max-height: 90px;
}
.orderinfo {
  display: block;
}

/* 支付、配送、发票 */
.orderinfo-container {
  padding: 7px;
}
.part-title {
  padding: 10px 0px;
  border-bottom: 1px solid #F0F0F0;
  text-align: center;
}
.paytype {
  background-color: white;
}
.paytype.active {
  background-color: #F67726;
  color: white;
}
.shop-invoice {
  margin: 5px 0px;
}
.paytype.red {
  color: white;
  background-color: red;
}
.save-order-info {
  cursor: pointer;
  font-size: 1.2em;
}
.address-container {
  padding-top: 50px;
}
.address-selected {
  color: green;
}
.paytype-wrapper {
  margin-bottom: 10px;
}
.scoremoney {
  padding: 7px 0px;
}
.check-icon {
  margin-right: 5px;
  font-size: 20px;
}
.get-score {
  font-size: 1.3rem;
  text-align: right;
  padding-top: 10px;
}
.score-rules {
  font-size: 1.2rem;
}
.invoice-group {
  margin-bottom: 0;
}
.invoice-label {
  font-weight: normal;
}