.shophome-container {
	padding-top: 48px;
}
.shop-info-area {
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 0px 10px;
	font-size: 0.95em;
}
.shop-img-area {
	text-align: center;
}
.shop-img {
	width: 80%;
	max-width: 100px;
	border-radius: 5px;
}
.shop-title-area img {
	height: 20px;
}
.shop-icon {
	text-align: right;
}
.address-area {
	height: 35px;
}
.phone-area {
	height: 35px;
}
.shop-score-area {
	border-top: 1px solid #949494;
	padding-top: 10px;
	text-align: center;
	font-size: 1.3rem;
}
.shop-score {
	color: #F56830;
}
.list-title-area {
	border-bottom: 2px solid #959595;
	margin-top: 20px;
	height: 30px;
}
.list-title {
	padding: 7px 15px;
	color: white;
	background: #959595;
	margin-left: 15px;
}
.search-area {
	background: #E2E2E2;
	height: 50px;
	padding: 15px;
	font-size: 0.85em;
}
.shop-price {
	width: 60px;
	height: 25px;
	border: 1px solid #959595;
}
.shop-search {
	padding: 4px 15px;
	border-radius: 5px;
	border: none;
	margin-left: 15px;
	background: #F5772A;
	font-size: 1.5rem;
}
.condition-area {
	text-align: center;
}
.condition-li {
	padding: 10px 0px;
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	background: #F8F8F8;
}
.condition-li.active {
	border-bottom: none;
	background: none;
}
.conditions {
	cursor: pointer;
}
.condition.condition-blue {
	color: black;
}
.goods-list {
	margin: 10px 0px;
}
.goods-area {
	padding: 15px 0px;
}
.goods-area.goods-area-active {
	border-top: 1px solid #B1B1B1;
}
.shop-goods-img {
	width: 100%;
	max-width: 120px;
}
.shop-cart {
	height: 40px;
	margin-top: 10px;
	cursor: pointer;
}
.goods-name {
	color: black;
}
.goods-price {
	display: block;
	color: #E85C2B;
}
.right-icon {
	width: 13px;
}
.loading-icon {
	padding-top: 10px;
    text-align: center;
}

.goods-filter-area {
	text-align: center;
	height: 40px;
	background: #F8F8F8;
	font-size: 1.4rem;
}
.goods-filter {
	height: 35px;
	margin-top: 5px;
	cursor: pointer;
	background: white;
}
.goods-filter.active {
	border-bottom: 3px solid #FFA229;
	border-radius: 2px;
	color: #FF9F2A;
}
.left-icon {
    width: 10px;
}
.right-icon {
    width: 12px;
}
.goods {
	padding: 10px 0px;
}
.wst-goodsimage {
	height: 85px;
}
.wst-goodsname {
	margin-bottom: 0px;
	font-size: 1em;
	color: black;
	font-size: 1.5rem;
	display: block;
	height: 25px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	-o-text-overflow: ellipsis;
  	white-space: nowrap;
}
.goods-star {
	height: 15px;
	margin: 3px 0px;
}
.wst-price {
	display: block;
	color: #EF641F;
	font-size: 0.85em;
	margin-top: 7px;
	font-size: 1.5rem;
}
.goodsname-bottom {
	color: #BABABA;
	font-size: 0.85em;
}
.alignright {
	text-align: right;
}
.goods:nth-child(n+2) {
	border-top: 2px solid #F1F1F3;
}
.wst-goodsimage-area {
	text-align: center;
	overflow: hidden;
	padding: 0px 5px;
}
.goodlist-cart {
    cursor: pointer;
    width: 40px;
}
.favorite-shop {
	position: relative;
	top: -5px;
}