<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['mallTitle']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
   </head>
  
   <body class='wst-page'>
		<div class='wst-tbar'>
		  <button onclick="windin.go(-1)" class="btn btn-primary glyphicon glyphicon-search" style="float: right;">返回</button> 
       </div>
       <div class="wst-body">
        <table class="table table-hover table-striped table-bordered wst-list">
           <thead>
             <tr>
               <th width='30'>&nbsp;</th>
               <th width='80'>用户名</th>
               <th width='100'>手机号码</th>
               <th width='100'>电子邮箱</th> 
               <th width='100'>总佣金</th>
               <th width='100'>等级</th>
               <th width='100'>注册时间</th>
               <th width='60'>状态</th>
             </tr>
           </thead>
           <tbody>
            <volist name="Page['root']" id="vo" key='i'>
             <tr>
               <td>{$i}</td>
               <td>
               		<img src='__ROOT__/{$vo['userPhoto']}' width='50'/>
               		{$vo['userName']!=""?$vo['userName']:$vo['loginName']}&nbsp;
               </td>
               <td>{$vo['userPhone']}&nbsp;</td>
               <td>{$vo['userEmail']}&nbsp;</td>
               <td>{$vo['distributMoney']}&nbsp;</td>
               <td>
               <if condition="$vo['userType']==0 ">
               {$vo['userRank']}
               <else/>
               &nbsp;-&nbsp;
               </if>
               &nbsp;</td>
               <td>{$vo['createTime']}&nbsp;</td>
               <td>
               <if condition="$vo['userStatus']==0 ">
                 <span class='label label-danger wst-label'>
			               停用
			     </span>          
			     <else/>
			     <span class='label label-success wst-label'>
			               启用
			     </span> 
               </if>
               </td>
             </tr>
             </volist>
             <tr>
                <td colspan='11' align='center'>{$Page['pager']}</td>
             </tr>
           </tbody>
        </table>
       </div>
   </body>
</html>