<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['shopTitle']['fieldValue']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/layer/layer.min.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
   </head>
   <style>
   *{box-sizing:content-box;}
   </style>
   <body class='wst-page'>
     <form action='{:U('Admin/Distributs/queryMoneys')}' method='post' autocomplete="off">
       <div class='wst-tbar' style='height:25px;'>
       <div style='float:left;'>
      	订单号：<input type="text" name="orderNo" style='width:120px;' value='{$orderNo}'/>
      	用户名：<input type="text" name="userName" style='width:120px;' value='{$userName}'/>
      	佣金状态：<select name="settlementId">
			<option value="-999" <if condition="$settlementId eq 0">selected</if>>所有状态</option>
			<option value="0" <if condition="$settlementId eq 0">selected</if>>未结算</option>
			<option value="1" <if condition="$settlementId eq 1">selected</if>>已结算</option>
		</select>
		 记录时间：<input type='text' id='startDate' class='laydate-icon' name='startDate' value='{$startDate}' style='width:100px' placeholder='开始日期' onclick='laydate({format: "YYYY-MM-DD"})'/>
             <input type='text' id='endDate' class='laydate-icon' name='endDate' value='{$endDate}' style='width:100px' placeholder='结束日期' onclick='laydate({format: "YYYY-MM-DD"})'/>
		
		<button type="submit" class="btn btn-primary glyphicon glyphicon-search">查询</button> 
       </div>
       </form>
       <div class="wst-body"> 
        <table class="table table-hover table-striped table-bordered wst-list">
           <thead>
             <tr>
               <th width='20'>&nbsp;</th>
               <th width='120'>订单编号</th>
               <th width='150'>获佣用户</th>
			   <th >佣金描述</th>
			   <th width='100'>佣金金额</th>
			   <th width='150'>记录时间</th>
             </tr>
           </thead>
           <tbody>
            <volist name="Page['root']" id="vo" key='i'>
             <tr>
               <td>{$i}</td>
               <td><a href="{:U('Admin/Orders/toView',array('id'=>$vo['orderId']))}"">{$vo['orderNo']}</a>&nbsp;</td>
               <td>{$vo['userName']!=""?$vo['userName']:$vo['loginName']}</td>
               <td>{$vo['moneyRemark']}</td>
               <td>{$vo['distributMoney']}</td>
               <td>{$vo['createTime']}</td>
             </tr>
             </volist>
             <tr>
                <td colspan='8' align='center'>{$Page['pager']}</td>
             </tr>
           </tbody>
        </table>
       </div>
   </body>
</html>